openapi: 3.0.3
info:
  title: iyzico — odeme-metotlari/on-provizyon
  version: unversioned
  description: Reassembled from the per-endpoint fragments embedded in https://docs.iyzico.com/. iyzico
    publishes no OpenAPI file; this is a record of what was documented, not a contract they offer.
servers:
- url: https://api.iyzipay.com
  description: Production
- url: https://sandbox-api.iyzipay.com
  description: Sandbox
security:
- ApiKeyAuth: []
  SecretKeyAuth: []
  MerchantIdAuth: []
tags:
- name: Ön Provizyon
  description: Ön provizyon işlemleri (başlatma/kapama/iptal)
paths:
  /payment/3dsecure/auth:
    post:
      summary: Create 3DS Payment
      description: 3DS doğrulaması sonrasında, ödeme işleminin sonlandırılması için bu endpoint’e istek
        yapılmalıdır. Bu servis, doğrulama adımından sonra alınan bilgilerle çalıştırılır ve işlemi başarılı
        ya da başarısız olarak sonuçlandırır.
      tags:
      - 3DS Payment
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDSAuthRequest'
      responses:
        '200':
          description: Başarılı yanıt (ödeme tamamlandı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-iyzico-source: https://docs.iyzico.com/odeme-metotlari/on-provizyon/on-provizyon-entegrasyonu/provizyon-baslatma/3ds.md
  /payment/3dsecure/initialize/preauth:
    post:
      summary: Initialize 3DS Payment
      description: 3D Secure oturumu başlatır ve 3DS doğrulama için htmlContent değeri döner.
      tags:
      - 3DS Payment
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDSInitializeRequest'
      responses:
        '200':
          description: Başarılı yanıt (3DS başlatıldı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDSInitializeResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-iyzico-source: https://docs.iyzico.com/odeme-metotlari/on-provizyon/on-provizyon-entegrasyonu/provizyon-baslatma/3ds.md
  /payment/iyzipos/checkoutform/auth/ecom/detail:
    post:
      summary: Ödeme Formu (CF) sorgulama
      description: CF ödeme formu tamamlandıktan sonra, `token` ile sonuçları sorgular.
      tags:
      - CheckoutForm
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CFRetrieveRequest'
      responses:
        '200':
          description: Başarılı yanıt (ödeme tamamlandı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFRetrieveResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse3'
      x-iyzico-source: https://docs.iyzico.com/odeme-metotlari/on-provizyon/on-provizyon-entegrasyonu/provizyon-baslatma/iyzico-odeme-formu-checkoutform.md
  /payment/iyzipos/checkoutform/initialize/preauth/ecom:
    post:
      summary: Ödeme Formu (CF) Başlatma
      description: Ödeme formu (Checkout Form) oturumu başlatır ve ödeme sayfasını göstermek için `checkoutFormContent`
        / `paymentPageUrl` ve işleme ait `token` döner.
      tags:
      - CheckoutForm
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CFInitializeRequest'
      responses:
        '200':
          description: Başarılı yanıt (CF başlatıldı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFInitializeResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse3'
      x-iyzico-source: https://docs.iyzico.com/odeme-metotlari/on-provizyon/on-provizyon-entegrasyonu/provizyon-baslatma/iyzico-odeme-formu-checkoutform.md
  /payment/postauth:
    post:
      tags:
      - Ön Provizyon
      summary: Provizyon Kapama (PostAuth)
      description: 'Başarılı şekilde ön provizyonu alınmış bir ödemeyi **satışa çevirir**.

        '
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAuthRequest'
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAuthResponse'
      x-iyzico-source: https://docs.iyzico.com/odeme-metotlari/on-provizyon/on-provizyon-entegrasyonu/provizyon-kapama.md
  /payment/preauth:
    post:
      summary: Create Non3D Payment
      description: 3D Secure olmadan ödeme başlatır.
      tags:
      - Non3D Payment
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - paidPrice
              - price
              - currency
              - paymentCard
              - buyer
              - shippingAddress
              - billingAddress
              - basketItems
              properties:
                conversationId:
                  type: string
                  description: İstek/yanıt eşleştirmesi için benzersiz ID.
                locale:
                  type: string
                  description: Dil kodu. Alabileceği değerler; tr, en. Default; tr
                  enum:
                  - tr
                  - en
                paidPrice:
                  type: decimal
                  description: Kullanıcıdan tahsil edilecek toplam tutar.
                price:
                  type: decimal
                  description: Sepet toplam tutarı.
                paymentGroup:
                  type: string
                  description: Ödeme grubu. Default; PRODUCT.
                  enum:
                  - PRODUCT
                  - LISTING
                  - SUBSCRIPTION
                currency:
                  type: string
                  description: Para birimi. Default; TRY.
                  enum:
                  - TRY
                  - USD
                  - EUR
                  - GBP
                  - NOK
                  - CHF
                installment:
                  type: integer
                  description: Taksit sayısı. Gönderilmezse tek çekim (1) olarak işlem sağlanılabilir.
                  enum:
                  - 1
                  - 2
                  - 3
                  - 6
                  - 9
                  - 12
                basketId:
                  type: string
                  description: Sepet ID’si.
                paymentChannel:
                  type: string
                  description: Ödeme kanalı.
                  enum:
                  - WEB
                  - MOBILE
                  - MOBILE_WEB
                  - MOBILE_IOS
                  - MOBILE_ANDROID
                  - MOBILE_WINDOWS
                  - MOBILE_TABLET
                  - MOBILE_PHONE
                paymentCard:
                  description: Kart Bilgileri.
                  $ref: '#/components/schemas/PaymentCard'
                buyer:
                  description: Alıcı Bilgileri.
                  $ref: '#/components/schemas/Buyer'
                shippingAddress:
                  description: Kargo Adresi. Sepetteki ürünlerden en az bir tanesinin, itemType "PHYSICAL"
                    olması durumunda gönderilmesi zorunludur. Tüm ürünler "VIRTUAL" olduğu taktirde gönderilmesi
                    gerekmez.
                  $ref: '#/components/schemas/Address2'
                billingAddress:
                  description: Fatura Adresi.
                  $ref: '#/components/schemas/Address2'
                basketItems:
                  type: array
                  description: Sepetteki ürünler.
                  items:
                    $ref: '#/components/schemas/BasketItem'
                paymentSource:
                  type: string
                  description: Bu alan, partner firmalar tarafından iletilen ödeme kaynağı bilgisidir.
                    Eğer bir altyapı sağlayıcısıysanız ve iyzico ile entegrasyon/iş birliğiniz bulunuyorsa
                    bu parametreyi gönderebilirsiniz.
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse2'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
      x-iyzico-source: https://docs.iyzico.com/odeme-metotlari/on-provizyon/on-provizyon-entegrasyonu/provizyon-baslatma/non3d.md
  /payment/v2/3dsecure/auth:
    post:
      summary: Create 3DS v2 Payment
      description: Doğrulama sonrası ödeme sonucunun alınması için hem v1 hem de yeni nesil v2 endpoint’i
        kullanılabilir. Daha güncel teknolojilere uyum sağlamak adına v2 endpoint’inin kullanılmasını
        öneririz.
      tags:
      - 3DS Payment
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDSV2AuthRequest'
      responses:
        '200':
          description: Başarılı yanıt (ödeme tamamlandı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDSV2PaymentResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse2'
      x-iyzico-source: https://docs.iyzico.com/odeme-metotlari/on-provizyon/on-provizyon-entegrasyonu/provizyon-baslatma/3ds.md
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    SecretKeyAuth:
      type: apiKey
      in: header
      name: x-secret-key
    MerchantIdAuth:
      type: apiKey
      in: header
      name: x-merchant-id
  schemas:
    Address:
      type: object
      required:
      - address
      - contactName
      - city
      - country
      properties:
        address:
          type: string
          description: Tam adres.
        zipCode:
          type: string
          description: Posta kodu.
        contactName:
          type: string
          description: İletişim adı.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
    Address2:
      type: object
      required:
      - address
      - contactName
      - city
      - country
      properties:
        address:
          type: string
          description: Tam adres.
        zipCode:
          type: string
          description: Posta kodu.
        contactName:
          type: string
          description: İlgili kişi.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
    BasketItem:
      type: object
      required:
      - id
      - price
      - name
      - category1
      - itemType
      properties:
        id:
          type: string
          description: Ürün ID.
        price:
          type: decimal
          description: Ürün fiyatı.
        name:
          type: string
          description: Ürün adı.
        category1:
          type: string
          description: Ana kategori.
        category2:
          type: string
          description: Alt kategori (opsiyonel).
        itemType:
          type: string
          description: Ürün tipi.
          enum:
          - PHYSICAL
          - VIRTUAL
        subMerchantKey:
          type: string
          description: Hizmeti veren alt üye işyerine ait, alt üye işyeri anahtarı bilgisi. Standart iş
            modelinde gönderilmez. Sadece pazaryeri iş modelinde gönderilmesi gerekmektedir.
        subMerchantPrice:
          type: string
          description: Alt üye işyerine aktarılacak tutar. Standart iş modelinde gönderilmez. Sadece pazaryeri
            iş modelinde gönderilmesi gerekmektedir.
    Buyer:
      type: object
      required:
      - id
      - name
      - surname
      - identityNumber
      - email
      - gsmNumber
      - registrationAddress
      - city
      - country
      properties:
        id:
          type: string
          description: Müşteri ID’si.
        name:
          type: string
          description: Adı.
        surname:
          type: string
          description: Soyadı.
        identityNumber:
          type: string
          description: TC Kimlik Numarası.
        email:
          type: string
          description: E-posta.
        gsmNumber:
          type: string
          description: Telefon numarası.
        registrationDate:
          type: string
          description: Kayıt tarihi (yyyy-MM-dd HH:mm:ss).
        lastLoginDate:
          type: string
          description: Son giriş tarihi (yyyy-MM-dd HH:mm:ss).
        registrationAddress:
          type: string
          description: Adres.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
        zipCode:
          type: string
          description: Posta kodu.
        ip:
          type: string
          description: IP adresi.
    Buyer3DS:
      type: object
      required:
      - id
      - name
      - surname
      - identityNumber
      - email
      - gsmNumber
      - registrationAddress
      - city
      - country
      properties:
        id:
          type: string
          description: Müşteri ID’si.
        name:
          type: string
          description: Ad.
        surname:
          type: string
          description: Soyad.
        identityNumber:
          type: string
          description: Kimlik numarası.
        email:
          type: string
          description: E-posta.
        gsmNumber:
          type: string
          description: Cep telefonu.
        registrationDate:
          type: string
          description: Kayıt tarihi (YYYY-MM-DD hh:mm:ss).
        lastLoginDate:
          type: string
          description: Son giriş tarihi (YYYY-MM-DD hh:mm:ss).
        registrationAddress:
          type: string
          description: Kayıtlı adres.
        city:
          type: string
          description: Şehir kodu/adı.
        country:
          type: string
          description: Ülke.
        zipCode:
          type: string
          description: Posta kodu.
        ip:
          type: string
          description: IP adresi.
    BuyerCF:
      type: object
      required:
      - id
      - name
      - surname
      - identityNumber
      - email
      - gsmNumber
      - registrationAddress
      - city
      - country
      properties:
        id:
          type: string
          description: Müşteri ID’si.
        name:
          type: string
          description: Ad.
        surname:
          type: string
          description: Soyad.
        identityNumber:
          type: string
          description: Kimlik numarası.
        email:
          type: string
          description: E-posta.
        gsmNumber:
          type: string
          description: Cep telefonu.
        registrationDate:
          type: string
          description: Kayıt tarihi (YYYY-MM-DD hh:mm:ss).
        lastLoginDate:
          type: string
          description: Son giriş tarihi (YYYY-MM-DD hh:mm:ss).
        registrationAddress:
          type: string
          description: Kayıtlı adres.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
        zipCode:
          type: string
          description: Posta kodu.
        ip:
          type: string
          description: IP adresi.
    CFInitializeRequest:
      type: object
      required:
      - price
      - paidPrice
      - currency
      - callbackUrl
      - buyer
      - shippingAddress
      - billingAddress
      - basketItems
      properties:
        locale:
          type: string
          description: Dil kodu. Varsayılan; tr. Ödeme formunun İngilizce oluşturulması için "en" gönderilmelidir.
          enum:
          - tr
          - en
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si. İstekte gönderilen değer, response'da aynen geri
            döner.
        price:
          type: decimal
          description: Sepet toplamı.
        paidPrice:
          type: decimal
          description: Tahsil edilecek toplam tutar.
        currency:
          type: string
          description: Para birimi. Varsayılan; TRY.
          enum:
          - TRY
          - USD
          - EUR
          - GBP
          - NOK
          - CHF
        basketId:
          type: string
          description: Sepet ID’si.
        paymentGroup:
          type: string
          description: Ödeme grubu. Varsayılan; PRODUCT.
          enum:
          - PRODUCT
          - LISTING
          - SUBSCRIPTION
        callbackUrl:
          type: string
          description: Ödeme akışında üye işyerine başarılı ve hatalı sonucu bildirmek üzere alınan URL
            adresi. Geçerli bir ssl sertifikasına sahip olmalıdır.
        enabledInstallments:
          type: array
          description: Kullanılabilir taksit seçenekleri.
          items:
            type: integer
        buyer:
          description: Alıcı Bilgileri
          $ref: '#/components/schemas/BuyerCF'
        shippingAddress:
          description: Teslimat Adresi. Sepetteki ürünlerden en az bir tanesi PHYSICAL ise zorunludur.
            Tüm ürünler VIRTUAL ise gönderilmesi gerekmez.
          $ref: '#/components/schemas/Address'
        billingAddress:
          description: Fatura Adresi
          $ref: '#/components/schemas/Address'
        basketItems:
          type: array
          description: Sepetteki ürünler.
          items:
            $ref: '#/components/schemas/BasketItem'
        paymentSource:
          type: string
          description: Bu alan, partner firmalar tarafından iletilen ödeme kaynağı bilgisidir. Eğer bir
            altyapı sağlayıcısıysanız ve iyzico ile entegrasyon/iş birliğiniz bulunuyorsa bu parametreyi
            gönderebilirsiniz.
    CFInitializeResponse:
      type: object
      properties:
        status:
          type: string
          description: Gönderilen isteğin sonucu.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili.
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
        token:
          type: string
          description: Checkout form için oluşturulan tekil değer. Her istek için özel üretilir ve işyerine
            dönülür. Ödemenin sonucunu öğrenmek için zorunlu bir alandır.
        checkoutFormContent:
          type: string
          description: Ödeme formunun HTML içeriği (Base64 kodlu).
        paymentPageUrl:
          type: string
          description: iyzico Ortak Ödeme Sayfası için dönen URL adresi.
        signature:
          type: string
          description: İmza doğrulaması için kullanılabilecek signature değeri.
    CFRetrieveRequest:
      type: object
      required:
      - token
      properties:
        locale:
          type: string
          description: Dil kodu. Varsayılan; tr
          enum:
          - tr
          - en
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si. İstekte gönderilen değer, response'da aynen geri
            döner.
        token:
          type: string
          description: CF initialize yanıtından dönen token.
    CFRetrieveResponse:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucu.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili.
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
        price:
          type: decimal
          description: Sepet toplam tutarı.
        paidPrice:
          type: decimal
          description: Tahsil edilen toplam tutar.
        installment:
          type: integer
          description: Taksit sayısı.
        paymentId:
          type: string
          description: Ödeme ID’si.
        fraudStatus:
          type: integer
          description: "Fraud filtrelerine göre ödeme durumu. Eğer ödemenin fraud risk skoru düşük ise\
            \ ödemeye anında onay verilir, eğer fraud risk skoru yüksek ise ödeme işlemi reddedilir. Üye\
            \ işyeri sadece 1 olan işlemlerde ürünü kargoya vermelidir, 0 olan işlemler için bilgilendirme\
            \ beklemelidir.\n - 1: Onaylandı\n - 0: İncelemede\n - -1: Reddedildi\n"
          enum:
          - 0
          - -1
          - 1
        merchantCommissionRate:
          type: decimal
          description: Üye işyerinin uyguladığı vade/komisyon oranı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon oranı %10’dur. Bilgi amaçlıdır.
        merchantCommissionRateAmount:
          type: decimal
          description: Üye işyerinin uyguladığı vade/komisyon tutarı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon tutarı 10’dur. Bilgi amaçlıdır.
        iyziCommissionRateAmount:
          type: decimal
          description: Ödemeye ait iyzico işlem komisyon tutarı.
        iyziCommissionFee:
          type: decimal
          description: Ödemeye ait iyzico işlem ücreti.
        cardType:
          type: string
          description: Kart tipi.
          enum:
          - CREDIT_CARD
          - DEBIT_CARD
          - PREPAID_CARD
        cardAssociation:
          type: string
          description: Kart markası.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
          - TROY
        cardFamily:
          type: string
          description: Kart ailesi.
          enum:
          - Bonus
          - Axess
          - World
          - Maximum
          - Paraf
          - CardFinans
        binNumber:
          type: string
          description: BIN (ilk 8 hane).
        lastFourDigits:
          type: string
          description: Kartın son 4 hanesi.
        basketId:
          type: string
          description: Sepet ID.
        currency:
          type: string
          description: Para birimi.
          enum:
          - TRY
          - USD
          - EUR
          - NOK
          - CHF
          - GBP
        itemTransactions:
          type: array
          description: Sepet öğelerine ait işlem kalemleri.
          items:
            type: object
            properties:
              paymentTransactionId:
                type: string
                description: Ödeme kırılımına ait id, üye işyeri tarafından mutlaka saklanmalıdır. Ödeme
                  kırılımının iadesi, onayı, onay geri çekmesi ve iyzico ile iletişimde kullanılır. Tercihen
                  itemId ile ilişkili bir şekilde tutulmalıdır.
              itemId:
                type: string
                description: Üye işyeri tarafından iletilen, sepetteki ürüne ait id.
              price:
                type: decimal
                description: Üye işyeri tarafındaki sepetteki ürüne ait tutar.
              paidPrice:
                type: decimal
                description: Tahsilat tutarının kırılım bazındaki dağılımı. Üye işyeri tarafından mutlaka
                  saklanmalıdır.
              transactionStatus:
                type: integer
                description: 'Ödeme kırılımının durumu.

                  - 0: Fraud kontrolünde

                  - -1: Fraud kontrolünden sonra reddedildi

                  - 1: Onaylandı. (Pazaryerinde 1 değeri Üye İşyeri Onayı Bekliyor Anlamına Gelir)

                  - 2: Onaylandı (Pazaryeri Onay Verilmiş)

                  '
                enum:
                - 0
                - -1
                - 1
                - 2
              blockageRate:
                type: decimal
                description: Kırılım bazında üye işyeri blokaj oranı. iyzico – üye işyeri anlaşmasına
                  göre, üye işyerine işlem bazında blokaj uygulayabilir. Bu blokaj üye işyeri fraud riskini
                  önlemek içindir, blokaj süresi boyunca para iyzico’da tutulur, bu süre sonrasında üye
                  işyerine gönderilir.
              blockageRateAmountMerchant:
                type: decimal
                description: Kırılım bazında üye işyeri blokaj tutarının, üye işyerine yansıyan rakamı.
                  Blokaj tutarı mümkün olduğunca üye işyerine yansıtılır. Eğer blokaj tutarı, üye işyeri
                  tutarından daha büyükse bu durumda alt üye işyerine de yansıtılır.
              blockageResolvedDate:
                type: string
                description: İşlem bazında blokaj çözülme tarihi. yyyy-MM-dd HH:mm:ss formatındadır, örn.
                  2015-10-19 14:36:52.
              iyziCommissionFee:
                type: decimal
                description: iyzico işlem ücretinin kırılım bazında dağılmış tutarı.
              iyziCommissionRateAmount:
                type: decimal
                description: iyzico işlem komisyon tutarının kırılım bazında dağılmış tutarı.
              merchantCommissionRate:
                type: decimal
                description: Üye işyerinin uyguladığı vade/komisyon oranının kırılım bazında dağılmış
                  oranı.
              merchantCommissionRateAmount:
                type: decimal
                description: Üye işyerinin uyguladığı vade/komisyon tutarıın, kırılım bazında dağılmış
                  tutarı.
              merchantPayoutAmount:
                type: decimal
                description: Bu kırılım için, iyzico işlem ücreti, komisyon tutarı ve blokajlar düşüldükten
                  sonra üye işyerine gönderilecek tutar.
              convertedPayout:
                type: object
                description: Kırılım bazında, kur çevrimi sonrası hesaplamalar.
                properties:
                  paidPrice:
                    type: decimal
                    description: Tahsilat tutarının kırılım bazındaki dağılımı. Üye işyeri tarafından
                      mutlaka saklanmalıdır.
                  iyziCommissionFee:
                    type: decimal
                    description: iyzico işlem ücretinin kırılım bazında dağılmış tutarı.
                  iyziCommissionRateAmount:
                    type: decimal
                    description: iyzico işlem komisyon tutarının kırılım bazında dağılmış tutarı.
                  blockageRateAmountMerchant:
                    type: decimal
                    description: Kırılım bazında üye işyeri blokaj tutarının, üye işyerine yansıyan rakamı.
                      Blokaj tutarı mümkün olduğunca üye işyerine yansıtılır. Eğer blokaj tutarı, üye
                      işyeri tutarından daha büyükse bu durumda alt üye işyerine de yansıtılır.
                  merchantPayoutAmount:
                    type: decimal
                    description: Bu kırılım için, iyzico işlem ücreti, komisyon tutarı ve blokajlar düşüldükten
                      sonra üye işyerine gönderilecek tutar.
                  iyziConversationRate:
                    type: decimal
                    description: Kur oranı.
                  iyziConversationRateAmount:
                    type: decimal
                    description: Kur oranı sonucu tutar.
          currency:
            type: string
            description: Ödemenin alındığı para birimi.
        authCode:
          type: string
          description: Bankadan dönen authCode değeri.
        phase:
          type: string
          description: Ödeme Fazı.
        hostReference:
          type: string
          description: Ödemeye ilişkin banka tarafından verilen hostReference değeri.
        signature:
          type: string
          description: İmza doğrulaması için kullanılabilecek signature değeri.
        token:
          type: string
          description: CheckoutForm Token Değeri.
        callbackUrl:
          type: string
          description: Dönüş URL’si.
        paymentStatus:
          type: string
          description: Ödeme sonucu.
    ConvertedPayout:
      type: object
      description: Dönüştürülmüş (varsa kur/komisyon sonrası) payout bilgileri.
      properties:
        paidPrice:
          type: decimal
          description: Dönüştürülmüş tahsilat tutarı.
        iyziCommissionRateAmount:
          type: decimal
          description: Dönüştürülmüş iyzico komisyon tutarı.
        iyziCommissionFee:
          type: decimal
          description: Dönüştürülmüş iyzico işlem ücreti.
        blockageRateAmountMerchant:
          type: decimal
          description: Dönüştürülmüş üye işyeri bloke tutarı.
        blockageRateAmountSubMerchant:
          type: decimal
          description: Dönüştürülmüş alt üye işyeri bloke tutarı.
        subMerchantPayoutAmount:
          type: decimal
          description: Dönüştürülmüş alt üye işyeri hakediş tutarı.
        merchantPayoutAmount:
          type: decimal
          description: Dönüştürülmüş üye işyeri hakediş tutarı.
        iyziConversionRate:
          type: decimal
          description: Kullanılan dönüşüm kuru (varsa).
        iyziConversionRateAmount:
          type: decimal
          description: Kur dönüşümüne karşılık gelen tutar (varsa).
        currency:
          type: string
          description: Payout para birimi.
          enum:
          - TRY
          - USD
          - EUR
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucunu bildirir.
          enum:
          - success
          - failure
        errorCode:
          type: string
          description: Hata kodu.
        errorMessage:
          type: string
          description: Hata mesajı.
        locale:
          type: string
          description: Yanıt dili.
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
    ErrorResponse2:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucunu bildirir.
          enum:
          - success
          - failure
        errorCode:
          type: string
          description: Hata kodu.
        errorMessage:
          type: string
          description: Hata mesajı.
        locale:
          type: string
          enum:
          - tr
          - en
          description: Yanıt dili.
        systemTime:
          type: integer
          description: Zaman damgası (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
    ErrorResponse3:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucu.
          enum:
          - success
          - failure
        errorCode:
          type: string
          description: Hata kodu.
        errorMessage:
          type: string
          description: Hata mesajı.
        locale:
          type: string
          description: Yanıt dili.
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
    ErrorResponse4:
      type: object
      properties:
        status:
          type: string
          description: Hata/başarı bilgisi.
        errorCode:
          type: string
          description: Hata kodu.
        errorMessage:
          type: string
          description: Hata mesajı.
        errorGroup:
          type: string
          description: Hata grubu.
        locale:
          type: string
          description: Dil kodu.
        systemTime:
          type: integer
          description: Sistem zamanı.
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si.
    ItemTransaction:
      type: object
      description: Sepet kalemi bazında kapama ve hakediş bilgileri.
      properties:
        itemId:
          type: string
          description: Ön provizyon isteğinde belirtilen, basketItemId değeri.
        paymentTransactionId:
          type: string
          description: iyzico tarafından üretilen, ödeme kırılımına ait ID değeri.
        transactionStatus:
          type: integer
          description: 'Kalem durumu:

            `0`=Fraud incelemesi,

            `-1`=Ret edildi.,

            `1`=Onay (pazaryeri için onay bekliyor statüsü.),

            `2`=Onaylandı.

            '
          enum:
          - 0
          - -1
          - 1
          - 2
        price:
          type: decimal
          description: Kalemin fiyatı.
        paidPrice:
          type: decimal
          description: Bu kalem için tahsil edilen tutar.
        merchantCommissionRate:
          type: decimal
          description: Üye işyeri komisyon oranı (kalem bazında).
        merchantCommissionRateAmount:
          type: decimal
          description: Üye işyeri komisyon tutarı (kalem bazında).
        iyziCommissionRateAmount:
          type: decimal
          description: iyzico komisyon tutarı (kalem bazında).
        iyziCommissionFee:
          type: decimal
          description: iyzico işlem ücreti (kalem bazında).
        blockageRate:
          type: decimal
          description: Bloke oranı.
        blockageRateAmountMerchant:
          type: decimal
          description: Üye işyeri bloke tutarı.
        blockageRateAmountSubMerchant:
          type: decimal
          description: Alt üye işyeri bloke tutarı.
        blockageResolvedDate:
          type: string
          description: Blokenin çözümlendiği tarih (`YYYY-MM-DD hh:mm:ss`).
        subMerchantPrice:
          type: decimal
          description: Alt üye işyeri fiyatı (varsa).
        subMerchantPayoutRate:
          type: decimal
          description: Alt üye işyeri ödeme oranı (varsa).
        subMerchantPayoutAmount:
          type: decimal
          description: Alt üye işyeri hakediş tutarı.
        merchantPayoutAmount:
          type: decimal
          description: Üye işyeri net hakediş tutarı (kalem bazında).
        convertedPayout:
          $ref: '#/components/schemas/ConvertedPayout'
    PaymentCard:
      type: object
      required:
      - cardHolderName
      - cardNumber
      - expireYear
      - expireMonth
      - cvc
      properties:
        cardHolderName:
          type: string
          description: Kart sahibinin adı soyadı.
        cardNumber:
          type: string
          description: Kart numarası.
        expireYear:
          type: string
          description: Son kullanma yılı (YYYY formatında).
        expireMonth:
          type: string
          description: Son kullanma ayı (MM formatında).
        cvc:
          type: string
          description: CVC kodu.
        registerCard:
          type: integer
          description: Kart kaydedilsin mi? (0 = hayır, 1 = evet)
    PaymentCard3DS:
      type: object
      required:
      - cardHolderName
      - cardNumber
      - expireYear
      - expireMonth
      - cvc
      properties:
        cardHolderName:
          type: string
          description: Kart sahibi adı soyadı.
        cardNumber:
          type: string
          description: Kart numarası (PAN).
        expireYear:
          type: string
          description: Son kullanma yılı (YY ya da YYYY).
        expireMonth:
          type: string
          description: Son kullanma ayı (MM).
        cvc:
          type: string
          description: Kart güvenlik kodu.
        registerCard:
          type: integer
          description: Kart kaydedilsin mi? (0 = hayır, 1 = evet)
    PaymentResponse:
      type: object
      properties:
        status:
          type: string
          description: Yapılan işleminin sonucunu bildirir. success dönmesi taktirinde ödeme işlemi başarılı
            anlamına gelir.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili (tr/en).
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
        price:
          type: decimal
          description: Sepet toplam tutarı.
        paidPrice:
          type: decimal
          description: Tahsil edilen toplam tutar.
        installment:
          type: integer
          description: Taksit sayısı.
        paymentId:
          type: string
          description: Ödeme ID’si.
        fraudStatus:
          type: integer
          description: "Fraud filtrelerine göre ödeme durumu. Eğer ödemenin fraud risk skoru düşük ise\
            \ ödemeye anında onay verilir, eğer fraud risk skoru yüksek ise ödeme işlemi reddedilir. Üye\
            \ işyeri sadece 1 olan işlemlerde ürünü kargoya vermelidir, 0 olan işlemler için bilgilendirme\
            \ beklemelidir.\n - 1: Onaylandı\n - 0: İncelemede\n - -1: Reddedildi\n"
          enum:
          - 0
          - -1
          - 1
        merchantCommissionRate:
          type: decimal
          description: Üye işyerinin uyguladığı vade/komisyon oranı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon oranı %10’dur. Bilgi amaçlıdır.
        merchantCommissionRateAmount:
          type: decimal
          description: Üye işyerinin uyguladığı vade/komisyon tutarı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon tutarı 10’dur. Bilgi amaçlıdır.
        iyziCommissionRateAmount:
          type: decimal
          description: Ödemeye ait iyzico işlem komisyon tutarı.
        iyziCommissionFee:
          type: decimal
          description: Ödemeye ait iyzico işlem ücreti.
        cardType:
          type: string
          description: Kart tipi.
        cardAssociation:
          type: string
          description: Kart markası.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
          - TROY
        cardFamily:
          type: string
          description: Kart ailesi/ürünü.
        binNumber:
          type: string
          description: BIN (ilk 8 hane).
        lastFourDigits:
          type: string
          description: Kartın son 4 hanesi.
        basketId:
          type: string
          description: Sepet ID.
        currency:
          type: string
          description: Para birimi.
        itemTransactions:
          type: array
          description: Sepet öğelerine ait işlem kalemleri.
          items:
            type: object
            properties:
              paymentTransactionId:
                type: string
                description: Ödeme kırılımına ait id, üye işyeri tarafından mutlaka saklanmalıdır. Ödeme
                  kırılımının iadesi, onayı, onay geri çekmesi ve iyzico ile iletişimde kullanılır. Tercihen
                  itemId ile ilişkili bir şekilde tutulmalıdır.
              itemId:
                type: string
                description: Üye işyeri tarafından iletilen, sepetteki ürüne ait id.
              price:
                type: decimal
                description: Üye işyeri tarafındaki sepetteki ürüne ait tutar.
              paidPrice:
                type: decimal
                description: Tahsilat tutarının kırılım bazındaki dağılımı. Üye işyeri tarafından mutlaka
                  saklanmalıdır.
              transactionStatus:
                type: integer
                description: 'Ödeme kırılımının durumu.

                  - 0: Fraud kontrolünde

                  - -1: Fraud kontrolünden sonra reddedildi

                  - 1: Onaylandı. (Pazaryerinde 1 değeri Üye İşyeri Onayı Bekliyor Anlamına Gelir)

                  - 2: Onaylandı (Pazaryeri Onay Verilmiş)

                  '
                enum:
                - 0
                - -1
                - 1
                - 2
              blockageRate:
                type: decimal
                description: Kırılım bazında üye işyeri blokaj oranı. iyzico – üye işyeri anlaşmasına
                  göre, üye işyerine işlem bazında blokaj uygulayabilir. Bu blokaj üye işyeri fraud riskini
                  önlemek içindir, blokaj süresi boyunca para iyzico’da tutulur, bu süre sonrasında üye
                  işyerine gönderilir.
              blockageRateAmountMerchant:
                type: decimal
                description: Kırılım bazında üye işyeri blokaj tutarının, üye işyerine yansıyan rakamı.
                  Blokaj tutarı mümkün olduğunca üye işyerine yansıtılır. Eğer blokaj tutarı, üye işyeri
                  tutarından daha büyükse bu durumda alt üye işyerine de yansıtılır.
              blockageResolvedDate:
                type: string
                description: İşlem bazında blokaj çözülme tarihi. yyyy-MM-dd HH:mm:ss formatındadır, örn.
                  2015-10-19 14:36:52.
              iyziCommissionFee:
                type: decimal
                description: iyzico işlem ücretinin kırılım bazında dağılmış tutarı.
              iyziCommissionRateAmount:
                type: decimal
                description: iyzico işlem komisyon tutarının kırılım bazında dağılmış tutarı.
              merchantCommissionRate:
                type: decimal
                description: Üye işyerinin uyguladığı vade/komisyon oranının kırılım bazında dağılmış
                  oranı.
              merchantCommissionRateAmount:
                type: decimal
                description: Üye işyerinin uyguladığı vade/komisyon tutarıın, kırılım bazında dağılmış
                  tutarı.
              merchantPayoutAmount:
                type: decimal
                description: Bu kırılım için, iyzico işlem ücreti, komisyon tutarı ve blokajlar düşüldükten
                  sonra üye işyerine gönderilecek tutar.
              convertedPayout:
                type: object
                description: Kırılım bazında, kur çevrimi sonrası hesaplamalar.
                properties:
                  paidPrice:
                    type: decimal
                    description: Tahsilat tutarının kırılım bazındaki dağılımı. Üye işyeri tarafından
                      mutlaka saklanmalıdır.
                  iyziCommissionFee:
                    type: decimal
                    description: iyzico işlem ücretinin kırılım bazında dağılmış tutarı.
                  iyziCommissionRateAmount:
                    type: decimal
                    description: iyzico işlem komisyon tutarının kırılım bazında dağılmış tutarı.
                  blockageRateAmountMerchant:
                    type: decimal
                    description: Kırılım bazında üye işyeri blokaj tutarının, üye işyerine yansıyan rakamı.
                      Blokaj tutarı mümkün olduğunca üye işyerine yansıtılır. Eğer blokaj tutarı, üye
                      işyeri tutarından daha büyükse bu durumda alt üye işyerine de yansıtılır.
                  merchantPayoutAmount:
                    type: decimal
                    description: Bu kırılım için, iyzico işlem ücreti, komisyon tutarı ve blokajlar düşüldükten
                      sonra üye işyerine gönderilecek tutar.
                  iyziConversationRate:
                    type: decimal
                    description: Kur oranı.
                  iyziConversationRateAmount:
                    type: decimal
                    description: Kur oranı sonucu tutar.
          currency:
            type: string
            description: Ödemenin alındığı para birimi.
        authCode:
          type: string
          description: Bankadan dönen authCode değeri.
        phase:
          type: string
          description: Ödeme Fazı.
        mdStatus:
          type: integer
          description: 3DS doğrulama sonucu (1 ise başarılı).
          enum:
          - -1
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
        hostReference:
          type: string
          description: Ödemeye ilişkin banka tarafından verilen hostReference değeri.
        signature:
          type: string
          description: İmza doğrulaması için kullanılabilecek signature değeri.
    PaymentResponse2:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucunu bildirir.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili (tr/en).
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
        price:
          type: decimal
          description: Sepet toplam tutarı.
        paidPrice:
          type: decimal
          description: Tahsil edilen toplam tutar.
        installment:
          type: integer
          description: Taksit sayısı.
        paymentId:
          type: string
          description: Ödeme ID’si.
        fraudStatus:
          type: integer
          description: "Fraud filtrelerine göre ödeme durumu. Eğer ödemenin fraud risk skoru düşük ise\
            \ ödemeye anında onay verilir, eğer fraud risk skoru yüksek ise ödeme işlemi reddedilir. Üye\
            \ işyeri sadece 1 olan işlemlerde ürünü kargoya vermelidir, 0 olan işlemler için bilgilendirme\
            \ beklemelidir.\n - 1: Onaylandı\n - 0: İncelemede\n - -1: Reddedildi\n"
          enum:
          - 0
          - -1
          - 1
        merchantCommissionRate:
          type: decimal
          description: Üye işyerinin uyguladığı vade/komisyon oranı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon oranı %10’dur. Bilgi amaçlıdır.
        merchantCommissionRateAmount:
          type: decimal
          description: Üye işyerinin uyguladığı vade/komisyon tutarı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon tutarı 10’dur. Bilgi amaçlıdır.
        iyziCommissionRateAmount:
          type: decimal
          description: Ödemeye ait iyzico işlem komisyon tutarı.
        iyziCommissionFee:
          type: decimal
          description: Ödemeye ait iyzico işlem ücreti.
        cardType:
          type: string
          description: Kart tipi.
          enum:
          - CREDIT_CARD
          - DEBIT_CARD
          - PREPAID_CARD
        cardAssociation:
          type: string
          description: Kart kuruluşu.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
          - TROY
        cardFamily:
          type: string
          description: Kart ailesi.
          enum:
          - Bonus
          - Axess
          - World
          - Maximum
          - Paraf
          - CardFinans
        binNumber:
          type: string
          description: BIN (ilk 8 hane).
        lastFourDigits:
          type: string
          description: Kartın son 4 hanesi.
        basketId:
          type: string
          description: Sepet ID.
        currency:
          type: string
          description: Para birimi.
          enum:
          - TRY
          - USD
          - EUR
          - NOK
          - CHF
          - GBP
        itemTransactions:
          type: array
          description: Sepet öğelerine ait işlem kalemleri.
          items:
            type: object
            properties:
              paymentTransactionId:
                type: string
                description: Ödeme kırılımına ait id, üye işyeri tarafından mutlaka saklanmalıdır. Ödeme
                  kırılımının iadesi, onayı, onay geri çekmesi ve iyzico ile iletişimde kullanılır. Tercihen
                  itemId ile ilişkili bir şekilde tutulmalıdır.
              itemId:
                type: string
                description: Üye işyeri tarafından iletilen, sepetteki ürüne ait id.
              price:
                type: decimal
                description: Üye işyeri tarafındaki sepetteki ürüne ait tutar.
              paidPrice:
                type: decimal
                description: Tahsilat tutarının kırılım bazındaki dağılımı. Üye işyeri tarafından mutlaka
                  saklanmalıdır.
              transactionStatus:
                type: integer
                description: 'Ödeme kırılımının durumu.

                  - 0: Fraud kontrolünde

                  - -1: Fraud kontrolünden sonra reddedildi

                  - 1: Onaylandı. (Pazaryerinde 1 değeri Üye İşyeri Onayı Bekliyor Anlamına Gelir)

                  - 2: Onaylandı (Pazaryeri Onay Verilmiş)

                  '
                enum:
                - 0
                - -1
                - 1
                - 2
              blockageRate:
                type: decimal
                description: Kırılım bazında üye işyeri blokaj oranı. iyzico – üye işyeri anlaşmasına
                  göre, üye işyerine işlem bazında blokaj uygulayabilir. Bu blokaj üye işyeri fraud riskini
                  önlemek içindir, blokaj süresi boyunca para iyzico’da tutulur, bu süre sonrasında üye
                  işyerine gönderilir.
              blockageRateAmountMerchant:
                type: decimal
                description: Kırılım bazında üye işyeri blokaj tutarının, üye işyerine yansıyan rakamı.
                  Blokaj tutarı mümkün olduğunca üye işyerine yansıtılır. Eğer blokaj tutarı, üye işyeri
                  tutarından daha büyükse bu durumda alt üye işyerine de yansıtılır.
              blockageRateAmountsubMerchant:
                type: decimal
                description: Kırılım bazında alt üye işyeri blokaj tutarı.
              blockageResolvedDate:
                type: string
                description: İşlem bazında blokaj çözülme tarihi. yyyy-MM-dd HH:mm:ss formatındadır, örn.
                  2015-10-19 14:36:52.
              iyziCommissionFee:
                type: decimal
                description: iyzico işlem ücretinin kırılım bazında dağılmış tutarı.
              iyziCommissionRateAmount:
                type: decimal
                description: iyzico işlem komisyon tutarının kırılım bazında dağılmış tutarı.
              merchantCommissionRate:
                type: decimal
                description: Üye işyerinin uyguladığı vade/komisyon oranının kırılım bazında dağılmış
                  oranı.
              merchantCommissionRateAmount:
                type: decimal
                description: Üye işyerinin uyguladığı vade/komisyon tutarıın, kırılım bazında dağılmış
                  tutarı.
              merchantPayoutAmount:
                type: decimal
                description: Bu kırılım için, iyzico işlem ücreti, komisyon tutarı ve blokajlar düşüldükten
                  sonra üye işyerine gönderilecek tutar.
              subMerchantPrice:
                type: decimal
                description: Alt üye işyeri hakedişi.
              subMerchantPayoutRate:
                type: string
                description: Alt üye işyeri gönderilecek tutar oranı.
              subMerchantPayoutAmount:
                type: decimal
                description: Alt üye işyerine aktarılacak tutar.
              convertedPayout:
                type: object
                description: Kırılım bazında, kur çevrimi sonrası hesaplamalar.
                properties:
                  paidPrice:
                    type: decimal
                    description: Tahsilat tutarının kırılım bazındaki dağılımı. Üye işyeri tarafından
                      mutlaka saklanmalıdır.
                  iyziCommissionFee:
                    type: decimal
                    description: iyzico işlem ücretinin kırılım bazında dağılmış tutarı.
                  iyziCommissionRateAmount:
                    type: decimal
                    description: iyzico işlem komisyon tutarının kırılım bazında dağılmış tutarı.
                  blockageRateAmountMerchant:
                    type: decimal
                    description: Kırılım bazında üye işyeri blokaj tutarının, üye işyerine yansıyan rakamı.
                      Blokaj tutarı mümkün olduğunca üye işyerine yansıtılır. Eğer blokaj tutarı, üye
                      işyeri tutarından daha büyükse bu durumda alt üye işyerine de yansıtılır.
                  blockageRateAmountSubMerchant:
                    type: string
                  subMerchantPayoutAmount:
                    type: string
                  merchantPayoutAmount:
                    type: decimal
                    description: Bu kırılım için, iyzico işlem ücreti, komisyon tutarı ve blokajlar düşüldükten
                      sonra üye işyerine gönderilecek tutar.
                  iyziConversationRate:
                    type: decimal
                    description: Kur oranı.
                  iyziConversationRateAmount:
                    type: decimal
                    description: Kur oranı sonucu tutar.
        authCode:
          type: string
          description: Bankadan dönen authCode değeri.
        phase:
          type: string
          description: Ödeme Fazı.
        hostReference:
          type: string
          description: Ödemeye ilişkin banka tarafından verilen hostReference değeri.
        signature:
          type: string
          description: İmza doğrulaması için kullanılabilecek signature değeri.
    PostAuthRequest:
      type: object
      description: Daha önce ön provizyonu alınmış bir ödemenin kapama (tahsil) isteği.
      required:
      - paymentId
      - paidPrice
      properties:
        locale:
          type: string
          description: Yanıt dili.
          enum:
          - tr
          - en
        conversationId:
          type: string
          description: İstek/yanıt eşleştirmesi için kullanılabilir.
        paymentId:
          type: string
          description: Gerçekleştirilen ön provizyon işlemine ait iyzico'dan dönen ödeme numarası bilgisi.
        paidPrice:
          type: decimal
          description: Karttan tahsil edilecek nihai tutar.
        ip:
          type: string
          description: İsteği gönderen istemcinin IP adresi.
        currency:
          type: string
          description: İşlem para birimi.
    PostAuthResponse:
      type: object
      description: Provizyon kapama (postAuth) yanıtı.
      properties:
        status:
          type: string
          description: İşlem sonucu.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili.
          enum:
          - tr
          - en
        systemTime:
          type: integer
          description: Sistem zamanı (epoch ms).
        conversationId:
          type: string
          description: Gönderildiyse, istekteki conversationId tekrarlanır.
        price:
          type: decimal
          description: Sepet toplam tutarı.
        paidPrice:
          type: decimal
          description: Tahsil edilen (kapama yapılan) tutar.
        installment:
          type: integer
          description: Taksit sayısı; `1` tek çekim anlamına gelir.
        paymentId:
          type: string
          description: Ödeme numarası.
        fraudStatus:
          type: integer
          description: Fraud tarama sonucu; `1`=onay, `0`=inceleme, `-1`=ret.
          enum:
          - 0
          - -1
          - 1
        merchantCommissionRate:
          type: decimal
          description: Üye işyeri uygulanan komisyon oranı.
        merchantCommissionRateAmount:
          type: decimal
          description: Üye işyeri komisyon tutarı (bilgilendirme amaçlı).
        iyziCommissionRateAmount:
          type: decimal
          description: iyzico komisyon tutarı.
        iyziCommissionFee:
          type: decimal
          description: iyzico işlem ücreti.
        cardType:
          type: string
          description: Kart tipi.
          enum:
          - CREDIT_CARD
          - DEBIT_CARD
          - PREPAID_CARD
        cardAssociation:
          type: string
          description: Kart ağı.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
          - TROY
        cardFamily:
          type: string
          description: Kart ailesi (örn. Axess, World, Maximum vb.).
        binNumber:
          type: string
          description: Kartın ilk 8 hanesi.
        lastFourDigits:
          type: string
          description: Kartın son 4 hanesi.
        basketId:
          type: string
          description: Üye işyeri tarafından gönderilen basketId bilgisi.
        currency:
          type: string
          description: İşlemin gerçekleşmiş olduğu para birimi.
          enum:
          - TRY
          - USD
          - EUR
        itemTransactions:
          type: array
          description: Ödeme kırılımı bazında işlem bilgileri.
          items:
            $ref: '#/components/schemas/ItemTransaction'
        authCode:
          type: string
          description: Banka tarafından üretilen otorizasyon kodu.
        phase:
          type: string
          description: İşlem fazı.
        hostReference:
          type: string
          description: Sistem içi referans alanı.
        signature:
          type: string
          description: Yanıt imza değeri (doğrulama için kullanılabilir).
    ThreeDSAuthRequest:
      type: object
      required:
      - paymentId
      properties:
        locale:
          type: string
          description: Dil kodu. Varsayılan; tr
          enum:
          - tr
          - en
        paymentId:
          type: string
          description: Initialize çağrısından dönen ödeme ID’si.
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si.
        conversationData:
          type: string
          description: 3DS sonucunda post edilen data. Dolu dönerse gönderilmesi zorunludur.
    ThreeDSInitializeRequest:
      type: object
      required:
      - price
      - paidPrice
      - callbackUrl
      - paymentCard
      - buyer
      - shippingAddress
      - billingAddress
      - basketItems
      properties:
        locale:
          type: string
          description: Dil kodu. Varsayılan; tr
          enum:
          - tr
          - en
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si.
        price:
          type: decimal
          description: Sepet toplamı.
        paidPrice:
          type: decimal
          description: Tahsil edilecek nihai tutar.
        currency:
          type: string
          description: Para birimi. Varsayılan; TRY.
          enum:
          - TRY
          - USD
          - EUR
          - GBP
          - NOK
          - CHF
        installment:
          type: integer
          description: Taksit sayısı (gönderilmezse tek çekim olarak işlem gerçekleşir).
          enum:
          - 1
          - 2
          - 3
          - 4
          - 6
          - 9
          - 12
        paymentChannel:
          type: string
          description: Ödeme kanalı.
          enum:
          - WEB
          - MOBILE
          - MOBILE_WEB
          - MOBILE_IOS
          - MOBILE_ANDROID
          - MOBILE_WINDOWS
          - MOBILE_TABLET
          - MOBILE_PHONE
        basketId:
          type: string
          description: Sepet ID.
        paymentGroup:
          type: string
          description: Ödeme grubu. Varsayılan; PRODUCT.
          enum:
          - PRODUCT
          - LISTING
          - SUBSCRIPTION
        callbackUrl:
          type: string
          description: 3DS işlem sonrası yönlenecek dönüş URL’si.
        paymentCard:
          description: Kart Bilgileri.
          $ref: '#/components/schemas/PaymentCard3DS'
        buyer:
          description: Alıcı Bilgileri.
          $ref: '#/components/schemas/Buyer3DS'
        shippingAddress:
          description: Kargo Adresi. Sepetteki ürünlerden en az bir tanesinin, itemType "PHYSICAL" olması
            durumunda gönderilmesi zorunludur. Tüm ürünler "VIRTUAL" olduğu taktirde gönderilmesi gerekmez.
          $ref: '#/components/schemas/Address'
        billingAddress:
          description: Fatura Adresi.
          $ref: '#/components/schemas/Address'
        basketItems:
          type: array
          description: Sepetteki ürünler.
          items:
            $ref: '#/components/schemas/BasketItem'
        paymentSource:
          type: string
          description: Bu alan, partner firmalar tarafından iletilen ödeme kaynağı bilgisidir. Eğer bir
            altyapı sağlayıcısıysanız ve iyzico ile entegrasyon/iş birliğiniz bulunuyorsa bu parametreyi
            gönderebilirsiniz.
    ThreeDSInitializeResponse:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucunu bildirir.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili (tr/en).
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
        threeDSHtmlContent:
          type: string
          description: 3DS doğrulama ekranının Base64 kodlu HTML içeriği.
        paymentId:
          type: string
          description: iyzico tarafından dönen uniq paymentId bilgisi.
        signature:
          type: string
          description: İmza doğrulaması için kullanılabilecek signature değeri.
    ThreeDSV2AuthRequest:
      type: object
      required:
      - paymentId
      - paidPrice
      - basketId
      - currency
      properties:
        locale:
          type: string
          enum:
          - tr
          - en
          description: Dil kodu. Varsayılan; tr
        paymentId:
          type: string
          description: 3DS başlatma sonrasında dönen ödeme ID’si.
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si.
        paidPrice:
          type: decimal
          description: 3DS v2 tamamlamada kullanılacak tahsilat tutarı. INIT 3DS aşamasında gönderilen
            paidPrice değeri ile uyumlu olmalı.
        basketId:
          type: string
          description: Sepet ID’si (INIT 3DS basketId ile eşleşmelidir).
        currency:
          type: string
          enum:
          - TRY
          - USD
          - EUR
          - GBP
          - NOK
          - CHF
          description: Para birimi. Varsayılan; TRY (INIT 3DS'de gönderilen değer ile eşleşmelidir.)
    ThreeDSV2PaymentResponse:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucunu bildirir. success dönmesi taktirinde, ödeme işlemi başarılı
            olduğu anlamına gelir.
          enum:
          - success
          - failure
        locale:
          type: string
          enum:
          - tr
          - en
          description: Yanıt dili.
        systemTime:
          type: integer
          description: Zaman damgası (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
        price:
          type: decimal
          description: Sepet toplam tutarı.
        paidPrice:
          type: decimal
          description: Tahsil edilen toplam tutar.
        installment:
          type: integer
          description: Taksit sayısı.
        paymentId:
          type: string
          description: Ödeme ID’si.
        fraudStatus:
          type: integer
          description: 'Fraud filtrelerine göre ödeme durumu. Eğer ödemenin fraud risk skoru düşük ise
            ödemeye anında onay verilir, eğer fraud risk skoru yüksek ise ödeme işlemi reddedilir. Üye
            işyeri sadece 1 olan işlemlerde ürünü kargoya vermelidir, 0 olan işlemler için bilgilendirme
            beklemelidir.

            - 1: Onaylandı

            - 0: İncelemede

            - -1: Reddedildi

            '
          enum:
          - 0
          - -1
          - 1
        merchantCommissionRate:
          type: decimal
          description: Üye işyerinin uyguladığı vade/komisyon oranı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon oranı %10’dur. Bilgi amaçlıdır.
        merchantCommissionRateAmount:
          type: decimal
          description: Üye işyerinin uyguladığı vade/komisyon tutarı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon tutarı 10’dur. Bilgi amaçlıdır.
        iyziCommissionRateAmount:
          type: decimal
          description: Ödemeye ait iyzico işlem komisyon tutarı.
        iyziCommissionFee:
          type: decimal
          description: Ödemeye ait iyzico işlem ücreti.
        cardType:
          type: string
          description: Kart tipi.
        cardAssociation:
          type: string
          description: Kart kuruluşu.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
          - TROY
        cardFamily:
          type: string
          description: Kart ailesi/ürünü.
        binNumber:
          type: string
          description: BIN (ilk 8 hane).
        lastFourDigits:
          type: string
          description: Kartın son 4 hanesi.
        basketId:
          type: string
          description: Sepet ID.
        currency:
          type: string
          description: Para birimi.
        itemTransactions:
          type: array
          description: Sepet öğelerine ait işlem kalemleri.
          items:
            type: object
            properties:
              paymentTransactionId:
                type: string
                description: Ödeme kırılımına ait id, üye işyeri tarafından mutlaka saklanmalıdır. Ödeme
                  kırılımının iadesi, onayı, onay geri çekmesi ve iyzico ile iletişimde kullanılır. Tercihen
                  itemId ile ilişkili bir şekilde tutulmalıdır.
              itemId:
                type: string
                description: Üye işyeri tarafından iletilen, sepetteki ürüne ait id.
              price:
                type: decimal
                description: Üye işyeri tarafındaki sepetteki ürüne ait tutar.
              paidPrice:
                type: decimal
                description: Tahsilat tutarının kırılım bazındaki dağılımı. Üye işyeri tarafından mutlaka
                  saklanmalıdır.
              transactionStatus:
                type: integer
                description: 'Ödeme kırılımının durumu.

                  - 0: Fraud kontrolünde

                  - -1: Fraud kontrolünden sonra reddedildi

                  - 1: Onaylandı. (Pazaryerinde 1 değeri Üye İşyeri Onayı Bekliyor Anlamına Gelir)

                  - 2: Onaylandı (Pazaryeri Onay Verilmiş)

                  '
                enum:
                - 0
                - -1
                - 1
                - 2
              blockageRate:
                type: decimal
                description: Kırılım bazında üye işyeri blokaj oranı. iyzico – üye işyeri anlaşmasına
                  göre, üye işyerine işlem bazında blokaj uygulayabilir. Bu blokaj üye işyeri fraud riskini
                  önlemek içindir, blokaj süresi boyunca para iyzico’da tutulur, bu süre sonrasında üye
                  işyerine gönderilir.
              blockageRateAmountMerchant:
                type: decimal
                description: Kırılım bazında üye işyeri blokaj tutarının, üye işyerine yansıyan rakamı.
                  Blokaj tutarı mümkün olduğunca üye işyerine yansıtılır. Eğer blokaj tutarı, üye işyeri
                  tutarından daha büyükse bu durumda alt üye işyerine de yansıtılır.
              blockageResolvedDate:
                type: string
                description: İşlem bazında blokaj çözülme tarihi. yyyy-MM-dd HH:mm:ss formatındadır, örn.
                  2015-10-19 14:36:52.
              iyziCommissionFee:
                type: decimal
                description: iyzico işlem ücretinin kırılım bazında dağılmış tutarı.
              iyziCommissionRateAmount:
                type: decimal
                description: iyzico işlem komisyon tutarının kırılım bazında dağılmış tutarı.
              merchantCommissionRate:
                type: decimal
                description: Üye işyerinin uyguladığı vade/komisyon oranının kırılım bazında dağılmış
                  oranı.
              merchantCommissionRateAmount:
                type: decimal
                description: Üye işyerinin uyguladığı vade/komisyon tutarıın, kırılım bazında dağılmış
                  tutarı.
              merchantPayoutAmount:
                type: decimal
                description: Bu kırılım için, iyzico işlem ücreti, komisyon tutarı ve blokajlar düşüldükten
                  sonra üye işyerine gönderilecek tutar.
              convertedPayout:
                type: object
                description: Kırılım bazında, kur çevrimi sonrası hesaplamalar.
                properties:
                  paidPrice:
                    type: decimal
                    description: Tahsilat tutarının kırılım bazındaki dağılımı. Üye işyeri tarafından
                      mutlaka saklanmalıdır.
                  iyziCommissionFee:
                    type: decimal
                    description: iyzico işlem ücretinin kırılım bazında dağılmış tutarı.
                  iyziCommissionRateAmount:
                    type: decimal
                    description: iyzico işlem komisyon tutarının kırılım bazında dağılmış tutarı.
                  blockageRateAmountMerchant:
                    type: decimal
                    description: Kırılım bazında üye işyeri blokaj tutarının, üye işyerine yansıyan rakamı.
                      Blokaj tutarı mümkün olduğunca üye işyerine yansıtılır. Eğer blokaj tutarı, üye
                      işyeri tutarından daha büyükse bu durumda alt üye işyerine de yansıtılır.
                  merchantPayoutAmount:
                    type: decimal
                    description: Bu kırılım için, iyzico işlem ücreti, komisyon tutarı ve blokajlar düşüldükten
                      sonra üye işyerine gönderilecek tutar.
                  iyziConversationRate:
                    type: decimal
                    description: Kur oranı.
                  iyziConversationRateAmount:
                    type: decimal
                    description: Kur oranı sonucu tutar.
          currency:
            type: string
            description: Ödemenin alındığı para birimi.
        authCode:
          type: string
          description: Bankadan dönen authCode değeri.
        phase:
          type: string
          description: Ödeme Fazı.
        mdStatus:
          type: integer
          description: '3DS doğrulama sonucu.

            - 1: Başarılı

            - 0,2-8: Başarısız

            '
          enum:
          - -1
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
        hostReference:
          type: string
          description: Ödemeye ilişkin banka tarafından verilen hostReference değeri.
        signature:
          type: string
          description: İmza doğrulaması için kullanılabilecek signature değeri.
