openapi: 3.0.3
info:
  title: iyzico — ek-servisler/taksit-ve-bin-sorgulama
  version: unversioned
  description: Reassembled from the per-endpoint fragments embedded in https://docs.iyzico.com/. iyzico
    publishes no OpenAPI file; this is a record of what was documented, not a contract they offer.
servers:
- url: https://api.iyzipay.com
  description: Production
- url: https://sandbox-api.iyzipay.com
  description: Sandbox
security:
- ApiKeyAuth: []
  SecretKeyAuth: []
  MerchantIdAuth: []
tags: []
paths:
  /payment/bin/check:
    post:
      summary: BIN Sorgulama
      description: BIN sorgulamada kartın bankası, kart ailesi, kart şeması gibi kart özelliklerini sağlar.
        İstenen bilgileri elde etmek için, talebinize gerekli parametreleri eklemeniz yeterlidir. API,
        kapsamlı ayrıntılarla yanıt verecektir.
      tags:
      - BIN
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BINCheckRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINCheckResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-iyzico-source: https://docs.iyzico.com/ek-servisler/taksit-ve-bin-sorgulama.md
  /payment/iyzipos/installment:
    post:
      summary: Taksit Sorgulama
      description: API, taksit sayısı, oranları ve tutarlarının yanı sıra; kartın bankası, kart ailesi
        ve kart şeması gibi özelliklerini sağlar. Belirtilen BIN ve tutar bilgisine göre uygun taksit
        seçeneklerini listeler. Ayrıca yalnızca BIN veya yalnızca tutar bilgisiyle de taksit oranları
        sorgulanabilir.
      tags:
      - Installment
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallmentRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallmentResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-iyzico-source: https://docs.iyzico.com/ek-servisler/taksit-ve-bin-sorgulama.md
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    SecretKeyAuth:
      type: apiKey
      in: header
      name: x-secret-key
    MerchantIdAuth:
      type: apiKey
      in: header
      name: x-merchant-id
  schemas:
    BINCheckRequest:
      type: object
      required:
      - binNumber
      properties:
        locale:
          type: string
          description: İstek ve dönüş mesajlarında kullanılacak dil bilgisi.
          enum:
          - tr
          - en
        binNumber:
          type: string
          description: Sorgulanacak BIN (8 hane).
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si. İstekte gönderilen değer, response'da aynen geri
            döner.
    BINCheckResponse:
      type: object
      properties:
        binNumber:
          type: string
          description: Sorgulanan BIN.
        cardType:
          type: string
          description: Kart tipi.
          enum:
          - CREDIT_CARD
          - DEBIT_CARD
          - PREPAID_CARD
        cardAssociation:
          type: string
          description: Kart kuruluşu.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
          - TROY
        cardFamily:
          type: string
          description: Kart ailesi.
          enum:
          - Bonus
          - Axess
          - World
          - Maximum
          - Paraf
          - CardFinans
          - Advantage
        bankName:
          type: string
          description: Banka adı.
        bankCode:
          type: integer
          description: Banka kodu.
        commercial:
          type: integer
          description: Ticari kart bilgisi (0; Bireysel, 1; Ticari).
          enum:
          - 0
          - 1
        status:
          type: string
          description: Gönderilen isteğin sonucu.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili.
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucu.
          enum:
          - success
          - failure
        errorCode:
          type: string
          description: Hata kodu.
        errorMessage:
          type: string
          description: Hata mesajı.
        locale:
          type: string
          description: Yanıt dili.
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
    InstallmentDetail:
      type: object
      properties:
        binNumber:
          type: string
          description: Hesaplamada kullanılan BIN.
        price:
          type: number
          format: decimal
          description: Hesaplama yapılan tutar.
        cardType:
          type: string
          description: Kart tipi.
          enum:
          - CREDIT_CARD
          - DEBIT_CARD
          - PREPAID_CARD
        cardAssociation:
          type: string
          description: Kart kuruluşu.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
          - TROY
        cardFamilyName:
          type: string
          enum:
          - Bonus
          - Axess
          - World
          - Maximum
          - Paraf
          - CardFinans
          - Advantage
          description: Kart ailesi.
        force3ds:
          type: integer
          description: 3DS zorunluluğu (0; Hayır, 1; Evet).
          enum:
          - 0
          - 1
        bankCode:
          type: integer
          description: Banka kodu.
        bankName:
          type: string
          description: Banka adı.
        forceCvc:
          type: integer
          description: CVC zorunluluğu (0; Hayır, 1; Evet).
          enum:
          - 0
          - 1
        commercial:
          type: integer
          description: Ticari kart bilgisi (0; Bireysel, 1; Ticari).
          enum:
          - 0
          - 1
        dccEnabled:
          type: integer
          description: DCC (Dynamic Currency Conversion) desteği (0; Hayır, 1; Evet).
          enum:
          - 0
          - 1
        agricultureEnabled:
          type: integer
          description: Tarım kart bilgisi (0; Hayır, 1; Evet).
          enum:
          - 0
          - 1
        installmentPrices:
          type: array
          description: Taksit seçenekleri ve fiyatları.
          items:
            $ref: '#/components/schemas/InstallmentPrice'
    InstallmentPrice:
      type: object
      properties:
        installmentPrice:
          type: number
          format: decimal
          description: Her bir taksit tutarı.
        totalPrice:
          type: number
          format: decimal
          description: Taksitli toplam tutar.
        installmentNumber:
          type: integer
          description: Taksit sayısı.
    InstallmentRequest:
      type: object
      required:
      - price
      properties:
        locale:
          type: string
          description: İstek ve dönüş mesajlarında kullanılacak dil bilgisi.
          enum:
          - tr
          - en
        price:
          type: number
          format: decimal
          description: Taksit hesaplaması yapılacak tutar.
        binNumber:
          type: string
          description: 8 Haneli kart BIN’i. Gönderilirse kart/banka bazında uygunluk döner. Gönderilemezse
            tutara göre taksit oranları alınabilir.
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si. İstekte gönderilen değer, response'da aynen geri
            döner.
    InstallmentResponse:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucu.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili.
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
        installmentDetails:
          type: array
          description: BIN ve tutara göre hesaplanan taksit seçenekleri.
          items:
            $ref: '#/components/schemas/InstallmentDetail'
