openapi: 3.0.4
info:
  title: Orders
  description: Subset of https://raw.githubusercontent.com/paypal/paypal-rest-api-specifications/main/openapi/checkout_orders_v2.json,
    limited to the operations kasapay-paypal maps. PayPal's own document, under PayPal's own Apache-2.0
    licence, cut down and otherwise unaltered.
  version: '2.32'
servers:
- url: https://api-m.paypal.com
  description: Server for https scheme.
paths:
  /v2/checkout/orders:
    post:
      operationId: orders.create
      summary: Create order
      description: Creates an order. Merchants and partners can add Level 2 and 3 data to payments to
        reduce risk and payment processing costs. For more information about processing payments, see
        <a href="https://developer.paypal.com/docs/checkout/advanced/processing/">checkout</a> or <a href="https://developer.paypal.com/docs/multiparty/checkout/advanced/processing/">multiparty
        checkout</a>.<blockquote><strong>Note:</strong> For error handling and troubleshooting, see <a
        href="https://developer.paypal.com/api/rest/reference/orders/v2/errors/#create-order">Orders v2
        errors</a>.</blockquote>
      tags:
      - orders
      security:
      - Oauth2:
        - https://uri.paypal.com/services/payments/payment
        - https://uri.paypal.com/services/payments/orders/deprecating-jssdk-migration-for-limited-merchants
      parameters:
      - name: PayPal-Request-Id
        description: The server stores keys for 6 hours. The API callers can request the times to up to
          72 hours by speaking to their Account Manager. It is mandatory for all single-step create order
          calls (E.g. Create Order Request with payment source information like Card, PayPal.vault_id,
          PayPal.billing_agreement_id, etc).
        in: header
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 108
          pattern: ^[\S\s]*$
        examples:
          orders_create_authorize_single_step_paypal_with_vault_id_and_stored_credentials_usage_pattern:
            summary: Create and authorize an order for a PayPal wallet vaulted account holder passing
              a usage pattern indicator using stored credentials (Single Shot).
            description: Creates an order and authorizes payment with a PayPal wallet vault id as the
              payment source and a usage pattern (billing indicator) RECURRING_PREPAID passed using stored
              credentials.
            value: 7b92603e-77ed-4896-8e78-5dea2050476a
          00_orders_create:
            summary: Create Order - PayPal Wallet as Payment Source, Resulting in PAYER_ACTION_REQUIRED
              Response
            description: Creates a new order. API caller receives payer-action link.
            value: 7b92603e-77ed-4896-8e78-5dea2050476a
      - name: PayPal-Partner-Attribution-Id
        description: PayPal Partner can send a PayPal-Partner-Attribution-Id request header with the value
          that they have been assigned by the PayPal Partner program. This value is known as a BN Code.
          In order to reward such partners (through partner programs), all the activities (including API
          calls) that they are doing on behalf of the merchants need to be tracked.
        in: header
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 36
          pattern: ^[\S\s]*$
      - $ref: '#/components/parameters/paypal_client_metadata_id'
      - name: Prefer
        description: The preferred server response upon successful completion of the request. Value is:<ul><li><code>return=minimal</code>.
          The server returns a minimal response to optimize communication between the API caller and the
          server. A minimal response includes the <code>id</code>, <code>status</code> and HATEOAS links.</li><li><code>return=representation</code>.
          The server returns a complete resource representation, including the current state of the resource.</li></ul>
        in: header
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 25
          pattern: ^[a-zA-Z=,-]*$
          default: return=minimal
        examples:
          orders_create_create_orders_with_shipping_type_pickup_in_store:
            summary: Create Order - Buy Online Pickup In Store Shipping Type
            description: Creates an order with minimal parameters and contains the Buy Online Pickup in
              Store-related fields.
            value: return=representation
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/paypal_auth_assertion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order_request'
            examples:
              00_orders_create:
                summary: Create Order - PayPal Wallet as Payment Source, Resulting in PAYER_ACTION_REQUIRED
                  Response
                description: Creates a new order. API caller receives payer-action link.
                value:
                  payment_source:
                    paypal:
                      experience_context:
                        payment_method_preference: IMMEDIATE_PAYMENT_REQUIRED
                        landing_page: LOGIN
                        shipping_preference: GET_FROM_FILE
                        user_action: PAY_NOW
                        return_url: https://example.com/returnUrl
                        cancel_url: https://example.com/cancelUrl
                  purchase_units:
                  - invoice_id: '90210'
                    amount:
                      currency_code: USD
                      value: '230.00'
                      breakdown:
                        item_total:
                          currency_code: USD
                          value: '220.00'
                        shipping:
                          currency_code: USD
                          value: '10.00'
                    items:
                    - name: T-Shirt
                      description: Super Fresh Shirt
                      unit_amount:
                        currency_code: USD
                        value: '20.00'
                      quantity: '1'
                      category: PHYSICAL_GOODS
                      sku: sku01
                      image_url: https://example.com/static/images/items/1/tshirt_green.jpg
                      url: https://example.com/url-to-the-item-being-purchased-1
                      upc:
                        type: UPC-A
                        code: '123456789012'
                    - name: Shoes
                      description: Running, Size 10.5
                      sku: sku02
                      unit_amount:
                        currency_code: USD
                        value: '100.00'
                      quantity: '2'
                      category: PHYSICAL_GOODS
                      image_url: https://example.com/static/images/items/1/shoes_running.jpg
                      url: https://example.com/url-to-the-item-being-purchased-2
                      upc:
                        type: UPC-A
                        code: '987654321012'
              create_422_unprocessable_entity_missing_pickup_address:
                summary: Create Order - 422 Unprocessable Entity Error - Missing Pickup Address
                description: 'This code sample attempts to create an order but the shipping address is
                  required and `shipping.type` is set to PICKUP_FROM_PERSON '
                value:
                  payment_source:
                    paypal:
                      experience_context:
                        return_url: https://www.example.com/returnURL
                        cancel_url: https://www.example.com/cancelURL
                        shipping_preference: SET_PROVIDED_ADDRESS
                  purchase_units:
                  - reference_id: PUHF
                    amount:
                      currency_code: USD
                      value: '100.00'
                    shipping:
                      type: PICKUP_FROM_PERSON
              orders_create_authorize_single_step_paypal_with_vault_id_and_stored_credentials_usage_pattern:
                summary: Create and authorize an order for a PayPal wallet vaulted account holder passing
                  a usage pattern indicator using stored credentials (Single Shot).
                description: Creates an order and authorizes payment with a PayPal wallet vault id as
                  the payment source and a usage pattern (billing indicator) RECURRING_PREPAID passed
                  using stored credentials.
                value:
                  purchase_units:
                  - amount:
                      currency_code: USD
                      value: '100.00'
                  payment_source:
                    paypal:
                      vault_id: 2w915838hr181240m
              orders_create_create_orders_with_shipping_type_pickup_in_store:
                summary: Create Order - Buy Online Pickup In Store Shipping Type
                description: Creates an order with minimal parameters and contains the Buy Online Pickup
                  in Store-related fields.
                value:
                  purchase_units:
                  - reference_id: PUHF
                    amount:
                      currency_code: USD
                      value: '50.00'
                    payee:
                      email_address: merchant@example.com
                    shipping:
                      address:
                        address_line_1: 123 Townsend St
                        address_line_2: Floor 6
                        admin_area_2: San Francisco
                        admin_area_1: CA
                        postal_code: '94107'
                        country_code: US
                      type: PICKUP_IN_STORE
              orders_create_simple:
                summary: Create Order - Minimal Request and Response
                description: Creates an order with only required parameters. By default, uses the minimal
                  representation.
                value:
                  purchase_units:
                  - amount:
                      currency_code: USD
                      value: '100.00'
      responses:
        '200':
          description: A successful response to an idempotent request returns the HTTP `200 OK` status
            code with a JSON response body that shows order details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
              examples:
                00_orders_create:
                  summary: Create Order - PayPal Wallet as Payment Source, Resulting in PAYER_ACTION_REQUIRED
                    Response
                  description: Creates a new order. API caller receives payer-action link.
                  value:
                    id: 5O190127TN364715T
                    payment_source:
                      paypal: {}
                    links:
                    - href: https://api-m.paypal.com/v2/checkout/orders/5O190127TN364715T
                      rel: self
                      method: GET
                    - href: https://www.paypal.com/checkoutnow?token=5O190127TN364715T
                      rel: payer-action
                      method: GET
        '201':
          description: 'A successful request returns the HTTP `201 Created` status code and a JSON response
            body that includes by default a minimal response with the ID, status, and HATEOAS links. If
            you require the complete order resource representation, you must pass the <a href="https://developer.paypal.com/docs/api/orders/v2/#orders-create-header-parameters"><code>Prefer:
            return=representation</code> request header</a>. This header value is not the default.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
              examples:
                orders_create_authorize_single_step_paypal_with_vault_id_and_stored_credentials_usage_pattern:
                  summary: Create and authorize an order for a PayPal wallet vaulted account holder passing
                    a usage pattern indicator using stored credentials (Single Shot).
                  description: Creates an order and authorizes payment with a PayPal wallet vault id as
                    the payment source and a usage pattern (billing indicator) RECURRING_PREPAID passed
                    using stored credentials.
                  value:
                    id: 8K832279M55989614
                    payment_source:
                      paypal:
                        email_address: buyer@paypal.com
                        account_id: XQHSN372NGSP2
                        account_status: UNVERIFIED
                        name:
                          given_name: Tom
                          surname: Business
                        phone_number:
                          national_number: '8127081430'
                        address:
                          country_code: US
                    purchase_units:
                    - reference_id: default
                      amount:
                        currency_code: USD
                        value: '100.00'
                      payee:
                        email_address: seller@paypal.com
                        merchant_id: Q7C9N6S4YRQXG
                      shipping:
                        name:
                          full_name: Tom Business
                        address:
                          address_line_1: 123 Fake St.
                          admin_area_2: Baton Rouge
                          admin_area_1: LA
                          postal_code: '70802'
                          country_code: US
                      payments:
                        authorizations:
                        - status: CREATED
                          id: 7X550106NA4440028
                          amount:
                            currency_code: USD
                            value: '100.00'
                          seller_protection:
                            status: ELIGIBLE
                            dispute_categories:
                            - UNAUTHORIZED_TRANSACTION
                          expiration_time: '2024-06-05T18:46:54Z'
                          links:
                          - href: https://api-m.paypal.com/v2/payments/authorizations/7X550106NA4440028
                            rel: self
                            method: GET
                          - href: https://api-m.paypal.com/v2/payments/authorizations/7X550106NA4440028/capture
                            rel: capture
                            method: POST
                          - href: https://api-m.paypal.com/v2/payments/authorizations/7X550106NA4440028/void
                            rel: void
                            method: POST
                          - href: https://api-m.paypal.com/v2/checkout/orders/8K832279M55989614
                            rel: up
                            method: GET
                          create_time: '2024-05-07T18:46:54Z'
                          update_time: '2024-05-07T18:46:54Z'
                    payer:
                      name:
                        given_name: Tom
                        surname: Business
                      email_address: buyer@paypal.com
                      payer_id: XQHSN372NGSP2
                      phone:
                        phone_number:
                          national_number: '8127081430'
                      address:
                        country_code: US
                    create_time: '2024-05-07T18:46:15Z'
                    update_time: '2024-05-07T18:46:54Z'
                    links:
                    - href: https://api-m.paypal.com/v2/checkout/orders/8K832279M55989614
                      rel: self
                      method: GET
                orders_create_create_orders_with_shipping_type_pickup_in_store:
                  summary: Create Order - Buy Online Pickup In Store Shipping Type
                  description: Creates an order with minimal parameters and contains the Buy Online Pickup
                    in Store-related fields.
                  value:
                    id: 4SP74185RW2405200
                    purchase_units:
                    - reference_id: PUHF
                      amount:
                        currency_code: USD
                        value: '50.00'
                      payee:
                        email_address: merchant@example.com
                      shipping:
                        address:
                          address_line_1: 123 Townsend St
                          address_line_2: Floor 6
                          admin_area_2: San Francisco
                          admin_area_1: CA
                          postal_code: '94107'
                          country_code: US
                        type: PICKUP_IN_STORE
                    links:
                    - href: https://api-m.paypal.com/v2/checkout/orders/4SP74185RW2405200
                      rel: self
                      method: GET
                    - href: https://www.paypal.com/checkoutnow?token=4SP74185RW2405200
                      rel: approve
                      method: GET
                    - href: https://api-m.paypal.com/v2/checkout/orders/4SP74185RW2405200
                      rel: edit
                      method: PATCH
                    - href: https://api-m.paypal.com/v2/checkout/orders/4SP74185RW2405200/authorize
                      rel: authorize
                      method: POST
                orders_create_simple:
                  summary: Create Order - Minimal Request and Response
                  description: Creates an order with only required parameters. By default, uses the minimal
                    representation.
                  value:
                    id: 5O190127TN364715T
                    links:
                    - href: https://api-m.paypal.com/v2/checkout/orders/5O190127TN364715T
                      rel: self
                      method: GET
                    - href: https://www.paypal.com/checkoutnow?token=5O190127TN364715T
                      rel: approve
                      method: GET
                    - href: https://api-m.paypal.com/v2/checkout/orders/5O190127TN364715T
                      rel: edit
                      method: PATCH
                    - href: https://api-m.paypal.com/v2/checkout/orders/5O190127TN364715T/capture
                      rel: capture
                      method: POST
        '202':
          description: The request has been accepted for processing, but the processing has not been completed
            yet. The server returns the HTTP `202 Accepted` status code to indicate that the request is
            valid and will be handled asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
        '400':
          description: Request is not well-formed, syntactically incorrect, or violates schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                create_400_bad_request:
                  summary: Create Order - 400 Bad Request Error - Purchase Unit is Empty
                  description: This code sample attempts to create an order with empty purchase units.
                    The request fails.
                  value:
                    name: INVALID_REQUEST
                    message: Request is not well-formed, syntactically incorrect, or violates schema.
                    debug_id: 10398537340c8
                    details:
                    - field: /purchase_units
                      value: '[]'
                      location: body
                      issue: INVALID_ARRAY_MIN_ITEMS
                      description: The number of items in an array parameter is too small.
                    links:
                    - href: https://developer.paypal.com/api/orders/v2/#error-INVALID_ARRAY_MIN_ITEMS
                      rel: information_link
        '401':
          $ref: '#/components/responses/401_error_response'
        '403':
          $ref: '#/components/responses/403_error_response'
        '422':
          description: The requested action could not be performed, semantically incorrect, or failed
            business validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                create_422_unprocessable_entity_missing_pickup_address:
                  summary: Create Order - 422 Unprocessable Entity Error - Missing Pickup Address
                  description: 'This code sample attempts to create an order but the shipping address
                    is required and `shipping.type` is set to PICKUP_FROM_PERSON '
                  value:
                    name: UNPROCESSABLE_ENTITY
                    details:
                    - field: /purchase_units/@reference_id=='PUHF'/shipping/address
                      issue: MISSING_SHIPPING_ADDRESS
                      description: The shipping address is required when `shipping_preference=SET_PROVIDED_ADDRESS`.
                    message: The requested action could not be performed, semantically incorrect, or failed
                      business validation.
                    debug_id: f200264a4e02a
                    links:
                    - href: https://developer.paypal.com/api/rest/reference/orders/v2/errors/#MISSING_SHIPPING_ADDRESS
                      rel: information_link
                      method: GET
        '500':
          $ref: '#/components/responses/500_error_response'
        default:
          $ref: '#/components/responses/default_response'
      x-exampleFlows:
      - title: Create Order - PayPal Wallet as Payment Source, Resulting in PAYER_ACTION_REQUIRED Response
        description: Creates a new order. API caller receives payer-action link.
        parameter_examples:
        - parameters/@name=='PayPal-Request-Id'/examples/00_orders_create
        - parameters/@name=='Authorization'/examples/bearer
        request_body_example: requestBody/content/application~1json/examples/00_orders_create
        response_example: responses/200/content/application~1json/examples/00_orders_create
      - title: Create and authorize an order for a PayPal wallet vaulted account holder passing a usage
          pattern indicator using stored credentials (Single Shot).
        description: Creates an order and authorizes payment with a PayPal wallet vault id as the payment
          source and a usage pattern (billing indicator) RECURRING_PREPAID passed using stored credentials.
        parameter_examples:
        - parameters/@name=='PayPal-Request-Id'/examples/orders_create_authorize_single_step_paypal_with_vault_id_and_stored_credentials_usage_pattern
        - parameters/@name=='Authorization'/examples/bearer
        request_body_example: requestBody/content/application~1json/examples/orders_create_authorize_single_step_paypal_with_vault_id_and_stored_credentials_usage_pattern
        response_example: responses/201/content/application~1json/examples/orders_create_authorize_single_step_paypal_with_vault_id_and_stored_credentials_usage_pattern
      - title: Create Order - Minimal Request and Response
        description: Creates an order with only required parameters. By default, uses the minimal representation.
        parameter_examples:
        - parameters/@name=='Authorization'/examples/bearer
        request_body_example: requestBody/content/application~1json/examples/orders_create_simple
        response_example: responses/201/content/application~1json/examples/orders_create_simple
      - title: Create Order - Buy Online Pickup In Store Shipping Type
        description: Creates an order with minimal parameters and contains the Buy Online Pickup in Store-related
          fields.
        parameter_examples:
        - parameters/@name=='Authorization'/examples/bearer
        - parameters/@name=='Prefer'/examples/orders_create_create_orders_with_shipping_type_pickup_in_store
        request_body_example: requestBody/content/application~1json/examples/orders_create_create_orders_with_shipping_type_pickup_in_store
        response_example: responses/201/content/application~1json/examples/orders_create_create_orders_with_shipping_type_pickup_in_store
      - title: Create Order - 400 Bad Request Error - Purchase Unit is Empty
        description: This code sample attempts to create an order with empty purchase units. The request
          fails.
        parameter_examples:
        - parameters/@name=='Authorization'/examples/bearer
        - parameters/@name=='Prefer'/examples/orders_create_create_order_mixed_cart_with_shipping_options_bwp_unknown_status
        response_example: responses/400/content/application~1json/examples/create_400_bad_request
      - title: Create Order - 422 Unprocessable Entity Error - Missing Pickup Address
        description: 'This code sample attempts to create an order but the shipping address is required
          and `shipping.type` is set to PICKUP_FROM_PERSON '
        parameter_examples:
        - parameters/@name=='Authorization'/examples/bearer
        request_body_example: requestBody/content/application~1json/examples/create_422_unprocessable_entity_missing_pickup_address
        response_example: responses/422/content/application~1json/examples/create_422_unprocessable_entity_missing_pickup_address
  /v2/checkout/orders/{id}:
    get:
      operationId: orders.get
      summary: Show order details
      description: Shows details for an order, by ID.<blockquote><strong>Note:</strong> For error handling
        and troubleshooting, see <a href="https://developer.paypal.com/api/rest/reference/orders/v2/errors/#get-order">Orders
        v2 errors</a>.</blockquote>
      tags:
      - orders
      security:
      - Oauth2:
        - https://uri.paypal.com/services/payments/payment
        - https://uri.paypal.com/services/payments/orders/deprecating-jssdk-migration-for-limited-merchants
      parameters:
      - name: id
        description: The ID of the order for which to show details.
        in: path
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 36
          pattern: ^[A-Z0-9]+$
        examples:
          00_orders_get:
            summary: Get Order - Show Order Details After Customer Approval
            description: Shows order details immediately after customer approval.
            value: 5O190127TN364715T
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/paypal_auth_assertion'
      - name: fields
        description: A comma-separated list of fields that should be returned for the order. Valid filter
          field is `payment_source`.
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 2147483647
          pattern: ^[a-z_]*$
      responses:
        '200':
          description: A successful request returns the HTTP `200 OK` status code and a JSON response
            body that shows order details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
              examples:
                00_orders_get:
                  summary: Get Order - Show Order Details After Customer Approval
                  description: Shows order details immediately after customer approval.
                  value:
                    id: 5O190127TN364715T
                    payment_source:
                      paypal:
                        name:
                          given_name: John
                          surname: Doe
                        email_address: customer@example.com
                        account_id: QYR5Z8XDVJNXQ
                    purchase_units:
                    - reference_id: d9f80740-38f0-11e8-b467-0ed5f89f718b
                      amount:
                        currency_code: USD
                        value: '100.00'
                    payer:
                      name:
                        given_name: John
                        surname: Doe
                      email_address: customer@example.com
                      payer_id: QYR5Z8XDVJNXQ
                    create_time: '2018-04-01T21:18:49Z'
                    links:
                    - href: https://api-m.paypal.com/v2/checkout/orders/5O190127TN364715T
                      rel: self
                      method: GET
                    - href: https://www.paypal.com/checkoutnow?token=5O190127TN364715T
                      rel: approve
                      method: GET
                    - href: https://api-m.paypal.com/v2/checkout/orders/5O190127TN364715T
                      rel: edit
                      method: PATCH
                    - href: https://api-m.paypal.com/v2/checkout/orders/5O190127TN364715T/capture
                      rel: capture
                      method: POST
        '401':
          $ref: '#/components/responses/401_error_response'
        '403':
          $ref: '#/components/responses/403_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
        default:
          $ref: '#/components/responses/default_response'
      x-exampleFlows:
      - title: Get Order - Show Order Details After Customer Approval
        description: Shows order details immediately after customer approval.
        parameter_examples:
        - parameters/@name=='id'/examples/00_orders_get
        - parameters/@name=='Authorization'/examples/bearer
        response_example: responses/200/content/application~1json/examples/00_orders_get
      - title: Get Order - 404 Not Found Error - Order Not Found
        description: This code sample attempts to show details for an order, by ID, but the request fails
          because the order is not found.
        parameter_examples:
        - parameters/@name=='id'/examples/00_orders_get
        response_example: responses/404/content/application~1json/examples/generic
  /v2/checkout/orders/{id}/capture:
    post:
      operationId: orders.capture
      summary: Capture payment for order
      description: Captures payment for an order. To successfully capture payment for an order, the buyer
        must first approve the order or a valid payment_source must be provided in the request. A buyer
        can approve the order upon being redirected to the rel:approve URL that was returned in the HATEOAS
        links in the create order response.<blockquote><strong>Note:</strong> For error handling and troubleshooting,
        see <a href="https://developer.paypal.com/api/rest/reference/orders/v2/errors/#capture-order">Orders
        v2 errors</a>.</blockquote>
      tags:
      - orders
      security:
      - Oauth2:
        - https://uri.paypal.com/services/payments/payment
        - https://uri.paypal.com/services/payments/orders/deprecating-jssdk-migration-for-limited-merchants
      parameters:
      - name: PayPal-Request-Id
        description: The server stores keys for 6 hours. The API callers can request the times to up to
          72 hours by speaking to their Account Manager. It is mandatory for all single-step create order
          calls (E.g. Create Order Request with payment source information like Card, PayPal.vault_id,
          PayPal.billing_agreement_id, etc).
        in: header
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 108
          pattern: ^[\S\s]*$
        examples:
          orders_capture_wallet_idempotent:
            summary: Capture Order - Idempotent Response with PayPal Wallet
            description: Captures payment for an order after wallet approval with the same idempotency
              key. By default, uses the minimal representation.
            value: 7b92603e-77ed-4896-8e78-5dea2050476a
          capture_422_unprocessable_entity:
            summary: Capture Order - 422 Unprocessable Entity Error - Action Does Not Match Intent
            description: This code sample attempts to capture payment for an order that was created with
              `intent=AUTHORIZE`. The operation is incorrect.
            value: 7b92603e-77ed-4896-8e78-5dea2050476a
          00_orders_capture:
            summary: Capture Order - PayPal Wallet as Payment Source
            description: Captures payment for an order after wallet approval. By default, uses the minimal
              representation.
            value: 7b92603e-77ed-4896-8e78-5dea2050476a
          capture_422_payer_action_required_cib_psd2_sca_ba_in_sc:
            summary: Capture Order - 422 - Payer Action Required
            description: This code sample attempts to capture payment for an order that was created by
              the api caller and the payment could not be processed due to PSD2 SCA compliance requirement.
            value: 7b92603e-77ed-4896-8e78-5dea2050476a
          orders_capture_vault_wallet:
            summary: Capture Order - Minimal Representation with PayPal Wallet Vault ID
            description: The partner captures payment for an order after PayPal Wallet approval. By default,
              uses the minimal representation.
            value: 7b92603e-77ed-4896-8e78-5dea2050476a
      - name: Prefer
        description: The preferred server response upon successful completion of the request. Value is:<ul><li><code>return=minimal</code>.
          The server returns a minimal response to optimize communication between the API caller and the
          server. A minimal response includes the <code>id</code>, <code>status</code> and HATEOAS links.</li><li><code>return=representation</code>.
          The server returns a complete resource representation, including the current state of the resource.</li></ul>
        in: header
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 25
          pattern: ^[a-zA-Z=,-]*$
          default: return=minimal
      - $ref: '#/components/parameters/paypal_client_metadata_id'
      - name: id
        description: The ID of the order for which to capture a payment.
        in: path
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 36
          pattern: ^[A-Z0-9]+$
        examples:
          00_orders_capture:
            summary: Capture Order - PayPal Wallet as Payment Source
            description: Captures payment for an order after wallet approval. By default, uses the minimal
              representation.
            value: 5O190127TN364715T
          capture_422_payer_action_required_cib_psd2_sca_ba_in_sc:
            summary: Capture Order - 422 - Payer Action Required
            description: This code sample attempts to capture payment for an order that was created by
              the api caller and the payment could not be processed due to PSD2 SCA compliance requirement.
            value: 5O190127TN364715T
          capture_422_unprocessable_entity:
            summary: Capture Order - 422 Unprocessable Entity Error - Action Does Not Match Intent
            description: This code sample attempts to capture payment for an order that was created with
              `intent=AUTHORIZE`. The operation is incorrect.
            value: 5O190127TN364715T
          orders_capture_vault_wallet:
            summary: Capture Order - Minimal Representation with PayPal Wallet Vault ID
            description: The partner captures payment for an order after PayPal Wallet approval. By default,
              uses the minimal representation.
            value: 5O190127TN364715T
          orders_capture_wallet_idempotent:
            summary: Capture Order - Idempotent Response with PayPal Wallet
            description: Captures payment for an order after wallet approval with the same idempotency
              key. By default, uses the minimal representation.
            value: 5O190127TN364715T
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/paypal_auth_assertion'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order_capture_request'
            examples:
              00_orders_capture:
                summary: Capture Order - PayPal Wallet as Payment Source
                description: Captures payment for an order after wallet approval. By default, uses the
                  minimal representation.
                value: {}
              capture_422_payer_action_required_cib_psd2_sca_ba_in_sc:
                summary: Capture Order - 422 - Payer Action Required
                description: This code sample attempts to capture payment for an order that was created
                  by the api caller and the payment could not be processed due to PSD2 SCA compliance
                  requirement.
                value: {}
              capture_422_unprocessable_entity:
                summary: Capture Order - 422 Unprocessable Entity Error - Action Does Not Match Intent
                description: This code sample attempts to capture payment for an order that was created
                  with `intent=AUTHORIZE`. The operation is incorrect.
                value: {}
              orders_capture_vault_wallet:
                summary: Capture Order - Minimal Representation with PayPal Wallet Vault ID
                description: The partner captures payment for an order after PayPal Wallet approval. By
                  default, uses the minimal representation.
                value: {}
              orders_capture_wallet_idempotent:
                summary: Capture Order - Idempotent Response with PayPal Wallet
                description: Captures payment for an order after wallet approval with the same idempotency
                  key. By default, uses the minimal representation.
                value: {}
      responses:
        '200':
          description: A successful response to an idempotent request returns the HTTP `200 OK` status
            code with a JSON response body that shows captured payment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
              examples:
                orders_capture_wallet_idempotent:
                  summary: Capture Order - Idempotent Response with PayPal Wallet
                  description: Captures payment for an order after wallet approval with the same idempotency
                    key. By default, uses the minimal representation.
                  value:
                    id: 5O190127TN364715T
                    payment_source:
                      paypal:
                        name:
                          given_name: John
                          surname: Doe
                        email_address: customer@example.com
                        account_id: QYR5Z8XDVJNXQ
                        account_status: VERIFIED
                    purchase_units:
                    - reference_id: d9f80740-38f0-11e8-b467-0ed5f89f718b
                      shipping:
                        address:
                          address_line_1: 2211 N First Street
                          address_line_2: Building 17
                          admin_area_2: San Jose
                          admin_area_1: CA
                          postal_code: '95131'
                          country_code: US
                      payments:
                        captures:
                        - id: 3C679366HH908993F
                          status: COMPLETED
                          amount:
                            currency_code: USD
                            value: '100.00'
                          seller_protection:
                            status: ELIGIBLE
                            dispute_categories:
                            - ITEM_NOT_RECEIVED
                            - UNAUTHORIZED_TRANSACTION
                          final_capture: true
                          seller_receivable_breakdown:
                            gross_amount:
                              currency_code: USD
                              value: '100.00'
                            paypal_fee:
                              currency_code: USD
                              value: '3.00'
                            net_amount:
                              currency_code: USD
                              value: '97.00'
                          create_time: '2018-04-01T21:20:49Z'
                          update_time: '2018-04-01T21:20:49Z'
                          links:
                          - href: https://api-m.paypal.com/v2/payments/captures/3C679366HH908993F
                            rel: self
                            method: GET
                          - href: https://api-m.paypal.com/v2/payments/captures/3C679366HH908993F/refund
                            rel: refund
                            method: POST
                    payer:
                      name:
                        given_name: John
                        surname: Doe
                      email_address: customer@example.com
                      payer_id: QYR5Z8XDVJNXQ
                    links:
                    - href: https://api-m.paypal.com/v2/checkout/orders/5O190127TN364715T
                      rel: self
                      method: GET
        '201':
          description: 'A successful response to a non-idempotent request returns the HTTP `201 Created`
            status code with a JSON response body that shows captured payment details. If a duplicate
            response is retried, returns the HTTP `200 OK` status code. By default, the response is minimal.
            If you need the complete resource representation, pass the <a href="https://developer.paypal.com/docs/api/orders/v2/#orders-authorize-header-parameters"><code>Prefer:
            return=representation</code> request header</a>.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
              examples:
                00_orders_capture:
                  summary: Capture Order - PayPal Wallet as Payment Source
                  description: Captures payment for an order after wallet approval. By default, uses the
                    minimal representation.
                  value:
                    id: 5O190127TN364715T
                    payment_source:
                      paypal:
                        name:
                          given_name: John
                          surname: Doe
                        email_address: customer@example.com
                        account_id: QYR5Z8XDVJNXQ
                    purchase_units:
                    - reference_id: d9f80740-38f0-11e8-b467-0ed5f89f718b
                      shipping:
                        address:
                          address_line_1: 2211 N First Street
                          address_line_2: Building 17
                          admin_area_2: San Jose
                          admin_area_1: CA
                          postal_code: '95131'
                          country_code: US
                      payments:
                        captures:
                        - id: 3C679366HH908993F
                          status: COMPLETED
                          amount:
                            currency_code: USD
                            value: '100.00'
                          seller_protection:
                            status: ELIGIBLE
                            dispute_categories:
                            - ITEM_NOT_RECEIVED
                            - UNAUTHORIZED_TRANSACTION
                          final_capture: true
                          seller_receivable_breakdown:
                            gross_amount:
                              currency_code: USD
                              value: '100.00'
                            paypal_fee:
                              currency_code: USD
                              value: '3.00'
                            net_amount:
                              currency_code: USD
                              value: '97.00'
                          create_time: '2018-04-01T21:20:49Z'
                          update_time: '2018-04-01T21:20:49Z'
                          links:
                          - href: https://api-m.paypal.com/v2/payments/captures/3C679366HH908993F
                            rel: self
                            method: GET
                          - href: https://api-m.paypal.com/v2/payments/captures/3C679366HH908993F/refund
                            rel: refund
                            method: POST
                    payer:
                      name:
                        given_name: John
                        surname: Doe
                      email_address: customer@example.com
                      payer_id: QYR5Z8XDVJNXQ
                    links:
                    - href: https://api-m.paypal.com/v2/checkout/orders/5O190127TN364715T
                      rel: self
                      method: GET
                orders_capture_vault_wallet:
                  summary: Capture Order - Minimal Representation with PayPal Wallet Vault ID
                  description: The partner captures payment for an order after PayPal Wallet approval.
                    By default, uses the minimal representation.
                  value:
                    id: 5O190127TN364715T
                    payment_source:
                      paypal:
                        attributes:
                          vault:
                            id: m6yd4yw
                            status: CREATED
                    purchase_units:
                    - reference_id: refernece_id_1001
                      shipping:
                        name:
                          full_name: William Chris
                        address:
                          address_line_1: 500 Hillside Street
                          address_line_2: '#100'
                          admin_area_2: San Jose
                          admin_area_1: CA
                          postal_code: '95131'
                          country_code: US
                      payments:
                        captures:
                        - id: 54986457XR262021N
                          status: COMPLETED
                          amount:
                            currency_code: USD
                            value: '31.01'
                          final_capture: true
                          seller_protection:
                            status: ELIGIBLE
                            dispute_categories:
                            - ITEM_NOT_RECEIVED
                            - UNAUTHORIZED_TRANSACTION
                          seller_receivable_breakdown:
                            gross_amount:
                              currency_code: USD
                              value: '31.01'
                            platform_fees:
                            - amount:
                                currency_code: USD
                                value: '10.01'
                              payee:
                                merchant_id: J8NCBBULP5JH2
                            net_amount:
                              currency_code: USD
                              value: '21.00'
                          invoice_id: invoice_id_380358551C5240203
                          custom_id: custom_id_1001
                          links:
                          - href: https://api-m.paypal.com/v2/payments/captures/54986457XR262021N
                            rel: self
                            method: GET
                          - href: https://api-m.paypal.com/v2/payments/captures/54986457XR262021N/refund
                            rel: refund
                            method: POST
                          - href: https://api-m.paypal.com/v2/checkout/orders/12645781RH9888226
                            rel: up
                            method: GET
                          create_time: '2020-06-08T23:11:34Z'
                          update_time: '2020-06-08T23:11:34Z'
                    links:
                    - href: https://api-m.paypal.com/v2/checkout/orders/5O190127TN364715T
                      rel: self
                      method: GET
                    - href: https://api-m.paypal.com/v2/vault/payment-tokens/m6yd4yw
                      rel: payment-token
                      method: GET
        '202':
          description: The request has been accepted for processing, but the processing has not been completed
            yet. The server returns the HTTP `202 Accepted` status code to indicate that the request is
            valid and will be handled asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
        '207':
          description: The request was successfully processed, but the result contains mixed outcomes.
            When an order includes multiple purchase units, the server returns the HTTP `207 Multi-Status`
            code to indicate that one or more purchase units were processed successfully while others
            failed. The response body provides the processing result for each purchase unit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
        '400':
          description: Request is not well-formed, syntactically incorrect, or violates schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          $ref: '#/components/responses/401_error_response'
        '403':
          $ref: '#/components/responses/403_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '409':
          description: The request could not be completed due to a conflict with the current state of
            the resource. The HTTP `409 Conflict` status code is returned when the requested operation
            is not allowed because the order or one or more purchase units are in a state that prevents
            the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '422':
          description: The requested action could not be performed, semantically incorrect, or failed
            business validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                capture_422_payer_action_required_cib_psd2_sca_ba_in_sc:
                  summary: Capture Order - 422 - Payer Action Required
                  description: This code sample attempts to capture payment for an order that was created
                    by the api caller and the payment could not be processed due to PSD2 SCA compliance
                    requirement.
                  value:
                    name: UNPROCESSABLE_ENTITY
                    details:
                    - issue: PAYER_ACTION_REQUIRED
                      description: Transaction cannot complete successfully, instruct the buyer to return
                        to PayPal.
                    message: The requested action could not be performed, semantically incorrect, or failed
                      business validation.
                    debug_id: f63fbc340a6ce
                    links:
                    - href: https://developer.paypal.com/api/orders/v2/#error-PAYER_ACTION_REQUIRED
                      rel: information_link
                      method: GET
                    - href: https://www.paypal.com/checkoutnow?token=5O190127TN364715T
                      rel: payer-action
                      method: GET
                capture_422_unprocessable_entity:
                  summary: Capture Order - 422 Unprocessable Entity Error - Action Does Not Match Intent
                  description: This code sample attempts to capture payment for an order that was created
                    with `intent=AUTHORIZE`. The operation is incorrect.
                  value:
                    name: UNPROCESSABLE_ENTITY
                    details:
                    - location: body
                      issue: ACTION_DOES_NOT_MATCH_INTENT
                      description: The order was created with an intent of `AUTHORIZE`. To complete authorization,
                        use `/v2/checkout/orders/{order_id}/authorize`. Or, alternately create an order
                        with an intent of `CAPTURE`.
                    message: The requested action could not be performed, semantically incorrect, or failed
                      business validation.
                    debug_id: 90957fca61718
                    links:
                    - href: https://developer.paypal.com/api/orders/v2/#error-ACTION_DOES_NOT_MATCH_INTENT
                      rel: information_link
                      method: GET
        '500':
          $ref: '#/components/responses/500_error_response'
        default:
          $ref: '#/components/responses/default_response'
      x-exampleFlows:
      - title: Capture Order - PayPal Wallet as Payment Source
        description: Captures payment for an order after wallet approval. By default, uses the minimal
          representation.
        parameter_examples:
        - parameters/@name=='id'/examples/00_orders_capture
        - parameters/@name=='PayPal-Request-Id'/examples/00_orders_capture
        - parameters/@name=='Authorization'/examples/bearer
        response_example: responses/201/content/application~1json/examples/00_orders_capture
      - title: Capture Order - Idempotent Response with PayPal Wallet
        description: Captures payment for an order after wallet approval with the same idempotency key.
          By default, uses the minimal representation.
        parameter_examples:
        - parameters/@name=='id'/examples/orders_capture_wallet_idempotent
        - parameters/@name=='PayPal-Request-Id'/examples/orders_capture_wallet_idempotent
        - parameters/@name=='Authorization'/examples/bearer
        response_example: responses/200/content/application~1json/examples/orders_capture_wallet_idempotent
      - title: Capture Order - Minimal Representation with PayPal Wallet Vault ID
        description: The partner captures payment for an order after PayPal Wallet approval. By default,
          uses the minimal representation.
        parameter_examples:
        - parameters/@name=='id'/examples/orders_capture_vault_wallet
        - parameters/@name=='PayPal-Request-Id'/examples/orders_capture_vault_wallet
        - parameters/@name=='Authorization'/examples/bearer
        response_example: responses/201/content/application~1json/examples/orders_capture_vault_wallet
      - title: Capture Order - 403 Forbidden Error - Invalid Card Vault ID
        description: This code sample attempts to capture an order that was created with the `CAPTURE`
          intent but the card vault id can not be found. The request fails.
        parameter_examples:
        - parameters/@name=='id'/examples/orders_capture_orders_capture_bank_ach_debit_verified_account_customer_id_vault_instruction_vaulted
        - parameters/@name=='PayPal-Request-Id'/examples/orders_capture_orders_capture_bank_ach_debit_verified_account_customer_id_vault_instruction_vaulted
        - parameters/@name=='Authorization'/examples/bearer
        - parameters/@name=='Prefer'/examples/orders_capture_orders_capture_bank_ach_debit_verified_account_customer_id_vault_instruction_vaulted
        request_body_example: requestBody/content/application~1json/examples/orders_capture_orders_capture_bank_ach_debit_verified_account_customer_id_vault_instruction_vaulted
        response_example: responses/403/content/application~1json/examples/generic
      - title: Capture Order - 404 Not Found Error - Resource Not Found
        description: This code sample attempts to capture an order but the specified order is not found.
          The request fails.
        parameter_examples:
        - parameters/@name=='id'/examples/orders_capture_orders_capture_bank_ach_debit_verified_account_customer_id_vault_instruction_vaulted
        - parameters/@name=='PayPal-Request-Id'/examples/orders_capture_orders_capture_bank_ach_debit_verified_account_customer_id_vault_instruction_vaulted
        - parameters/@name=='Authorization'/examples/bearer
        - parameters/@name=='Prefer'/examples/orders_capture_orders_capture_bank_ach_debit_verified_account_customer_id_vault_instruction_vaulted
        request_body_example: requestBody/content/application~1json/examples/orders_capture_orders_capture_bank_ach_debit_verified_account_customer_id_vault_instruction_vaulted
        response_example: responses/404/content/application~1json/examples/generic
      - title: Capture Order - 422 - Payer Action Required
        description: This code sample attempts to capture payment for an order that was created by the
          api caller and the payment could not be processed due to PSD2 SCA compliance requirement.
        parameter_examples:
        - parameters/@name=='id'/examples/capture_422_payer_action_required_cib_psd2_sca_ba_in_sc
        - parameters/@name=='PayPal-Request-Id'/examples/capture_422_payer_action_required_cib_psd2_sca_ba_in_sc
        - parameters/@name=='Authorization'/examples/bearer
        request_body_example: requestBody/content/application~1json/examples/capture_422_payer_action_required_cib_psd2_sca_ba_in_sc
        response_example: responses/422/content/application~1json/examples/capture_422_payer_action_required_cib_psd2_sca_ba_in_sc
      - title: Capture Order - 422 Unprocessable Entity Error - Action Does Not Match Intent
        description: This code sample attempts to capture payment for an order that was created with `intent=AUTHORIZE`.
          The operation is incorrect.
        parameter_examples:
        - parameters/@name=='id'/examples/capture_422_unprocessable_entity
        - parameters/@name=='PayPal-Request-Id'/examples/capture_422_unprocessable_entity
        - parameters/@name=='Authorization'/examples/bearer
        response_example: responses/422/content/application~1json/examples/capture_422_unprocessable_entity
components:
  parameters:
    authorization:
      name: Authorization
      in: header
      description: Holds authorization information for external API calls.
      required: false
      schema:
        $ref: '#/components/schemas/standard_header_schema'
      examples:
        bearer:
          summary: Bearer authorization.
          description: An authorization header with information for the Bearer authorization scheme. The
            authorization parameter value is randomized for this example.
          value: Bearer A21AAGHr9qtiRRXH4oYcQokQgV99rGqEIfgrr8xHCclP0OzmD9KVgg5ppIIg1jzJgQkV4wd02svIvBJyg6cLFJjFow_SjBhxQ
    paypal_auth_assertion:
      name: PayPal-Auth-Assertion
      in: header
      description: Header for an API client-provided JWT assertion that identifies the merchant. Establishing
        the consent to act-on-behalf of a merchant is a prerequisite for using this header.
      required: false
      schema:
        description: Header for an API client-provided JWT assertion that identifies the merchant. Establishing
          the consent to act-on-behalf of a merchant is a prerequisite for using this header.
        type: string
        minLength: 1
        maxLength: 10000
        pattern: ^.*$
      examples:
        auth_assertion:
          summary: An auth assertion.
          description: A paypal-auth-assertion header with a randomized value.
          value: eyJhbGciOiJub25lIn0.eyJlbWFpbCI6Im15QGVtYWlsLmNvbSJ9
    paypal_client_metadata_id:
      name: PayPal-Client-Metadata-Id
      in: header
      description: A GUID value originating from Fraudnet and Dyson passed from external API clients via
        HTTP header. The value is used by Risk decisions to correlate calls which, in turn, might result
        in lower decline rates..
      required: false
      schema:
        $ref: '#/components/schemas/guid'
      examples:
        guid:
          summary: A GUID.
          description: A paypal-client-metadata-id header with a randomized value.
          value: 1295065d-6f34-42dc-ac65-fac0c86af250
  responses:
    401_error_response:
      description: Unauthorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            generic:
              summary: Generic 'Unauthorized' error.
              description: Example response for unauthorized request.
              value:
                name: AUTHENTICATION_FAILURE
                debug_id: b1d1f06c7246c
                message: Authentication failed due to missing Authorization header, or invalid authentication
                  credentials.
    403_error_response:
      description: Forbidden.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            generic:
              summary: Generic 'Forbidden' error.
              description: Example response for a forbidden request.
              value:
                name: NOT_AUTHORIZED
                debug_id: b1d1f06c7246c
                message: Authorization failed due to insufficient permissions.
    404_error_response:
      description: Not Found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            generic:
              summary: Generic 'Not Found' error.
              description: Example response for a request to a resource that does not exist.
              value:
                name: RESOURCE_NOT_FOUND
                debug_id: b1d1f06c7246c
                message: The specified resource does not exist.
    500_error_response:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            generic:
              summary: Generic internal server error.
              description: Example response for a request that fails for reasons internal to the server.
              value:
                name: INTERNAL_SERVER_ERROR
                debug_id: b1d1f06c7246c
                message: An internal server error has occurred.
    default_response:
      description: Default response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            generic:
              summary: Default response.
              description: Example catch all response, should not be encountered in practice.
              value:
                name: INTERNAL_SERVER_ERROR
                debug_id: b1d1f06c7246c
                message: An internal server error has occurred.
  schemas:
    account_id:
      title: PayPal Account Identifier
      description: The account identifier for a PayPal account.
      type: string
      minLength: 13
      maxLength: 13
      pattern: ^[2-9A-HJ-NP-Z]{13}$
    account_id-2:
      description: The PayPal payer ID, which is a masked version of the PayPal account number intended
        for use with third parties. The account number is reversibly encrypted and a proprietary variant
        of Base32 is used to encode the result.
      type: string
      minLength: 13
      maxLength: 13
      pattern: ^[2-9A-HJ-NP-Z]{13}$
    activity_timestamps:
      title: activity_timestamps
      description: The date and time stamps that are common to authorized payment, captured payment, and
        refund transactions.
      type: object
      properties:
        create_time:
          allOf:
          - $ref: '#/components/schemas/date_time'
          - description: The date and time when the transaction occurred, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).
            readOnly: true
        update_time:
          allOf:
          - $ref: '#/components/schemas/date_time'
          - description: The date and time when the transaction was last updated, in [Internet date and
              time format](https://tools.ietf.org/html/rfc3339#section-5.6).
            readOnly: true
    address_portable:
      title: Portable Postal Address (Medium-Grained)
      description: 'The portable international postal address. Maps to [AddressValidationMetadata](https://github.com/googlei18n/libaddressinput/wiki/AddressValidationMetadata)
        and HTML 5.1 [Autofilling form controls: the autocomplete attribute](https://www.w3.org/TR/html51/sec-forms.html#autofilling-form-controls-the-autocomplete-attribute).'
      type: object
      required:
      - country_code
      properties:
        address_line_1:
          description: The first line of the address, such as number and street, for example, `173 Drury
            Lane`. Needed for data entry, and Compliance and Risk checks. This field needs to pass the
            full address.
          type: string
          minLength: 0
          maxLength: 300
          pattern: ^[\S\s]*$
        address_line_2:
          description: The second line of the address, for example, a suite or apartment number.
          type: string
          minLength: 0
          maxLength: 300
          pattern: ^[\S\s]*$
        address_line_3:
          description: The third line of the address, if needed. Examples include a street complement
            for Brazil, direction text, such as `next to Walmart`, or a landmark in an Indian address.
          type: string
          minLength: 0
          maxLength: 100
          pattern: ^[\S\s]*$
        admin_area_4:
          description: The neighborhood, ward, or district. This is smaller than `admin_area_level_3`
            or `sub_locality`. Value is:<ul><li>The postal sorting code that is used in Guernsey and many
            French territories, such as French Guiana.</li><li>The fine-grained administrative levels
            in China.</li></ul>
          type: string
          minLength: 0
          maxLength: 100
          pattern: ^[\S\s]*$
        admin_area_3:
          description: The sub-locality, suburb, neighborhood, or district. This is smaller than `admin_area_level_2`.
            Value is:<ul><li>Brazil. Suburb, *bairro*, or neighborhood.</li><li>India. Sub-locality or
            district. Street name information isn't always available, but a sub-locality or district can
            be a very small area.</li></ul>
          type: string
          minLength: 0
          maxLength: 100
          pattern: ^[\S\s]*$
        admin_area_2:
          description: A city, town, or village. Smaller than `admin_area_level_1`.
          type: string
          minLength: 0
          maxLength: 120
          pattern: ^[\S\s]*$
        admin_area_1:
          description: The highest-level sub-division in a country, which is usually a province, state,
            or ISO-3166-2 subdivision. This data is formatted for postal delivery, for example, `CA` and
            not `California`. Value, by country, is:<ul><li>UK. A county.</li><li>US. A state.</li><li>Canada.
            A province.</li><li>Japan. A prefecture.</li><li>Switzerland. A *kanton*.</li></ul>
          type: string
          minLength: 0
          maxLength: 300
          pattern: ^[\S\s]*$
        postal_code:
          description: The postal code, which is the ZIP code or equivalent. Typically required for countries
            with a postal code or an equivalent. See [postal code](https://en.wikipedia.org/wiki/Postal_code).
          type: string
          minLength: 0
          maxLength: 60
          pattern: ^[\S\s]*$
        country_code:
          $ref: '#/components/schemas/country_code'
        address_details:
          title: Address Details
          description: The non-portable additional address details include fine-grain address information
            for Compliance, Risk, and other scenarios. This isn't portable with common third-party and
            open source applications. This can include data that is redundant with core fields. For example,
            `address_portable.address_line_1` is usually a combination of `address_details.street_number`,
            `street_name`, and `street_type`.
          type: object
          properties:
            street_number:
              description: The street number.
              type: string
              minLength: 0
              maxLength: 100
              pattern: ^[\S\s]*$
            street_name:
              description: The street name. Just `Drury` in `Drury Lane`.
              type: string
              minLength: 0
              maxLength: 100
              pattern: ^[\S\s]*$
            street_type:
              description: The street type. For example, avenue, boulevard, road, or expressway.
              type: string
              minLength: 0
              maxLength: 100
              pattern: ^[\S\s]*$
            delivery_service:
              description: The delivery service. Post office box, bag number, or post office name.
              type: string
              minLength: 0
              maxLength: 100
              pattern: ^[\S\s]*$
            building_name:
              description: A named locations that represents the premise. Usually a building name or number
                or collection of buildings with a common name or number. For example, <code>Craven House</code>.
              type: string
              minLength: 0
              maxLength: 100
              pattern: ^[\S\s]*$
            sub_building:
              description: The first-order entity below a named building or location that represents the
                sub-premise. Usually a single building within a collection of buildings with a common
                name. Can be a flat, story, floor, room, or apartment.
              type: string
              minLength: 0
              maxLength: 100
              pattern: ^[\S\s]*$
    amount_breakdown:
      title: amount_breakdown
      description: The breakdown of the amount. Breakdown provides details such as total item amount,
        total tax amount, shipping, handling, insurance, and discounts, if any.
      type: object
      properties:
        item_total:
          allOf:
          - $ref: '#/components/schemas/money'
          - description: The subtotal for all items. Required if the request includes `purchase_units[].items[].unit_amount`.
              Must equal the sum of `(items[].unit_amount * items[].quantity)` for all items. <code>item_total.value</code>
              can not be a negative number.
        shipping:
          allOf:
          - $ref: '#/components/schemas/money'
          - description: The shipping fee for all items within a given `purchase_unit`. <code>shipping.value</code>
              can not be a negative number.
        handling:
          allOf:
          - $ref: '#/components/schemas/money'
          - description: The handling fee for all items within a given `purchase_unit`. <code>handling.value</code>
              can not be a negative number.
        tax_total:
          allOf:
          - $ref: '#/components/schemas/money'
          - description: The total tax for all items. Required if the request includes `purchase_units.items.tax`.
              Must equal the sum of `(items[].tax * items[].quantity)` for all items. <code>tax_total.value</code>
              can not be a negative number.
        insurance:
          allOf:
          - $ref: '#/components/schemas/money'
          - description: The insurance fee for all items within a given `purchase_unit`. <code>insurance.value</code>
              can not be a negative number.
        shipping_discount:
          allOf:
          - $ref: '#/components/schemas/money'
          - description: The shipping discount for all items within a given `purchase_unit`. <code>shipping_discount.value</code>
              can not be a negative number.
        discount:
          allOf:
          - $ref: '#/components/schemas/discount_with_breakdown'
          - description: The discount for all items within a given `purchase_unit`. <code>discount.value</code>
              can not be a negative number.
    amount_with_breakdown:
      title: amount_with_breakdown
      description: The total order amount with an optional breakdown that provides details, such as the
        total item amount, total tax amount, shipping, handling, insurance, and discounts, if any.<br/>If
        you specify `amount.breakdown`, the amount equals `item_total` plus `tax_total` plus `shipping`
        plus `handling` plus `insurance` minus `shipping_discount` minus discount.<br/>The amount must
        be a positive number. For listed of supported currencies and decimal precision, see the PayPal
        REST APIs <a href="/docs/integration/direct/rest/currency-codes/">Currency Codes</a>.
      type: object
      allOf:
      - $ref: '#/components/schemas/money'
      - type: object
        properties:
          breakdown:
            $ref: '#/components/schemas/amount_breakdown'
    app_switch_context:
      title: Merchant App Switch Details & Preferences
      description: Merchant provided details of the native app or mobile web browser to facilitate buyer's
        app switch to the PayPal consumer app.
      type: object
      properties:
        native_app:
          $ref: '#/components/schemas/native_app_context'
        mobile_web:
          $ref: '#/components/schemas/mobile_web_context'
    apple_pay:
      title: apple_pay
      description: Information needed to pay using ApplePay.
      type: object
      properties:
        id:
          description: ApplePay transaction identifier, this will be the unique identifier for this transaction
            provided by Apple. The pattern is defined by an external party and supports Unicode.
          type: string
          minLength: 1
          maxLength: 250
          pattern: ^.*$
        token:
          description: Encrypted ApplePay token, containing card information. This token would be base64encoded.
            The pattern is defined by an external party and supports Unicode.
          type: string
          minLength: 1
          maxLength: 10000
          pattern: ^.*$
        name:
          allOf:
          - $ref: '#/components/schemas/full_name'
          - description: Name on the wallet.
        email_address:
          allOf:
          - $ref: '#/components/schemas/email_address'
          - description: The email address of the account holder associated with this payment method.
        phone_number:
          allOf:
          - $ref: '#/components/schemas/phone'
          - description: The phone number, in its canonical international [E.164 numbering plan format](https://www.itu.int/rec/T-REC-E.164/en).
              Supports only the `national_number` property.
            not:
              anyOf:
              - required:
                - country_code
              - required:
                - extension_number
        card:
          allOf:
          - $ref: '#/components/schemas/apple_pay_card_response'
          - description: The payment card information.
        attributes:
          allOf:
          - $ref: '#/components/schemas/apple_pay_attributes_response'
          - description: Additional attributes associated with apple pay.
        stored_credential:
          $ref: '#/components/schemas/card_stored_credential'
    apple_pay_attributes:
      title: apple_pay_attributes
      description: Additional attributes associated with apple pay.
      type: object
      properties:
        customer:
          $ref: '#/components/schemas/customer'
        vault:
          $ref: '#/components/schemas/v3_vault_instruction_base'
    apple_pay_attributes_response:
      title: apple_pay_attributes_response
      description: Additional attributes associated with the use of Apple Pay.
      type: object
      properties:
        vault:
          $ref: '#/components/schemas/vault_response'
    apple_pay_card_response:
      title: apple_pay_card_response
      description: The Card from Apple Pay Wallet used to fund the payment.
      type: object
      allOf:
      - allOf:
        - $ref: '#/components/schemas/card_response'
        - not:
            anyOf:
            - required:
              - id
            - required:
              - last_n_chars
            - required:
              - issuer
      - type: object
        properties:
          name:
            description: The card holder's name as it appears on the card.
            type: string
            minLength: 0
            maxLength: 300
            pattern: ^[\S\s]*$
          billing_address:
            allOf:
            - $ref: '#/components/schemas/address_portable'
            - description: The billing address for this card. Supports only the `address_line_1`, `address_line_2`,
                `admin_area_1`, `admin_area_2`, `postal_code`, and `country_code` properties.
              not:
                anyOf:
                - required:
                  - address_line_3
                - required:
                  - admin_area_3
                - required:
                  - admin_area_4
                - required:
                  - address_details
          country_code:
            allOf:
            - $ref: '#/components/schemas/country_code-2'
            - description: The country where the card is issued.
    apple_pay_decrypted_token_data:
      title: apple_pay_decrypted_token_data
      description: Information about the Payment data obtained by decrypting Apple Pay token.
      type: object
      required:
      - tokenized_card
      properties:
        transaction_amount:
          allOf:
          - $ref: '#/components/schemas/money'
          - description: The transaction amount for the payment that the payer has approved on apple platform.
        tokenized_card:
          allOf:
          - $ref: '#/components/schemas/card'
          - description: Apple Pay tokenized credit card used to pay.
            not:
              anyOf:
              - required:
                - id
              - required:
                - security_code
              - required:
                - last_digits
              - required:
                - authentication_results
              - required:
                - attributes
        device_manufacturer_id:
          description: Apple Pay Hex-encoded device manufacturer identifier. The pattern is defined by
            an external party and supports Unicode.
          type: string
          minLength: 1
          maxLength: 2000
          pattern: ^.*$
        payment_data_type:
          description: Indicates the type of payment data passed, in case of Non China the payment data
            is 3DSECURE and for China it is EMV.
          type: string
          enum:
          - 3DSECURE
          - EMV
        payment_data:
          allOf:
          - $ref: '#/components/schemas/apple_pay_payment_data'
          - description: Apple Pay payment data object which contains the cryptogram, eci_indicator and
              other data.
    apple_pay_experience_context:
      title: apple_pay_experience_context
      description: Customizes the payer experience during the approval process for the payment.
      type: object
      required:
      - cancel_url
      - return_url
      properties:
        return_url:
          allOf:
          - $ref: '#/components/schemas/url'
          - description: The URL where the customer is redirected after the customer approves the payment.
            format: uri
        cancel_url:
          allOf:
          - $ref: '#/components/schemas/url'
          - description: The URL where the customer is redirected after the customer cancels the payment.
            format: uri
    apple_pay_payment_data:
      title: apple_pay_payment_data
      description: Information about the decrypted apple pay payment data for the token like cryptogram,
        eci indicator.
      type: object
      properties:
        cryptogram:
          description: Online payment cryptogram, as defined by 3D Secure. The pattern is defined by an
            external party and supports Unicode.
          type: string
          minLength: 1
          maxLength: 2000
          pattern: ^.*$
        eci_indicator:
          description: ECI indicator, as defined by 3- Secure. The pattern is defined by an external party
            and supports Unicode.
          type: string
          minLength: 1
          maxLength: 256
          pattern: ^.*$
        emv_data:
          description: Encoded Apple Pay EMV Payment Structure used for payments in China. The pattern
            is defined by an external party and supports Unicode.
          type: string
          minLength: 1
          maxLength: 2000
          pattern: ^.*$
        pin:
          description: Bank Key encrypted Apple Pay PIN. The pattern is defined by an external party and
            supports Unicode.
          type: string
          minLength: 1
          maxLength: 2000
          pattern: ^.*$
    apple_pay_request:
      title: apple_pay_request
      description: Information needed to pay using ApplePay.
      type: object
      properties:
        id:
          description: ApplePay transaction identifier, this will be the unique identifier for this transaction
            provided by Apple. The pattern is defined by an external party and supports Unicode.
          type: string
          minLength: 1
          maxLength: 250
          pattern: ^.*$
        name:
          allOf:
          - $ref: '#/components/schemas/full_name'
          - description: Name on the account holder associated with apple pay.
        email_address:
          allOf:
          - $ref: '#/components/schemas/email_address'
          - description: The email address of the account holder associated with apple pay.
        phone_number:
          allOf:
          - $ref: '#/components/schemas/phone_number_without_country_code'
          - description: The phone number, in its canonical international [E.164 numbering plan format](https://www.itu.int/rec/T-REC-E.164/en).
              Supports only the `national_number` property.
        decrypted_token:
          allOf:
          - $ref: '#/components/schemas/apple_pay_decrypted_token_data'
          - description: The decrypted payload details for the apple pay token.
        stored_credential:
          $ref: '#/components/schemas/card_stored_credential'
        vault_id:
          allOf:
          - $ref: '#/components/schemas/vault_id'
          - description: The PayPal-generated ID for the saved apple pay payment_source. This ID should
              be stored on the merchant's server so the saved payment source can be used for future transactions.
        attributes:
          $ref: '#/components/schemas/apple_pay_attributes'
        experience_context:
          $ref: '#/components/schemas/apple_pay_experience_context'
    assurance_details:
      title: assurance_details
      description: Information about cardholder possession validation and cardholder identification and
        verifications (ID&V).
      type: object
      properties:
        account_verified:
          description: If true, indicates that Cardholder possession validation has been performed on
            returned payment credential.
          type: boolean
          default: false
        card_holder_authenticated:
          description: If true, indicates that identification and verifications (ID&V) was performed on
            the returned payment credential.If false, the same risk-based authentication can be performed
            as you would for card transactions. This risk-based authentication can include, but not limited
            to, step-up with 3D Secure protocol if applicable.
          type: boolean
          default: false
    authentication_response:
      title: authentication_response
      description: Results of Authentication such as 3D Secure.
      type: object
      properties:
        liability_shift:
          $ref: '#/components/schemas/liability_shift'
        three_d_secure:
          $ref: '#/components/schemas/three_d_secure_authentication_response'
    authorization:
      title: authorization
      description: The authorized payment transaction.
      type: object
      allOf:
      - $ref: '#/components/schemas/authorization_status'
      - type: object
        properties:
          id:
            description: The PayPal-generated ID for the authorized payment.
            type: string
            minLength: 0
            maxLength: 2147483647
            pattern: ^[\S\s]*$
            readOnly: true
          amount:
            allOf:
            - $ref: '#/components/schemas/amount_with_breakdown'
            - description: The amount for this authorized payment.
              readOnly: true
          invoice_id:
            description: The API caller-provided external invoice number for this order. Appears in both
              the payer's transaction history and the emails that the payer receives.
            type: string
            minLength: 0
            maxLength: 2147483647
            pattern: ^[\S\s]*$
            readOnly: true
          custom_id:
            description: The API caller-provided external ID. Used to reconcile API caller-initiated transactions
              with PayPal transactions. Appears in transaction and settlement reports.
            type: string
            minLength: 0
            maxLength: 255
            pattern: ^[\S\s]*$
          network_transaction_reference:
            allOf:
            - $ref: '#/components/schemas/network_transaction'
          seller_protection:
            allOf:
            - $ref: '#/components/schemas/seller_protection'
            - readOnly: true
          expiration_time:
            allOf:
            - $ref: '#/components/schemas/date_time'
            - description: The date and time when the authorized payment expires, in [Internet date and
                time format](https://tools.ietf.org/html/rfc3339#section-5.6).
              readOnly: true
          links:
            description: An array of related [HATEOAS links](/docs/api/reference/api-responses/#hateoas-links).
            type: array
            minItems: 0
            maxItems: 32767
            readOnly: true
            items:
              allOf:
              - $ref: '#/components/schemas/link_description-2'
              - title: link_description
      - $ref: '#/components/schemas/activity_timestamps'
    authorization_status:
      title: authorization_status
      description: The status fields and status details for an authorized payment.
      type: object
      properties:
        status:
          title: Authorization Status
          description: The status for the authorized payment.
          type: string
          enum:
          - CREATED
          - CAPTURED
          - DENIED
          - PARTIALLY_CAPTURED
          - VOIDED
          - PENDING
          readOnly: true
        status_details:
          allOf:
          - $ref: '#/components/schemas/authorization_status_details'
          - description: The details of the authorized order pending status.
            readOnly: true
    authorization_status_details:
      title: authorization_status_details
      description: The details of the authorized payment status.
      type: object
      properties:
        reason:
          title: Authorization Incomplete Reason
          description: The reason why the authorized status is `PENDING`.
          type: string
          enum:
          - PENDING_REVIEW
          - DECLINED_BY_RISK_FRAUD_FILTERS
    authorization_with_additional_data:
      title: authorization_with_additional_data
      description: The authorization with additional payment details, such as risk assessment and processor
        response. These details are populated only for certain payment methods.
      type: object
      allOf:
      - $ref: '#/components/schemas/authorization'
      - type: object
        properties:
          processor_response:
            allOf:
            - $ref: '#/components/schemas/processor_response'
            - description: The processor response for card transactions.
              readOnly: true
    bancontact:
      title: bancontact
      description: Information used to pay Bancontact.
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/full_name'
          - title: name
            description: The name of the account holder associated with this payment method.
        country_code:
          allOf:
          - $ref: '#/components/schemas/country_code-2'
          - description: The two-character ISO 3166-1 country code.
        bic:
          allOf:
          - $ref: '#/components/schemas/bic'
          - description: The bank identification code (BIC).
        iban_last_chars:
          $ref: '#/components/schemas/iban_last_chars'
        card_last_digits:
          description: The last digits of the card used to fund the Bancontact payment.
          type: string
          minLength: 4
          maxLength: 4
          pattern: ^[0-9]{4}$
    bancontact_request:
      title: bancontact_request
      description: Information needed to pay using Bancontact.
      type: object
      required:
      - country_code
      - name
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/full_name'
          - title: name
            description: The name of the account holder associated with this payment method.
        country_code:
          allOf:
          - $ref: '#/components/schemas/country_code-2'
          - description: The two-character ISO 3166-1 country code.
        experience_context:
          allOf:
          - $ref: '#/components/schemas/experience_context_base'
          - description: Customizes the payer experience during the approval process for the payment.
    bic:
      title: BIC
      description: The business identification code (BIC). In payments systems, a BIC is used to identify
        a specific business, most commonly a bank.
      type: string
      minLength: 8
      maxLength: 11
      pattern: ^[A-Z-a-z0-9]{4}[A-Z-a-z]{2}[A-Z-a-z0-9]{2}([A-Z-a-z0-9]{3})?$
    billing_agreement_id:
      title: billing_agreement_id
      description: The PayPal billing agreement ID. References an approved recurring payment for goods
        or services.
      type: string
      minLength: 2
      maxLength: 128
      pattern: ^[a-zA-Z0-9-]+$
    billing_cycle:
      title: billing_cycle
      description: The billing cycle providing details of the billing frequency, amount, duration and
        if the billing cycle is a free, discounted or regular billing cycle. The sequence of the billing
        cycle will be in the following order - free trial billing cycle(s), discounted trial billing cycle(s),
        regular billing cycle(s).
      type: object
      required:
      - tenure_type
      properties:
        tenure_type:
          description: The tenure type of the billing cycle identifies if the billing cycle is a trial(free
            or discounted) or regular billing cycle.
          type: string
          enum:
          - REGULAR
          - TRIAL
        pricing_scheme:
          allOf:
          - $ref: '#/components/schemas/pricing_scheme'
          - description: The active pricing scheme for this billing cycle. A free trial billing cycle
              does not require a pricing scheme.
        total_cycles:
          description: The number of times this billing cycle gets executed. Trial billing cycles can
            only be executed a finite number of times (value between <code>1</code> and <code>999</code>
            for <code>total_cycles</code>). Regular billing cycles can be executed infinite times (value
            of <code>0</code> for <code>total_cycles</code>) or a finite number of times (value between
            <code>1</code> and <code>999</code> for <code>total_cycles</code>).
          type: integer
          minimum: 0
          maximum: 999
          default: 1
        sequence:
          description: The order in which this cycle is to run among other billing cycles. For example,
            a trial billing cycle has a `sequence` of `1` while a regular billing cycle has a `sequence`
            of `2`, so that trial cycle runs before the regular cycle.
          type: integer
          minimum: 1
          maximum: 3
          default: 1
        start_date:
          allOf:
          - $ref: '#/components/schemas/date_no_time'
          - description: The start date for the billing cycle, in YYYY-MM-DD. This field should be not
              be provided if the billing cycle starts at the time of checkout. When this field is not
              provided, the billing cycle amount will be included in any data validations confirming that
              the total provided by the merchant match the sum of individual items due at the time of
              checkout. Only one billing cycle (with sequence equal to 1) can have a no start date.
    bin_details:
      title: bin_details
      description: Bank Identification Number (BIN) details used to fund a payment.
      type: object
      properties:
        bin:
          description: The Bank Identification Number (BIN) signifies the number that is being used to
            identify the granular level details (except the PII information) of the card.
          type: string
          minLength: 1
          maxLength: 25
          pattern: ^[0-9]+$
        issuing_bank:
          description: The issuer of the card instrument.
          type: string
          minLength: 1
          maxLength: 64
          pattern: ^[\S\s]*$
        bin_country_code:
          allOf:
          - $ref: '#/components/schemas/country_code-2'
          - description: The [two-character ISO-3166-1 country code](/docs/integration/direct/rest/country-codes/)
              of the bank.
        products:
          description: 'The type of card product assigned to the BIN by the issuer. These values are defined
            by the issuer and may change over time. Some examples include: PREPAID_GIFT, CONSUMER, CORPORATE.'
          type: array
          minItems: 1
          maxItems: 256
          items:
            title: products
            description: This value provides the category of the BIN.
            type: string
            minLength: 1
            maxLength: 255
            pattern: ^[\S\s]*$
    blik:
      title: blik
      description: Information used to pay using BLIK.
      type: object
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/full_name'
          - title: name
            description: The name of the account holder associated with this payment method.
        country_code:
          allOf:
          - $ref: '#/components/schemas/country_code-2'
          - description: The two-character ISO 3166-1 country code.
        email:
          allOf:
          - $ref: '#/components/schemas/email_address'
          - description: The email address of the account holder associated with this payment method.
        one_click:
          allOf:
          - $ref: '#/components/schemas/blik_one_click_response'
          - description: The one-click integration flow object.
    blik_experience_context:
      title: blik_experience_context
      description: Customizes the payer experience during the approval process for the BLIK payment.
      type: object
      allOf:
      - $ref: '#/components/schemas/experience_context_base'
      - type: object
        properties:
          consumer_ip:
            allOf:
            - $ref: '#/components/schemas/ip_address'
            - description: The IP address of the consumer. It could be either IPv4 or IPv6.
          consumer_user_agent:
            description: The payer's User Agent. For example, Mozilla/5.0 (Macintosh; Intel Mac OS X x.y;
              rv:42.0).
            type: string
            minLength: 1
            maxLength: 256
            pattern: ^.*$
    blik_one_click:
      title: blik_one_click
      description: Information used to pay using BLIK one-click flow.
      type: object
      required:
      - consumer_reference
      properties:
        auth_code:
          description: The 6-digit code used to authenticate a consumer within BLIK.
          type: string
          minLength: 6
          maxLength: 6
          pattern: ^[0-9]{6}$
        consumer_reference:
          description: The merchant generated, unique reference serving as a primary identifier for accounts
            connected between Blik and a merchant.
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^[ -~]{3,64}$
        alias_label:
          description: A bank defined identifier used as a display name to allow the payer to differentiate
            between multiple registered bank accounts.
          type: string
          minLength: 8
          maxLength: 35
          pattern: ^[ -~]{8,35}$
        alias_key:
          description: A Blik-defined identifier for a specific Blik-enabled bank account that is associated
            with a given merchant. Used only in conjunction with a Consumer Reference.
          type: string
          minLength: 1
          maxLength: 19
          pattern: ^[0-9]+$
    blik_one_click_response:
      title: blik_one_click_response
      description: Information used to pay using BLIK one-click flow.
      type: object
      properties:
        consumer_reference:
          description: The merchant generated, unique reference serving as a primary identifier for accounts
            connected between Blik and a merchant.
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^[ -~]{3,64}$
    blik_request:
      title: blik_request
      description: Information needed to pay using BLIK.
      type: object
      required:
      - country_code
      - name
      properties:
        name:
          allOf:
          - $ref: '#/components/schemas/full_name'
          - title: name
            description: The name of the account holder associated with this payment method.
        country_code:
          allOf:
          - $ref: '#/components/schemas/country_code-2'
          - description: The two-character ISO 3166-1 country code.
        email:
[...]
