openapi: 3.0.4
info:
  title: Payments
  description: Subset of https://raw.githubusercontent.com/paypal/paypal-rest-api-specifications/main/openapi/payments_payment_v2.json,
    limited to the operations kasapay-paypal maps. PayPal's own document, under PayPal's own Apache-2.0
    licence, cut down and otherwise unaltered.
  version: '2.12'
servers:
- url: https://api-m.paypal.com
  description: Server for https scheme.
paths:
  /v2/payments/captures/{capture_id}/refund:
    post:
      operationId: captures.refund
      summary: Refund captured payment
      description: Refunds a captured payment, by ID. For a full refund, include an empty payload in the
        JSON request body. For a partial refund, include an <code>amount</code> object in the JSON request
        body.
      tags:
      - captures
      security:
      - Oauth2:
        - https://uri.paypal.com/services/payments/refund
      parameters:
      - name: capture_id
        description: The PayPal-generated ID for the captured payment to refund.
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 2147483647
          pattern: ^[\S\s]*$
        examples:
          captures_refund_200_idempotent_response:
            summary: Refund Captured Payment - 200 idempotent response
            description: Refunds a captured payment, by ID. For a full refund, include an empty payload
              in the request body. For a partial refund, include an `amount` object.
            value: 2GG279541U471931P
          captures_refund_empty_request:
            summary: Refund Captured Payment with an empty request
            description: Refunds a captured payment, by ID. For a full refund, include an empty payload
              in the request body. For a partial refund, include an `amount` object.
            value: 7TK53561YB803214S
          captures_refund_with_prefer_header:
            summary: Refund Captured Payment
            description: Refunds a captured payment, by ID. For a full refund, include an empty payload
              in the request body. For a partial refund, include an `amount` object.
            value: 2GG279541U471931P
      - $ref: '#/components/parameters/paypal_request_id'
      - name: Prefer
        description: The preferred server response upon successful completion of the request. Value is:<ul><li><code>return=minimal</code>.
          The server returns a minimal response to optimize communication between the API caller and the
          server. A minimal response includes the <code>id</code>, <code>status</code> and HATEOAS links.</li><li><code>return=representation</code>.
          The server returns a complete resource representation, including the current state of the resource.</li></ul>
        in: header
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 2147483647
          pattern: ^[\S\s]*$
          default: return=minimal
        examples:
          captures_refund_200_idempotent_response:
            summary: Refund Captured Payment - 200 idempotent response
            description: Refunds a captured payment, by ID. For a full refund, include an empty payload
              in the request body. For a partial refund, include an `amount` object.
            value: return=representation
          captures_refund_with_prefer_header:
            summary: Refund Captured Payment
            description: Refunds a captured payment, by ID. For a full refund, include an empty payload
              in the request body. For a partial refund, include an `amount` object.
            value: return=representation
          captures_refund_empty_request:
            summary: Refund Captured Payment with an empty request
            description: Refunds a captured payment, by ID. For a full refund, include an empty payload
              in the request body. For a partial refund, include an `amount` object.
            value: return=representation
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/paypal_auth_assertion'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/refund_request'
            examples:
              captures_refund_200_idempotent_response:
                summary: Refund Captured Payment - 200 idempotent response
                description: Refunds a captured payment, by ID. For a full refund, include an empty payload
                  in the request body. For a partial refund, include an `amount` object.
                value:
                  amount:
                    value: '1.00'
                    currency_code: USD
                  invoice_id: RefundInvoice-123
                  custom_id: RefundCustom-123
              captures_refund_empty_request:
                summary: Refund Captured Payment with an empty request
                description: Refunds a captured payment, by ID. For a full refund, include an empty payload
                  in the request body. For a partial refund, include an `amount` object.
                value: {}
              captures_refund_with_prefer_header:
                summary: Refund Captured Payment
                description: Refunds a captured payment, by ID. For a full refund, include an empty payload
                  in the request body. For a partial refund, include an `amount` object.
                value:
                  amount:
                    value: '10.99'
                    currency_code: USD
                  invoice_id: INVOICE-123
                  note: Defective product
      x-exampleFlows:
      - title: Partial refund of a captured payment
        description: Refunds a portion of a captured payment by ID. Includes an amount object in the request
          body specifying the partial refund amount.
        parameter_examples:
        - parameters/@name=='capture_id'/examples/captures_refund
        request_example: requestBody/content/application~1json/examples/captures_refund
        response_example: responses/201/content/application~1json/examples/captures_refund
      - title: Full refund with empty request body
        description: Refunds the full amount of a captured payment by ID. Includes an empty payload in
          the request body.
        parameter_examples:
        - parameters/@name=='capture_id'/examples/captures_refund_empty_request
        - parameters/@name=='Prefer'/examples/captures_refund_empty_request
        request_example: requestBody/content/application~1json/examples/captures_refund_empty_request
        response_example: responses/201/content/application~1json/examples/captures_refund_empty_request
      - title: Refund with Prefer header for full representation
        description: Refunds a captured payment by ID with the Prefer header set to return=representation
          to get the complete refund details in the response.
        parameter_examples:
        - parameters/@name=='capture_id'/examples/captures_refund_with_prefer_header
        - parameters/@name=='Prefer'/examples/captures_refund_with_prefer_header
        request_example: requestBody/content/application~1json/examples/captures_refund_with_prefer_header
        response_example: responses/201/content/application~1json/examples/captures_refund_with_prefer_header
      - title: Idempotent refund request (200 response)
        description: Demonstrates an idempotent refund request where the same PayPal-Request-Id is used,
          resulting in a 200 OK response with the existing refund details.
        parameter_examples:
        - parameters/@name=='capture_id'/examples/captures_refund_200_idempotent_response
        - parameters/@name=='Prefer'/examples/captures_refund_200_idempotent_response
        request_example: requestBody/content/application~1json/examples/captures_refund_200_idempotent_response
        response_example: responses/200/content/application~1json/examples/captures_refund_200_idempotent_response
      responses:
        '200':
          description: A successful request returns the HTTP <code>200 OK</code> status code and a JSON
            response body that shows refund details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refund'
              examples:
                captures_refund_200_idempotent_response:
                  summary: Refund Captured Payment - 200 idempotent response
                  description: Refunds a captured payment, by ID. For a full refund, include an empty
                    payload in the request body. For a partial refund, include an `amount` object.
                  value:
                    id: 0K35355239430361V
                    amount:
                      currency_code: USD
                      value: '1.00'
                    seller_payable_breakdown:
                      gross_amount:
                        currency_code: USD
                        value: '1.00'
                      paypal_fee:
                        currency_code: USD
                        value: '0.00'
                      net_amount:
                        currency_code: USD
                        value: '1.00'
                      total_refunded_amount:
                        currency_code: USD
                        value: '11.00'
                    invoice_id: RefundInvoice-14_10_2024_4_58_32_pm
                    custom_id: RefundCustom-14_10_2024_4_58_32_pm
                    status: COMPLETED
                    create_time: '2024-10-14T14:58:34-07:00'
                    update_time: '2024-10-14T14:58:34-07:00'
                    links:
                    - href: https://api.paypal.com/v2/payments/refunds/0K35355239430361V
                      rel: self
                      method: GET
                    - href: https://api.paypal.com/v2/payments/captures/7TK53561YB803214S
                      rel: up
                      method: GET
        '201':
          description: A successful request returns the HTTP <code>201 Created</code> status code and
            a JSON response body that shows refund details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refund'
              examples:
                captures_refund_empty_request:
                  summary: Refund Captured Payment with an empty request
                  description: Refunds a captured payment, by ID. For a full refund, include an empty
                    payload in the request body. For a partial refund, include an `amount` object.
                  value:
                    id: 58K15806CS993444T
                    amount:
                      currency_code: USD
                      value: '89.00'
                    seller_payable_breakdown:
                      gross_amount:
                        currency_code: USD
                        value: '89.00'
                      paypal_fee:
                        currency_code: USD
                        value: '0.00'
                      net_amount:
                        currency_code: USD
                        value: '89.00'
                      total_refunded_amount:
                        currency_code: USD
                        value: '100.00'
                    invoice_id: OrderInvoice-10_10_2024_12_58_20_pm
                    status: COMPLETED
                    create_time: '2024-10-14T15:03:29-07:00'
                    update_time: '2024-10-14T15:03:29-07:00'
                    links:
                    - href: https://api.msmaster.qa.paypal.com/v2/payments/refunds/58K15806CS993444T
                      rel: self
                      method: GET
                    - href: https://api.msmaster.qa.paypal.com/v2/payments/captures/7TK53561YB803214S
                      rel: up
                      method: GET
                captures_refund_with_prefer_header:
                  summary: Refund Captured Payment
                  description: Refunds a captured payment, by ID. For a full refund, include an empty
                    payload in the request body. For a partial refund, include an `amount` object.
                  value:
                    id: 1JU08902781691411
                    amount:
                      value: '10.99'
                      currency_code: USD
                    status: COMPLETED
                    note: Defective product
                    seller_payable_breakdown:
                      gross_amount:
                        value: '10.99'
                        currency_code: USD
                      paypal_fee:
                        value: '0'
                        currency_code: USD
                      net_amount:
                        value: '10.99'
                        currency_code: USD
                      total_refunded_amount:
                        value: '10.99'
                        currency_code: USD
                    invoice_id: INVOICE-123
                    create_time: '2018-09-11T23:24:19Z'
                    update_time: '2018-09-11T23:24:19Z'
                    links:
                    - rel: self
                      method: GET
                      href: https://api-m.paypal.com/v2/payments/refunds/1JU08902781691411
                    - rel: up
                      method: GET
                      href: https://api-m.paypal.com/v2/payments/captures/2GG279541U471931P
        '400':
          description: The request failed because it is not well-formed or is syntactically incorrect
            or violates schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                capture_refund_400_invalid_request:
                  summary: Refund Captured Payment - 400 Bad Request - Validation Error
                  description: This code sample attempts to refund a captured payment, but the request
                    fails because a validation error occurred.
                  value:
                    name: INVALID_REQUEST
                    message: Request is not well-formed, syntactically incorrect, or violates schema
                    debug_id: 78916e688cf7f
                    details:
                    - issue: INVALID_STRING_LENGTH
                      field: /invoice_id
                      value: Fm67fYiinqFm67fYiinqFm67fYiinqFm67fYiinqFm67fYiinqFm67fYiinqFm67fYiinqFm67fYiinqFm67fYiinqFm67fYiinqFm67fYiinqFm67fYiinqFm67fYiinqFm67fYiinq
                      description: The value of a field is either too short or too long.
                      location: body
                    links:
                    - href: https://developer.paypal.com/docs/api/payments/v2/#error-INVALID_STRING_LENGTH
                      rel: information_link
        '401':
          $ref: '#/components/responses/401_error_response'
        '403':
          $ref: '#/components/responses/403_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '409':
          description: The request failed because a previous call for the given resource is in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                captures_refund_409_conflict:
                  summary: Refund Captured Payment - 409 Conflict - Operation in Progress Error
                  description: This code sample attempts to refund a captured payment but the request
                    fails because a previous call for the given resource is in progress.
                  value:
                    name: RESOURCE_CONFLICT
                    debug_id: b1d1f06c7246c
                    message: The server has detected a conflict while processing this request.
                    details:
                    - issue: PREVIOUS_REQUEST_IN_PROGRESS
                      description: A previous request on this resource is currently in progress. Please
                        wait for some time and try again. It is best to space out the initial and the
                        subsequent request(s) to avoid receiving this error.
        '422':
          description: The request failed because it either is semantically incorrect or failed business
            validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                captures_refund_422_amount_exceeded:
                  summary: Refund Captured Payment - 422 Unprocessable Entity - Refund Amount Exceeded
                    Error
                  description: This code sample attempts to refund a captured payment, but the request
                    fails because the refund amount has exceeded the capture amount.
                  value:
                    name: UNPROCCESSABLE_ENTITY
                    message: The requested action could not be completed, is semantically incorrect, or
                      failed business validation.
                    debug_id: 90bff07028f7f
                    details:
                    - issue: REFUND_AMOUNT_EXCEEDED
                      description: The refund amount must be less than or equal to the capture amount
                        that has not yet been refunded.
                captures_refund_422_transaction_disputed:
                  summary: Refund Captured Payment - 422 Unprocessable Entity - Capture Disputed Partial
                    Refund Error
                  description: This code sample attempts to partially refund a captured payment, but the
                    request fails because the captured payment is currently under dispute.
                  value:
                    name: UNPROCESSABLE_ENTITY
                    message: The requested action could not be performed, semantically incorrect, or failed
                      business validation.
                    debug_id: 90bff07028f7f
                    details:
                    - issue: TRANSACTION_DISPUTED
                      description: Partial refunds cannot be offered at this time because there is an
                        open case on this transaction. Visit the PayPal Resolution Center to review this
                        case.
        '500':
          $ref: '#/components/responses/500_error_response'
        default:
          $ref: '#/components/responses/default_response'
      callbacks:
        capture_refunded:
          $ref: '#/components/callbacks/capture_refunded'
  /v2/payments/authorizations/{authorization_id}/capture:
    post:
      operationId: authorizations.capture
      summary: Capture authorized payment
      description: Captures an authorized payment, by ID.
      tags:
      - authorizations
      security:
      - Oauth2:
        - https://uri.paypal.com/services/payments/payment/authcapture
      parameters:
      - name: authorization_id
        description: The PayPal-generated ID for the authorized payment to capture.
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 2147483647
          pattern: ^[\S\s]*$
        examples:
          authorizations_capture:
            summary: Capture Authorized Payment
            description: Captures an authorized payment, by ID.
            value: 0VF52814937998046
          authorizations_capture_200_idempotent_response:
            summary: Capture Authorized Payment - 200 idempotent response
            description: Captures an authorized payment, by ID.
            value: 6DR965477U7140544
          authorizations_capture_empty_request:
            summary: Capture Authorized Payment with an empty request
            description: Captures an authorized payment, by ID.
            value: 6DR965477U7140544
          authorizations_capture_with_prefer_header:
            summary: Capture Authorized Payment with Prefer Request Header
            description: Captures an authorized payment, by ID. Includes the `Prefer` request header.
            value: 0VF52814937998046
      - $ref: '#/components/parameters/paypal_request_id'
      - name: Prefer
        description: The preferred server response upon successful completion of the request. Value is:<ul><li><code>return=minimal</code>.
          The server returns a minimal response to optimize communication between the API caller and the
          server. A minimal response includes the <code>id</code>, <code>status</code> and HATEOAS links.</li><li><code>return=representation</code>.
          The server returns a complete resource representation, including the current state of the resource.</li></ul>
        in: header
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 2147483647
          pattern: ^[\S\s]*$
          default: return=minimal
        examples:
          authorizations_capture_200_idempotent_response:
            summary: Capture Authorized Payment - 200 idempotent response
            description: Captures an authorized payment, by ID.
            value: return=representation
          authorizations_capture_with_prefer_header:
            summary: Capture Authorized Payment with Prefer Request Header
            description: Captures an authorized payment, by ID. Includes the `Prefer` request header.
            value: return=representation
          authorizations_capture_empty_request:
            summary: Capture Authorized Payment with an empty request
            description: Captures an authorized payment, by ID.
            value: return=representation
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/paypal_auth_assertion'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/capture_request'
            examples:
              authorizations_capture:
                summary: Capture Authorized Payment
                description: Captures an authorized payment, by ID.
                value:
                  amount:
                    value: '10.99'
                    currency_code: USD
                  invoice_id: INVOICE-123
                  final_capture: true
                  note_to_payer: If the ordered color is not available, we will substitute with a different
                    color free of charge.
                  soft_descriptor: Bob's Custom Sweaters
              authorizations_capture_200_idempotent_response:
                summary: Capture Authorized Payment - 200 idempotent response
                description: Captures an authorized payment, by ID.
                value:
                  amount:
                    value: '1.00'
                    currency_code: USD
                  invoice_id: CaptureInvoice-10142024
                  final_capture: false
              authorizations_capture_empty_request:
                summary: Capture Authorized Payment with an empty request
                description: Captures an authorized payment, by ID.
                value: {}
              authorizations_capture_with_prefer_header:
                summary: Capture Authorized Payment with Prefer Request Header
                description: Captures an authorized payment, by ID. Includes the `Prefer` request header.
                value:
                  amount:
                    value: '10.99'
                    currency_code: USD
                  invoice_id: INVOICE-123
                  final_capture: true
      x-exampleFlows:
      - title: Capture authorized payment
        description: Captures an authorized payment by ID with specified amount and invoice details.
        parameter_examples:
        - parameters/@name=='authorization_id'/examples/authorizations_capture
        request_example: requestBody/content/application~1json/examples/authorizations_capture
        response_example: responses/201/content/application~1json/examples/authorizations_capture
      - title: Capture authorized payment with empty request body
        description: Captures the full authorized amount by ID with an empty request body, using default
          values.
        parameter_examples:
        - parameters/@name=='authorization_id'/examples/authorizations_capture_empty_request
        - parameters/@name=='Prefer'/examples/authorizations_capture_empty_request
        request_example: requestBody/content/application~1json/examples/authorizations_capture_empty_request
        response_example: responses/201/content/application~1json/examples/authorizations_capture_empty_request
      - title: Capture with Prefer header for full representation
        description: Captures an authorized payment by ID with the Prefer header set to return=representation
          to get complete capture details in the response.
        parameter_examples:
        - parameters/@name=='authorization_id'/examples/authorizations_capture_with_prefer_header
        - parameters/@name=='Prefer'/examples/authorizations_capture_with_prefer_header
        request_example: requestBody/content/application~1json/examples/authorizations_capture_with_prefer_header
        response_example: responses/201/content/application~1json/examples/authorizations_capture_with_prefer_header
      - title: Idempotent capture request (200 response)
        description: Demonstrates an idempotent capture request where the same PayPal-Request-Id is used,
          resulting in a 200 OK response with existing capture details.
        parameter_examples:
        - parameters/@name=='authorization_id'/examples/authorizations_capture_200_idempotent_response
        - parameters/@name=='Prefer'/examples/authorizations_capture_200_idempotent_response
        request_example: requestBody/content/application~1json/examples/authorizations_capture_200_idempotent_response
        response_example: responses/200/content/application~1json/examples/authorizations_capture_200_idempotent_response
      responses:
        '200':
          description: A successful request returns the HTTP <code>200 OK</code> status code and a JSON
            response body that shows captured payment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capture-2'
              examples:
                authorizations_capture_200_idempotent_response:
                  summary: Capture Authorized Payment - 200 idempotent response
                  description: Captures an authorized payment, by ID.
                  value:
                    id: 23T524207X938445J
                    amount:
                      currency_code: USD
                      value: '100.00'
                    final_capture: false
                    seller_protection:
                      status: ELIGIBLE
                      dispute_categories:
                      - ITEM_NOT_RECEIVED
                      - UNAUTHORIZED_TRANSACTION
                    seller_receivable_breakdown:
                      gross_amount:
                        currency_code: USD
                        value: '1.00'
                      paypal_fee:
                        currency_code: USD
                        value: '0.52'
                      net_amount:
                        currency_code: USD
                        value: '0.48'
                      exchange_rate: {}
                    invoice_id: OrderInvoice-10_10_2024_12_58_20_pm
                    status: COMPLETED
                    create_time: '2024-10-14T21:29:26Z'
                    update_time: '2024-10-14T21:29:26Z'
                    links:
                    - href: https://api-m.paypal.com/v2/payments/captures/23T524207X938445J
                      rel: self
                      method: GET
                    - href: https://api-m.paypal.com/v2/payments/captures/23T524207X938445J/refund
                      rel: refund
                      method: POST
                    - href: https://api-m.paypal.com/v2/payments/authorizations/6DR965477U7140544
                      rel: up
                      method: GET
        '201':
          description: A successful request returns the HTTP <code>201 Created</code> status code and
            a JSON response body that shows captured payment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capture-2'
              examples:
                authorizations_capture:
                  summary: Capture Authorized Payment
                  description: Captures an authorized payment, by ID.
                  value:
                    id: 2GG279541U471931P
                    status: COMPLETED
                    links:
                    - rel: self
                      method: GET
                      href: https://api-m.paypal.com/v2/payments/captures/2GG279541U471931P
                    - rel: refund
                      method: POST
                      href: https://api-m.paypal.com/v2/payments/captures/2GG279541U471931P/refund
                    - rel: up
                      method: GET
                      href: https://api-m.paypal.com/v2/payments/authorizations/0VF52814937998046
                authorizations_capture_empty_request:
                  summary: Capture Authorized Payment with an empty request
                  description: Captures an authorized payment, by ID.
                  value:
                    id: 7TK53561YB803214S
                    amount:
                      currency_code: USD
                      value: '100.00'
                    final_capture: true
                    seller_protection:
                      status: ELIGIBLE
                      dispute_categories:
                      - ITEM_NOT_RECEIVED
                      - UNAUTHORIZED_TRANSACTION
                    seller_receivable_breakdown:
                      gross_amount:
                        currency_code: USD
                        value: '100.00'
                      paypal_fee:
                        currency_code: USD
                        value: '3.98'
                      net_amount:
                        currency_code: USD
                        value: '96.02'
                      exchange_rate: {}
                    invoice_id: OrderInvoice-10_10_2024_12_58_20_pm
                    status: PENDING
                    status_details:
                      reason: OTHER
                    create_time: '2024-10-14T21:37:10Z'
                    update_time: '2024-10-14T21:37:10Z'
                    links:
                    - href: https://api.msmaster.qa.paypal.com/v2/payments/captures/7TK53561YB803214S
                      rel: self
                      method: GET
                    - href: https://api.msmaster.qa.paypal.com/v2/payments/captures/7TK53561YB803214S/refund
                      rel: refund
                      method: POST
                    - href: https://api.msmaster.qa.paypal.com/v2/payments/authorizations/6DR965477U7140544
                      rel: up
                      method: GET
                authorizations_capture_with_prefer_header:
                  summary: Capture Authorized Payment with Prefer Request Header
                  description: Captures an authorized payment, by ID. Includes the `Prefer` request header.
                  value:
                    id: 2GG279541U471931P
                    status: COMPLETED
                    status_details: {}
                    amount:
                      value: '10.99'
                      currency_code: USD
                    final_capture: true
                    seller_protection:
                      status: ELIGIBLE
                      dispute_categories:
                      - ITEM_NOT_RECEIVED
                      - UNAUTHORIZED_TRANSACTION
                    seller_receivable_breakdown:
                      gross_amount:
                        value: '10.99'
                        currency_code: USD
                      paypal_fee:
                        value: '0.33'
                        currency_code: USD
                      net_amount:
                        value: '10.66'
                        currency_code: USD
                    invoice_id: INV-123
                    create_time: '2017-09-11T23:24:01Z'
                    update_time: '2017-09-11T23:24:01Z'
                    links:
                    - rel: self
                      method: GET
                      href: https://api-m.paypal.com/v2/payments/captures/2GG279541U471931P
                    - rel: refund
                      method: POST
                      href: https://api-m.paypal.com/v2/payments/captures/2GG279541U471931P/refund
                    - rel: up
                      method: GET
                      href: https://api-m.paypal.com/v2/payments/authorizations/0VF52814937998046
        '400':
          description: The request failed because it is not well-formed or is syntactically incorrect
            or violates schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                authorizations_capture_400_validation_error:
                  summary: Capture Authorized Payment - 400 Bad Request - Validation Error
                  description: This code sample attempts to capture an authorized payment but the request
                    fails because a validation error occurred.
                  value:
                    name: INVALID_REQUEST
                    message: Request is not well-formed, syntactically incorrect, or violates schema.
                    debug_id: 90bff07028f7f
                    details:
                    - field: /invoice_id
                      value: ABCDEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZ_this_invoice_is_too_long
                      issue: INVALID_STRING_MAX_LENGTH
                      description: The value of a field is too long.
        '401':
          $ref: '#/components/responses/401_error_response'
        '403':
          $ref: '#/components/responses/403_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '409':
          description: The server has detected a conflict while processing this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                authorizations_capture_409_conflict:
                  summary: Capture Authorized Payment - 409 Conflict - Operation in Progress Error
                  description: This code sample attempts to capture an authorized payment but the request
                    fails because a previous call for the given resource is in progress.
                  value:
                    name: RESOURCE_CONFLICT
                    debug_id: b1d1f06c7246c
                    message: The server has detected a conflict while processing this request.
                    details:
                    - issue: PREVIOUS_REQUEST_IN_PROGRESS
                      description: A previous request on this resource is currently in progress. Please
                        wait for some time and try again. It is best to space out the initial and the
                        subsequent request(s) to avoid receiving this error.
        '422':
          description: The request failed because it is semantically incorrect or failed business validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                authorizations_capture_422_amount_limit_exceeded:
                  summary: Capture Authorized Payment - 422 Unprocessable Entity - Requested Amount Exceeds
                    Limit Error
                  description: This code sample attempts to capture an authorized payment but the request
                    fails because the requested amount exceeds the allowable limit.
                  value:
                    name: UNPROCCESSABLE_ENTITY
                    message: The requested action could not be completed, is semantically incorrect, or
                      failed business validation.
                    debug_id: 90bff07028f7f
                    details:
                    - field: /amount/value
                      value: '10.99'
                      issue: MAX_CAPTURE_AMOUNT_EXCEEDED
                      description: Capture amount specified exceeded allowable limit. You can only capture
                        up to the original authorization amount.
                      location: body
                authorizations_capture_422_expired:
                  summary: Capture Authorized Payment - 422 Unprocessable Entity - Authorization Expired
                    Error
                  description: This code sample attempts to capture an authorized payment but the request
                    fails because the authorization expired.
                  value:
                    name: UNPROCCESSABLE_ENTITY
                    message: The requested action could not be completed, is semantically incorrect, or
                      failed business validation.
                    debug_id: 90bff07028f7f
                    details:
                    - issue: AUTHORIZATION_EXPIRED
                      description: The authorization has expired.
        '500':
          $ref: '#/components/responses/500_error_response'
        default:
          $ref: '#/components/responses/default_response'
      callbacks:
        capture_completed:
          $ref: '#/components/callbacks/capture_completed'
        capture_declined:
          $ref: '#/components/callbacks/capture_declined'
        capture_pending_kyc_incomplete:
          $ref: '#/components/callbacks/capture_pending_kyc_incomplete'
  /v2/payments/authorizations/{authorization_id}/void:
    post:
      operationId: authorizations.void
      summary: Void authorized payment
      description: Voids, or cancels, an authorized payment, by ID. You cannot void an authorized payment
        that has been fully captured.
      tags:
      - authorizations
      security:
      - Oauth2:
        - https://uri.paypal.com/services/payments/payment/authcapture
      parameters:
      - name: authorization_id
        description: The PayPal-generated ID for the authorized payment to void.
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 2147483647
          pattern: ^[\S\s]*$
        examples:
          authorizations_void:
            summary: Void Authorized Payment
            description: Voids an authorized PayPal account payment, by ID. You cannot void an authorized
              payment that has been fully captured.
            value: 0VF52814937998046
          authorizations_void_200_idempotent_response:
            summary: Void Authorized Payment
            description: Voids an authorized PayPal account payment, by ID. You cannot void an authorized
              payment that has been fully captured.
            value: 5C908745JK343851U
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/paypal_auth_assertion'
      - $ref: '#/components/parameters/paypal_request_id'
      - name: Prefer
        description: The preferred server response upon successful completion of the request. Value is:<ul><li><code>return=minimal</code>.
          The server returns a minimal response to optimize communication between the API caller and the
          server. A minimal response includes the <code>id</code>, <code>status</code> and HATEOAS links.</li><li><code>return=representation</code>.
          The server returns a complete resource representation, including the current state of the resource.</li></ul>
        in: header
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 2147483647
          pattern: ^[\S\s]*$
          default: return=minimal
      x-exampleFlows:
      - title: Void authorized payment
        description: Voids or cancels an authorized payment by ID. Returns minimal response with status
          code 204 No Content.
        parameter_examples:
        - parameters/@name=='authorization_id'/examples/authorizations_void
      - title: Void authorized payment with full representation (200 response)
        description: Voids or cancels an authorized payment by ID. Returns full representation when Prefer
          header is set to return=representation, resulting in 200 OK status code.
        parameter_examples:
        - parameters/@name=='authorization_id'/examples/authorizations_void_200_idempotent_response
        response_example: responses/200/content/application~1json/examples/authorizations_void_200_idempotent_response
      responses:
        '200':
          description: A successful request returns the HTTP <code>200 OK</code> status code and a JSON
            response body that shows authorization details. This response is returned when the Prefer
            header is set to return=representation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization-2'
              examples:
                authorizations_void_200_idempotent_response:
                  summary: Void Authorized Payment
                  description: Voids an authorized PayPal account payment, by ID. You cannot void an authorized
                    payment that has been fully captured.
                  value:
                    id: 5C908745JK343851U
                    status: VOIDED
                    amount:
                      currency_code: USD
                      value: '100.00'
                    invoice_id: OrderInvoice-10_10_2024_12_06_00_pm
                    seller_protection:
                      status: ELIGIBLE
                      dispute_categories:
                      - ITEM_NOT_RECEIVED
                      - UNAUTHORIZED_TRANSACTION
                    expiration_time: '2024-11-08T09:06:03-08:00'
                    create_time: '2024-10-10T10:06:03-07:00'
                    update_time: '2024-10-10T10:06:19-07:00'
                    links:
                    - href: https://api.paypal.com/v2/payments/authorizations/5C908745JK343851U
                      rel: self
                      method: GET
        '204':
          $ref: '#/components/responses/204_response'
        '401':
          $ref: '#/components/responses/401_error_response'
        '403':
          $ref: '#/components/responses/403_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '409':
          description: The request failed because a previous call for the given resource is in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                authorizations_void_409_conflict:
                  summary: Void Authorized Payment - 409 Conflict - Operation in Progress Error
                  description: This code sample attempts to void an authorized payment but the request
                    fails because a previous call for the given resource is in progress.
                  value:
                    name: RESOURCE_CONFLICT
                    debug_id: b1d1f06c7246c
                    message: The server has detected a conflict while processing this request.
                    details:
                    - issue: PREVIOUS_REQUEST_IN_PROGRESS
                      description: A previous request on this resource is currently in progress. Please
                        wait for sometime and try again. It is best to space out the initial and the subsequent
                        request(s) to avoid receiving this error.
        '422':
          description: The request failed because it either is semantically incorrect or failed business
            validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                authorizations_void_422_already_captured:
                  summary: Void Authorized Payment - 422 Unprocessable Entity - Authorization Previously
                    Captured Error
                  description: This code sample attempts to void an authorized payment but the request
                    fails because has already been captured and cannot be voided.
                  value:
                    name: UNPROCESSABLE_ENTITY
                    message: The requested action could not be performed, semantically incorrect, or failed
                      business validation.
                    debug_id: a7b0de7cb97ad
                    details:
                    - issue: PREVIOUSLY_CAPTURED
                      description: Authorization has been previously captured and cannot be voided.
                    links:
                    - href: https://developer.paypal.com/docs/api/payments/v2/#error-PREVIOUSLY_CAPTURED
                      rel: information_link
        '500':
          $ref: '#/components/responses/500_error_response'
        default:
          $ref: '#/components/responses/default_response'
      callbacks:
        authorization_voided:
          $ref: '#/components/callbacks/authorization_voided'
        authorization_voided_expired:
          $ref: '#/components/callbacks/authorization_voided_expired'
components:
  callbacks:
    authorization_voided:
      authorizations/{$request.path.authorization_id}/void:
        post:
          summary: Authorization voided notification
          description: Notification sent when the authorization is voided.
          operationId: authorizations.voided.callback
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  title: Authorization Voided Event
                  description: Webhook event notification for authorization voided.
                  properties:
                    id:
                      type: string
                      description: The ID of the webhook event notification.
                      minLength: 1
                      maxLength: 255
                      pattern: ^.*$
                    event_version:
                      type: string
                      description: The version of the event.
                      minLength: 1
                      maxLength: 50
                      pattern: ^.*$
                    create_time:
                      description: The date and time when the webhook event notification was created.
                      allOf:
                      - $ref: '#/components/schemas/date_time'
                    resource_type:
                      type: string
                      description: The name of the resource related to the webhook notification event.
                      minLength: 1
                      maxLength: 100
                      pattern: ^.*$
                    resource_version:
                      type: string
                      description: The version of the resource.
                      minLength: 1
                      maxLength: 50
                      pattern: ^.*$
                    event_type:
                      type: string
                      description: The event that triggered the webhook event notification.
                      enum:
                      - PAYMENT.AUTHORIZATION.VOIDED
                    summary:
                      type: string
                      description: A summary description for the event notification.
                      minLength: 1
                      maxLength: 500
                      pattern: ^.*$
                    resource:
                      allOf:
                      - $ref: '#/components/schemas/authorization-2'
                    links:
                      type: array
                      description: An array of request-related HATEOAS links.
                      minItems: 1
                      maxItems: 10
                      items:
                        $ref: '#/components/schemas/link_description-2'
                examples:
                  authorization_voided:
                    summary: Authorization voided event
                    description: Webhook notification when the authorization is voided.
                    value:
                      id: WH-30Y09481LL7353048-6K675100AV972020E
                      create_time: '2022-09-21T18:41:07.071Z'
                      event_type: PAYMENT.AUTHORIZATION.VOIDED
                      event_version: '1.0'
                      resource_type: authorization
                      resource_version: '2.0'
                      summary: A payment authorization was voided
                      resource:
                        id: 3C679366HH908993F
                        status: VOIDED
                        amount:
                          currency_code: USD
                          value: '100.00'
                        seller_protection:
                          status: ELIGIBLE
                          dispute_categories:
                          - ITEM_NOT_RECEIVED
                          - UNAUTHORIZED_TRANSACTION
                        supplementary_data:
                          related_ids:
                            order_id: 6AY135578D653613P
                        expiration_time: '2022-10-20T18:40:22Z'
                        create_time: '2022-09-21T18:40:22Z'
                        update_time: '2022-09-21T18:41:03Z'
                        links:
                        - href: https://api-m.paypal.com/v2/payments/captures/3C679366HH908993F
                          rel: self
                          method: GET
                      links:
                      - href: https://api-m.paypal.com/v1/notifications/webhooks-events/WH-30Y09481LL7353048-6K675100AV972020E
                        rel: self
                        method: GET
                      - href: https://api-m.paypal.com/v1/notifications/webhooks-events/WH-30Y09481LL7353048-6K675100AV972020E/resend
                        rel: resend
                        method: POST
          responses:
            '204':
              description: Your server implementation should return this HTTP status code if the data
                was received successfully.
            '400':
              description: Your server should return this HTTP status code if the request is malformed.
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/error'
                  examples:
                    invalid_request:
                      summary: Invalid webhook request.
                      description: Request with malformed data.
                      value:
                        name: INVALID_REQUEST
                        debug_id: b1d1f06c7246c
                        message: Request is not well-formed, syntactically incorrect, or violates schema.
                        details:
                        - field: /event_type
                          location: body
                          issue: INVALID_PARAMETER_SYNTAX
                          description: The value of a field does not conform to the expected format.
            '500':
              $ref: '#/components/responses/500_error_response'
    authorization_voided_expired:
      authorizations/{$request.path.authorization_id}/void-expired:
        post:
          summary: Authorization voided due to expiry notification
          description: Notification sent when the authorization is voided due to expiry.
          operationId: authorizations.voided.expired.callback
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  title: Authorization Voided Expired Event
                  description: Webhook event notification for authorization voided due to expiry.
                  properties:
                    id:
                      type: string
                      description: The ID of the webhook event notification.
                      minLength: 1
                      maxLength: 255
                      pattern: ^.*$
                    event_version:
                      type: string
                      description: The version of the event.
                      minLength: 1
                      maxLength: 50
                      pattern: ^.*$
                    create_time:
                      description: The date and time when the webhook event notification was created.
                      allOf:
                      - $ref: '#/components/schemas/date_time'
                    resource_type:
                      type: string
                      description: The name of the resource related to the webhook notification event.
                      minLength: 1
                      maxLength: 100
                      pattern: ^.*$
                    resource_version:
                      type: string
                      description: The version of the resource.
                      minLength: 1
                      maxLength: 50
                      pattern: ^.*$
                    event_type:
                      type: string
                      description: The event that triggered the webhook event notification.
                      enum:
                      - PAYMENT.AUTHORIZATION.VOIDED
                    summary:
                      type: string
                      description: A summary description for the event notification.
                      minLength: 1
                      maxLength: 500
                      pattern: ^.*$
                    resource:
                      allOf:
                      - $ref: '#/components/schemas/authorization-2'
                    links:
                      type: array
                      description: An array of request-related HATEOAS links.
                      minItems: 1
                      maxItems: 10
                      items:
                        $ref: '#/components/schemas/link_description-2'
                examples:
                  authorization_voided_expired:
                    summary: Authorization voided due to expiry event
                    description: Webhook notification when the authorization is voided due to expiry.
                    value:
                      id: WH-30Y09481LL7353048-6K675100AV972020E
                      create_time: '2022-09-21T18:41:07.071Z'
                      event_type: PAYMENT.AUTHORIZATION.VOIDED
                      event_version: '1.0'
                      resource_type: authorization
                      resource_version: '2.0'
                      summary: A payment authorization was expired
                      resource:
                        id: 3C679366HH908993F
                        status: VOIDED
                        amount:
                          currency_code: USD
                          value: '100.00'
                        seller_protection:
                          status: ELIGIBLE
                          dispute_categories:
                          - ITEM_NOT_RECEIVED
                          - UNAUTHORIZED_TRANSACTION
                        supplementary_data:
                          related_ids:
                            order_id: 6AY135578D653613P
                        expiration_time: '2022-10-20T18:40:22Z'
                        create_time: '2022-09-21T18:40:22Z'
                        update_time: '2022-09-21T18:41:03Z'
                        links:
                        - href: https://api-m.paypal.com/v2/payments/captures/3C679366HH908993F
                          rel: self
                          method: GET
                      links:
                      - href: https://api-m.paypal.com/v1/notifications/webhooks-events/WH-30Y09481LL7353048-6K675100AV972020E
                        rel: self
                        method: GET
                      - href: https://api-m.paypal.com/v1/notifications/webhooks-events/WH-30Y09481LL7353048-6K675100AV972020E/resend
                        rel: resend
                        method: POST
          responses:
            '204':
              description: Your server implementation should return this HTTP status code if the data
                was received successfully.
            '400':
              description: Your server should return this HTTP status code if the request is malformed.
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/error'
                  examples:
                    invalid_request:
                      summary: Invalid webhook request.
                      description: Request with malformed data.
                      value:
                        name: INVALID_REQUEST
                        debug_id: b1d1f06c7246c
                        message: Request is not well-formed, syntactically incorrect, or violates schema.
                        details:
                        - field: /event_type
                          location: body
                          issue: INVALID_PARAMETER_SYNTAX
                          description: The value of a field does not conform to the expected format.
            '500':
              $ref: '#/components/responses/500_error_response'
    capture_completed:
      captures/{$request.path.capture_id}:
        post:
          summary: Capture completed notification
          description: Notification sent when the capture is completed.
          operationId: captures.completed.callback
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  title: Capture Completed Event
                  description: Webhook event notification for capture completed.
                  properties:
                    id:
                      type: string
                      description: The ID of the webhook event notification.
                      minLength: 1
                      maxLength: 255
                      pattern: ^.*$
                    event_version:
                      type: string
                      description: The version of the event.
                      minLength: 1
                      maxLength: 50
                      pattern: ^.*$
                    create_time:
                      description: The date and time when the webhook event notification was created.
                      allOf:
                      - $ref: '#/components/schemas/date_time'
                    resource_type:
                      type: string
                      description: The name of the resource related to the webhook notification event.
                      minLength: 1
                      maxLength: 100
                      pattern: ^.*$
                    resource_version:
                      type: string
                      description: The version of the resource.
                      minLength: 1
                      maxLength: 50
                      pattern: ^.*$
                    event_type:
                      type: string
                      description: The event that triggered the webhook event notification.
                      enum:
                      - PAYMENT.CAPTURE.COMPLETED
                    summary:
                      type: string
                      description: A summary description for the event notification.
                      minLength: 1
                      maxLength: 500
                      pattern: ^.*$
                    resource:
                      allOf:
                      - $ref: '#/components/schemas/capture-2'
                    links:
                      type: array
                      description: An array of request-related HATEOAS links.
                      minItems: 1
                      maxItems: 10
                      items:
                        $ref: '#/components/schemas/link_description-2'
                examples:
                  capture_completed:
                    summary: Capture completed event
                    description: Webhook notification when the capture is completed.
                    value:
                      id: WH-152442318H6474839-1HN0997948621344U
                      event_version: '1.0'
                      create_time: '2022-10-27T22:32:49.870Z'
                      resource_type: capture
                      resource_version: '2.0'
                      event_type: PAYMENT.CAPTURE.COMPLETED
                      summary: Payment completed for $ 10.0 USD
                      resource:
                        amount:
                          value: '10.00'
                          currency_code: USD
                        seller_protection:
                          dispute_categories:
                          - ITEM_NOT_RECEIVED
                          - UNAUTHORIZED_TRANSACTION
                          status: ELIGIBLE
                        supplementary_data:
                          related_ids:
                            order_id: 28U14622MW998902M
                        update_time: '2022-10-27T22:32:45Z'
                        create_time: '2022-10-27T22:32:45Z'
                        final_capture: true
                        seller_receivable_breakdown:
                          paypal_fee:
                            value: '0.84'
                            currency_code: USD
                          gross_amount:
                            value: '10.00'
                            currency_code: USD
                          net_amount:
                            value: '9.16'
                            currency_code: USD
                        links:
                        - method: GET
                          rel: self
                          href: https://api-m.paypal.com/v2/payments/captures/27C890397M291943E
                        - method: POST
                          rel: refund
                          href: https://api-m.paypal.com/v2/payments/captures/27C890397M291943E/refund
                        - method: GET
                          rel: up
                          href: https://api-m.paypal.com/v2/checkout/orders/28U14622MW998902M
                        id: 27C890397M291943E
                        status: COMPLETED
                      links:
                      - href: https://api-m.paypal.com/v1/notifications/webhooks-events/WH-152442318H6474839-1HN0997948621344U
                        rel: self
                        method: GET
                      - href: https://api-m.paypal.com/v1/notifications/webhooks-events/WH-152442318H6474839-1HN0997948621344U/resend
                        rel: resend
                        method: POST
          responses:
            '204':
              description: Your server implementation should return this HTTP status code if the data
                was received successfully.
            '400':
              description: Your server should return this HTTP status code if the request is malformed.
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/error'
                  examples:
                    invalid_request:
                      summary: Invalid webhook request.
                      description: Request with malformed data.
                      value:
                        name: INVALID_REQUEST
                        debug_id: b1d1f06c7246c
                        message: Request is not well-formed, syntactically incorrect, or violates schema.
                        details:
                        - field: /event_type
                          location: body
                          issue: INVALID_PARAMETER_SYNTAX
                          description: The value of a field does not conform to the expected format.
            '500':
              $ref: '#/components/responses/500_error_response'
    capture_declined:
      captures/{$request.path.capture_id}/declined:
        post:
          summary: Capture declined notification
          description: Notification sent when capture for authorization is declined.
          operationId: captures.declined.callback
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  title: Capture Declined Event
                  description: Webhook event notification for capture declined.
                  properties:
                    id:
                      type: string
                      description: The ID of the webhook event notification.
                      minLength: 1
                      maxLength: 255
                      pattern: ^.*$
                    event_version:
                      type: string
                      description: The version of the event.
                      minLength: 1
                      maxLength: 50
                      pattern: ^.*$
                    create_time:
                      description: The date and time when the webhook event notification was created.
                      allOf:
                      - $ref: '#/components/schemas/date_time'
                    resource_type:
                      type: string
                      description: The name of the resource related to the webhook notification event.
                      minLength: 1
                      maxLength: 100
                      pattern: ^.*$
                    resource_version:
                      type: string
                      description: The version of the resource.
                      minLength: 1
                      maxLength: 50
                      pattern: ^.*$
                    event_type:
                      type: string
                      description: The event that triggered the webhook event notification.
                      enum:
                      - PAYMENT.CAPTURE.DECLINED
                    summary:
                      type: string
                      description: A summary description for the event notification.
                      minLength: 1
                      maxLength: 500
                      pattern: ^.*$
                    resource:
                      allOf:
                      - $ref: '#/components/schemas/capture-2'
                    links:
                      type: array
                      description: An array of request-related HATEOAS links.
                      minItems: 1
                      maxItems: 10
                      items:
                        $ref: '#/components/schemas/link_description-2'
                examples:
                  capture_declined:
                    summary: Capture declined event
                    description: Webhook notification when capture for authorization is declined.
                    value:
                      id: WH-30Y09481LL7353048-6K675100AV972021E
                      create_time: '2022-09-21T18:41:07.071Z'
                      event_type: PAYMENT.CAPTURE.DECLINED
                      event_version: '1.0'
                      resource_type: capture
                      resource_version: '2.0'
                      summary: A payment capture for $ 50.0 USD was declined.
                      resource:
                        id: 40222075YX552741V
                        status: DECLINED
                        amount:
                          currency_code: USD
                          value: '50.00'
                        final_capture: false
                        seller_protection:
                          status: ELIGIBLE
                          dispute_categories:
                          - ITEM_NOT_RECEIVED
                          - UNAUTHORIZED_TRANSACTION
                        disbursement_mode: INSTANT
                        seller_receivable_breakdown:
                          gross_amount:
                            currency_code: USD
                            value: '50.00'
                          paypal_fee:
                            currency_code: USD
                            value: '2.24'
                          net_amount:
                            currency_code: USD
                            value: '47.76'
                        invoice_id: '1663785654'
                        supplementary_data:
                          related_ids:
                            order_id: 6AY135578D653613P
                            authorization_id: 3U5721406T774122W
                        create_time: '2022-09-21T18:40:22Z'
                        update_time: '2022-09-21T18:41:03Z'
                        links:
                        - href: https://api-m.paypal.com/v2/payments/captures/40222075YX552741V
                          rel: self
                          method: GET
                        - href: https://api-m.paypal.com/v2/payments/authorizations/3U5721406T774122W
                          rel: up
                          method: GET
                      links:
                      - href: https://api-m.paypal.com/v1/notifications/webhooks-events/WH-30Y09481LL7353048-6K675100AV972021E
                        rel: self
                        method: GET
                      - href: https://api-m.paypal.com/v1/notifications/webhooks-events/WH-30Y09481LL7353048-6K675100AV972021E/resend
                        rel: resend
                        method: POST
          responses:
            '204':
              description: Your server implementation should return this HTTP status code if the data
                was received successfully.
            '400':
              description: Your server should return this HTTP status code if the request is malformed.
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/error'
                  examples:
                    invalid_request:
                      summary: Invalid webhook request.
                      description: Request with malformed data.
                      value:
                        name: INVALID_REQUEST
                        debug_id: b1d1f06c7246c
                        message: Request is not well-formed, syntactically incorrect, or violates schema.
                        details:
                        - field: /event_type
                          location: body
                          issue: INVALID_PARAMETER_SYNTAX
                          description: The value of a field does not conform to the expected format.
            '500':
              $ref: '#/components/responses/500_error_response'
    capture_pending_kyc_incomplete:
      captures/{$request.path.capture_id}/pending:
        post:
          summary: Capture pending KYC incomplete notification
          description: Notification sent when capture a sale order for a merchant with incomplete KYC
            status, and the partner is enabled for Progressive Onboarding.
          operationId: captures.pending.kyc_incomplete.callback
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  title: Capture Pending KYC Incomplete Event
                  description: Webhook event notification for capture pending due to incomplete KYC.
                  properties:
                    id:
                      type: string
                      description: The ID of the webhook event notification.
                      minLength: 1
                      maxLength: 255
                      pattern: ^.*$
                    event_version:
                      type: string
                      description: The version of the event.
                      minLength: 1
                      maxLength: 50
                      pattern: ^.*$
                    create_time:
                      description: The date and time when the webhook event notification was created.
                      allOf:
                      - $ref: '#/components/schemas/date_time'
                    resource_type:
                      type: string
                      description: The name of the resource related to the webhook notification event.
                      minLength: 1
                      maxLength: 100
                      pattern: ^.*$
                    resource_version:
                      type: string
                      description: The version of the resource.
                      minLength: 1
                      maxLength: 50
                      pattern: ^.*$
                    event_type:
                      type: string
                      description: The event that triggered the webhook event notification.
                      enum:
                      - PAYMENT.CAPTURE.PENDING
                    summary:
                      type: string
                      description: A summary description for the event notification.
                      minLength: 1
                      maxLength: 500
                      pattern: ^.*$
                    resource:
                      allOf:
                      - $ref: '#/components/schemas/capture-2'
                    links:
                      type: array
                      description: An array of request-related HATEOAS links.
                      minItems: 1
                      maxItems: 10
                      items:
                        $ref: '#/components/schemas/link_description-2'
                examples:
                  capture_pending_kyc_incomplete:
                    summary: Capture pending KYC incomplete event
                    description: Webhook notification when capture a sale order for a merchant with incomplete
                      KYC status.
                    value:
                      id: WH-36845715LW9646800-7FJ097926K9003132
                      event_version: '1.0'
                      create_time: '2025-07-08T22:07:56.096Z'
                      resource_type: capture
                      resource_version: '2.0'
                      event_type: PAYMENT.CAPTURE.PENDING
                      summary: Payment pending for $ 80.0 USD
                      resource:
                        id: 30N459334R4656637
                        amount:
                          currency_code: USD
                          value: '80.00'
                        final_capture: true
                        seller_protection:
                          status: NOT_ELIGIBLE
                        disbursement_mode: INSTANT
                        status: PENDING
                        status_details:
                          reason: KYC_HOLD
                        processor_response:
                          avs_code: A
                          cvv_code: S
                          response_code: '0000'
                        supplementary_data:
                          related_ids:
                            order_id: 9XF68199B43440616
                        payee:
                          merchant_id: 972Y8QJUSCK3W
                        create_time: '2025-07-08T22:07:50Z'
                        update_time: '2025-07-08T22:07:50Z'
                        links:
                        - href: https://msmaster1intdev52.dev52.cbf.dev.paypalinc.com:25137/v2/payments/captures/30N459334R4656637
                          rel: self
                          method: GET
                        - href: https://msmaster1intdev52.dev52.cbf.dev.paypalinc.com:25137/v2/payments/captures/30N459334R4656637/refund
                          rel: refund
                          method: POST
                        - href: https://msmaster1intdev52.dev52.cbf.dev.paypalinc.com:25137/v2/checkout/orders/9XF68199B43440616
                          rel: up
                          method: GET
                        network_transaction_reference:
                          id: '752835256460198'
                          network: VISA
                      links:
                      - href: https://msmaster1intdev52.dev52.cbf.dev.paypalinc.com:14084/v1/notifications/webhooks-events/WH-36845715LW9646800-7FJ097926K9003132
                        rel: self
                        method: GET
                      - href: https://msmaster1intdev52.dev52.cbf.dev.paypalinc.com:14084/v1/notifications/webhooks-events/WH-36845715LW9646800-7FJ097926K9003132/resend
                        rel: resend
                        method: POST
          responses:
            '204':
              description: Your server implementation should return this HTTP status code if the data
                was received successfully.
            '400':
              description: Your server should return this HTTP status code if the request is malformed.
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/error'
                  examples:
                    invalid_request:
                      summary: Invalid webhook request.
                      description: Request with malformed data.
                      value:
                        name: INVALID_REQUEST
                        debug_id: b1d1f06c7246c
                        message: Request is not well-formed, syntactically incorrect, or violates schema.
                        details:
                        - field: /event_type
                          location: body
                          issue: INVALID_PARAMETER_SYNTAX
                          description: The value of a field does not conform to the expected format.
            '500':
              $ref: '#/components/responses/500_error_response'
    capture_refunded:
      captures/{$request.path.capture_id}/refunds:
        post:
          summary: Capture refunded notification
          description: Notification sent when a capture is refunded.
          operationId: captures.refunded.callback
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  title: Capture Refunded Event
                  description: Webhook event notification for capture refunded.
                  properties:
                    id:
                      type: string
                      description: The ID of the webhook event notification.
                      minLength: 1
                      maxLength: 255
                      pattern: ^.*$
                    event_version:
                      type: string
                      description: The version of the event.
                      minLength: 1
                      maxLength: 50
                      pattern: ^.*$
                    create_time:
                      description: The date and time when the webhook event notification was created.
                      allOf:
                      - $ref: '#/components/schemas/date_time'
                    resource_type:
                      type: string
                      description: The name of the resource related to the webhook notification event.
                      minLength: 1
                      maxLength: 100
                      pattern: ^.*$
                    resource_version:
                      type: string
                      description: The version of the resource.
                      minLength: 1
                      maxLength: 50
                      pattern: ^.*$
                    event_type:
                      type: string
                      description: The event that triggered the webhook event notification.
                      enum:
                      - PAYMENT.CAPTURE.REFUNDED
                    summary:
                      type: string
                      description: A summary description for the event notification.
                      minLength: 1
                      maxLength: 500
                      pattern: ^.*$
                    resource:
                      allOf:
                      - $ref: '#/components/schemas/refund'
                    links:
                      type: array
                      description: An array of request-related HATEOAS links.
                      minItems: 1
                      maxItems: 10
                      items:
                        $ref: '#/components/schemas/link_description-2'
                examples:
                  capture_refunded:
                    summary: Capture refunded event
                    description: Webhook notification when a capture is refunded.
                    value:
                      id: WH-3UE850097C805102A-18305212AB1299210
                      event_version: '1.0'
                      create_time: '2022-10-27T22:34:27.088Z'
                      resource_type: refund
                      resource_version: '2.0'
                      event_type: PAYMENT.CAPTURE.REFUNDED
                      summary: A $ 5.0 USD capture payment was refunded
                      resource:
                        seller_payable_breakdown:
                          total_refunded_amount:
                            value: '5.00'
                            currency_code: USD
                          paypal_fee:
                            value: '0.00'
                            currency_code: USD
                          gross_amount:
                            value: '5.00'
                            currency_code: USD
                          net_amount:
                            value: '5.00'
                            currency_code: USD
                        amount:
                          value: '5.00'
                          currency_code: USD
                        update_time: '2022-10-27T15:34:22-07:00'
                        create_time: '2022-10-27T15:34:22-07:00'
                        invoice_id: '1666910062'
                        links:
                        - method: GET
                          rel: self
                          href: https://api-m.paypal.com/v2/payments/refunds/3NG36268BJ600681V
                        - method: GET
                          rel: up
                          href: https://api-m.paypal.com/v2/payments/captures/27C890397M291943E
                        id: 3NG36268BJ600681V
                        note_to_payer: Defective product
                        status: COMPLETED
                      links:
                      - href: https://api-m.paypal.com/v1/notifications/webhooks-events/WH-3UE850097C805102A-18305212AB1299210
                        rel: self
                        method: GET
                      - href: https://api-m.paypal.com/v1/notifications/webhooks-events/WH-3UE850097C805102A-18305212AB1299210/resend
                        rel: resend
                        method: POST
          responses:
            '204':
              description: Your server implementation should return this HTTP status code if the data
                was received successfully.
            '400':
              description: Your server should return this HTTP status code if the request is malformed.
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/error'
                  examples:
                    invalid_request:
                      summary: Invalid webhook request.
                      description: Request with malformed data.
                      value:
                        name: INVALID_REQUEST
                        debug_id: b1d1f06c7246c
                        message: Request is not well-formed, syntactically incorrect, or violates schema.
                        details:
                        - field: /event_type
                          location: body
                          issue: INVALID_PARAMETER_SYNTAX
                          description: The value of a field does not conform to the expected format.
            '500':
              $ref: '#/components/responses/500_error_response'
  parameters:
    authorization:
      name: Authorization
      in: header
      description: Holds authorization information for external API calls.
      required: false
      schema:
        $ref: '#/components/schemas/standard_header_schema'
      examples:
        bearer:
          summary: Bearer authorization.
          description: An authorization header with information for the Bearer authorization scheme. The
            authorization parameter value is randomized for this example.
          value: Bearer A21AAGHr9qtiRRXH4oYcQokQgV99rGqEIfgrr8xHCclP0OzmD9KVgg5ppIIg1jzJgQkV4wd02svIvBJyg6cLFJjFow_SjBhxQ
    paypal_auth_assertion:
      name: PayPal-Auth-Assertion
      in: header
      description: Header for an API client-provided JWT assertion that identifies the merchant. Establishing
        the consent to act-on-behalf of a merchant is a prerequisite for using this header.
      required: false
      schema:
        description: Header for an API client-provided JWT assertion that identifies the merchant. Establishing
          the consent to act-on-behalf of a merchant is a prerequisite for using this header.
        type: string
        minLength: 1
        maxLength: 10000
        pattern: ^.*$
      examples:
        auth_assertion:
          summary: An auth assertion.
          description: A paypal-auth-assertion header with a randomized value.
          value: eyJhbGciOiJub25lIn0.eyJlbWFpbCI6Im15QGVtYWlsLmNvbSJ9
    paypal_request_id:
      name: PayPal-Request-Id
      in: header
      description: A unique ID identifying the request header for idempotency purposes.
      required: false
      schema:
        description: A unique ID identifying the request header for idempotency purposes.
        type: string
        minLength: 1
        maxLength: 10000
        pattern: ^.*$
      examples:
        request_id:
          summary: A request id.
          description: A paypal-request-id header with a randomized value.
          value: 17e81d06-77ab-11e8-adc0-fa71639ebebc
  responses:
    204_response:
      description: No Content.
    401_error_response:
      description: Unauthorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            generic:
              summary: Generic 'Unauthorized' error.
              description: Example response for unauthorized request.
              value:
                name: AUTHENTICATION_FAILURE
                debug_id: b1d1f06c7246c
                message: Authentication failed due to missing Authorization header, or invalid authentication
                  credentials.
    403_error_response:
      description: Forbidden.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            generic:
              summary: Generic 'Forbidden' error.
              description: Example response for a forbidden request.
              value:
                name: NOT_AUTHORIZED
                debug_id: b1d1f06c7246c
                message: Authorization failed due to insufficient permissions.
    404_error_response:
      description: Not Found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            generic:
              summary: Generic 'Not Found' error.
              description: Example response for a request to a resource that does not exist.
              value:
                name: RESOURCE_NOT_FOUND
                debug_id: b1d1f06c7246c
                message: The specified resource does not exist.
    500_error_response:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            generic:
              summary: Generic internal server error.
              description: Example response for a request that fails for reasons internal to the server.
              value:
                name: INTERNAL_SERVER_ERROR
                debug_id: b1d1f06c7246c
                message: An internal server error has occurred.
    default_response:
      description: Default response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            generic:
              summary: Default response.
              description: Example catch all response, should not be encountered in practice.
              value:
                name: INTERNAL_SERVER_ERROR
                debug_id: b1d1f06c7246c
                message: An internal server error has occurred.
  schemas:
    account_id-2:
      title: PayPal Account Identifier
      description: The account identifier for a PayPal account.
      type: string
      minLength: 13
      maxLength: 13
      pattern: ^[2-9A-HJ-NP-Z]{13}$
    activity_timestamps:
      title: activity_timestamps
      description: The date and time stamps that are common to authorized payment, captured payment, and
        refund transactions.
      type: object
      properties:
        create_time:
          allOf:
          - $ref: '#/components/schemas/date_time'
          - description: The date and time when the transaction occurred, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).
            readOnly: true
        update_time:
          allOf:
          - $ref: '#/components/schemas/date_time'
          - description: The date and time when the transaction was last updated, in [Internet date and
              time format](https://tools.ietf.org/html/rfc3339#section-5.6).
            readOnly: true
    amount_breakdown:
      title: amount_breakdown
      description: The breakdown of the amount. Breakdown provides details such as total item amount,
        total tax amount, shipping, handling, insurance, and discounts, if any.
      type: object
      properties:
        item_total:
          allOf:
          - $ref: '#/components/schemas/money'
          - description: The subtotal for all items. Required if the request includes `purchase_units[].items[].unit_amount`.
              Must equal the sum of `(items[].unit_amount * items[].quantity)` for all items. <code>item_total.value</code>
              can not be a negative number.
        shipping:
          allOf:
          - $ref: '#/components/schemas/money'
          - description: The shipping fee for all items within a given `purchase_unit`. <code>shipping.value</code>
              can not be a negative number.
        handling:
          allOf:
          - $ref: '#/components/schemas/money'
          - description: The handling fee for all items within a given `purchase_unit`. <code>handling.value</code>
              can not be a negative number.
        tax_total:
          allOf:
          - $ref: '#/components/schemas/money'
          - description: The total tax for all items. Required if the request includes `purchase_units.items.tax`.
              Must equal the sum of `(items[].tax * items[].quantity)` for all items. <code>tax_total.value</code>
              can not be a negative number.
        insurance:
          allOf:
          - $ref: '#/components/schemas/money'
          - description: The insurance fee for all items within a given `purchase_unit`. <code>insurance.value</code>
              can not be a negative number.
        shipping_discount:
          allOf:
          - $ref: '#/components/schemas/money'
          - description: The shipping discount for all items within a given `purchase_unit`. <code>shipping_discount.value</code>
              can not be a negative number.
        discount:
          allOf:
          - $ref: '#/components/schemas/discount_with_breakdown'
          - description: The discount for all items within a given `purchase_unit`. <code>discount.value</code>
              can not be a negative number.
    amount_with_breakdown:
      title: amount_with_breakdown
      description: The total order amount with an optional breakdown that provides details, such as the
        total item amount, total tax amount, shipping, handling, insurance, and discounts, if any.<br/>If
        you specify `amount.breakdown`, the amount equals `item_total` plus `tax_total` plus `shipping`
        plus `handling` plus `insurance` minus `shipping_discount` minus discount.<br/>The amount must
        be a positive number. For listed of supported currencies and decimal precision, see the PayPal
        REST APIs <a href="/docs/integration/direct/rest/currency-codes/">Currency Codes</a>.
      type: object
      allOf:
      - $ref: '#/components/schemas/money'
      - type: object
        properties:
          breakdown:
            $ref: '#/components/schemas/amount_breakdown'
    authorization:
      title: authorization
      description: The authorized payment transaction.
      type: object
      allOf:
      - $ref: '#/components/schemas/authorization_status'
      - type: object
        properties:
          id:
            description: The PayPal-generated ID for the authorized payment.
            type: string
            minLength: 0
            maxLength: 2147483647
            pattern: ^[\S\s]*$
            readOnly: true
          amount:
            allOf:
            - $ref: '#/components/schemas/amount_with_breakdown'
            - description: The amount for this authorized payment.
              readOnly: true
          invoice_id:
            description: The API caller-provided external invoice number for this order. Appears in both
              the payer's transaction history and the emails that the payer receives.
            type: string
            minLength: 0
            maxLength: 2147483647
            pattern: ^[\S\s]*$
            readOnly: true
          custom_id:
            description: The API caller-provided external ID. Used to reconcile API caller-initiated transactions
              with PayPal transactions. Appears in transaction and settlement reports.
            type: string
            minLength: 0
            maxLength: 255
            pattern: ^[\S\s]*$
          network_transaction_reference:
            allOf:
            - $ref: '#/components/schemas/network_transaction'
          seller_protection:
            allOf:
            - $ref: '#/components/schemas/seller_protection'
            - readOnly: true
          expiration_time:
            allOf:
            - $ref: '#/components/schemas/date_time'
            - description: The date and time when the authorized payment expires, in [Internet date and
                time format](https://tools.ietf.org/html/rfc3339#section-5.6).
              readOnly: true
          links:
            description: An array of related [HATEOAS links](/docs/api/reference/api-responses/#hateoas-links).
            type: array
            minItems: 0
            maxItems: 32767
            readOnly: true
            items:
              allOf:
              - $ref: '#/components/schemas/link_description-2'
              - title: link_description
      - $ref: '#/components/schemas/activity_timestamps'
    authorization-2:
      title: Authorization
      description: The authorized payment transaction.
      type: object
      allOf:
      - $ref: '#/components/schemas/authorization'
      - type: object
        properties:
          supplementary_data:
            allOf:
            - $ref: '#/components/schemas/supplementary_data'
            - readOnly: true
          payee:
            allOf:
            - $ref: '#/components/schemas/payee_base'
            - readOnly: true
    authorization_status:
      title: authorization_status
      description: The status fields and status details for an authorized payment.
      type: object
      properties:
        status:
          title: Authorization Status
          description: The status for the authorized payment.
          type: string
          enum:
          - CREATED
          - CAPTURED
          - DENIED
          - PARTIALLY_CAPTURED
          - VOIDED
          - PENDING
          readOnly: true
        status_details:
          allOf:
          - $ref: '#/components/schemas/authorization_status_details'
          - description: The details of the authorized order pending status.
            readOnly: true
    authorization_status_details:
      title: authorization_status_details
      description: The details of the authorized payment status.
      type: object
      properties:
        reason:
          title: Authorization Incomplete Reason
          description: The reason why the authorized status is `PENDING`.
          type: string
          enum:
          - PENDING_REVIEW
          - DECLINED_BY_RISK_FRAUD_FILTERS
    capture:
      title: capture
      description: A captured payment.
      type: object
      allOf:
      - $ref: '#/components/schemas/capture_status'
      - type: object
        properties:
          id:
            description: The PayPal-generated ID for the captured payment.
            type: string
            minLength: 0
            maxLength: 2147483647
            pattern: ^[\S\s]*$
            readOnly: true
          amount:
            allOf:
            - $ref: '#/components/schemas/amount_with_breakdown'
            - description: The amount for this captured payment.
              readOnly: true
          invoice_id:
            description: The API caller-provided external invoice number for this order. Appears in both
              the payer's transaction history and the emails that the payer receives.
            type: string
            minLength: 0
            maxLength: 2147483647
            pattern: ^[\S\s]*$
            readOnly: true
          custom_id:
            description: The API caller-provided external ID. Used to reconcile API caller-initiated transactions
              with PayPal transactions. Appears in transaction and settlement reports.
            type: string
            minLength: 0
            maxLength: 255
            pattern: ^[\S\s]*$
          network_transaction_reference:
            allOf:
            - $ref: '#/components/schemas/network_transaction'
          seller_protection:
            allOf:
            - $ref: '#/components/schemas/seller_protection'
            - readOnly: true
          final_capture:
[...]
