openapi: 3.0.3
info:
  title: iyzico — odeme-metotlari/iyzico-ile-ode
  version: unversioned
  description: Reassembled from the per-endpoint fragments embedded in https://docs.iyzico.com/. iyzico
    publishes no OpenAPI file; this is a record of what was documented, not a contract they offer.
servers:
- url: https://api.iyzipay.com
  description: Production
- url: https://sandbox-api.iyzipay.com
  description: Sandbox
security:
- ApiKeyAuth: []
  SecretKeyAuth: []
  MerchantIdAuth: []
tags: []
paths:
  /payment/iyzipos/checkoutform/auth/ecom/detail:
    post:
      summary: iyzico ile öde (PWI) Sorgulama
      description: PWI işlem sonucunu token ile sorgulanır.
      tags:
      - Pay with iyzico
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PwiRetrieveRequest'
      responses:
        '200':
          description: Başarılı yanıt (ödeme tamamlandı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PwiPaymentResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-iyzico-source: https://docs.iyzico.com/odeme-metotlari/iyzico-ile-ode/pwi-entegrasyonu/pwi-sorgulama.md
  /payment/pay-with-iyzico/initialize:
    post:
      summary: iyzico ile Öde (PWI) Başlatma
      description: PWI oturumunu başlatır; yönlendirme için token ve sayfa URL’i döner.
      tags:
      - Pay with iyzico
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PwiInitializeRequest'
      responses:
        '200':
          description: Başarılı yanıt (PWI başlatıldı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PwiInitializeResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-iyzico-source: https://docs.iyzico.com/odeme-metotlari/iyzico-ile-ode/pwi-entegrasyonu/pwi-baslatma.md
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    SecretKeyAuth:
      type: apiKey
      in: header
      name: x-secret-key
    MerchantIdAuth:
      type: apiKey
      in: header
      name: x-merchant-id
  schemas:
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          description: Hata/başarı bilgisi.
        errorCode:
          type: string
          description: Hata kodu.
        errorMessage:
          type: string
          description: Hata mesajı.
        locale:
          type: string
          description: Yanıt dili.
          enum:
          - tr
          - en
        systemTime:
          type: integer
          description: Zaman damgası (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
    PwiAddress:
      type: object
      description: Fatura Adresi
      required:
      - address
      - contactName
      - city
      - country
      properties:
        address:
          type: string
          description: Adres.
        contactName:
          type: string
          description: İlgili kişi adı.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
        zipCode:
          type: string
          description: Posta kodu.
    PwiBasketItem:
      type: object
      required:
      - id
      - price
      - name
      - category1
      - itemType
      properties:
        id:
          type: string
          description: Ürün ID.
        price:
          type: decimal
          description: Ürün fiyatı.
        name:
          type: string
          description: Ürün adı.
        category1:
          type: string
          description: Ana kategori.
        category2:
          type: string
          description: Alt kategori (opsiyonel).
        itemType:
          type: string
          description: Ürün tipi.
          enum:
          - PHYSICAL
          - VIRTUAL
        subMerchantKey:
          type: string
          description: Hizmeti veren alt üye işyerine ait, alt üye işyeri anahtarı bilgisi. Standart iş
            modelinde gönderilmez. Sadece pazaryeri iş modelinde gönderilmesi gerekmektedir.
        subMerchantPrice:
          type: string
          description: Alt üye işyerine aktarılacak tutar. Standart iş modelinde gönderilmez. Sadece pazaryeri
            iş modelinde gönderilmesi gerekmektedir.
    PwiBuyer:
      type: object
      description: Alıcı Bilgileri
      required:
      - id
      - name
      - surname
      - identityNumber
      - email
      - gsmNumber
      - registrationAddress
      - city
      - country
      - ip
      properties:
        id:
          type: string
          description: Müşteri ID’si.
        name:
          type: string
          description: Ad.
        surname:
          type: string
          description: Soyad.
        identityNumber:
          type: string
          description: Kimlik numarası (TCKN).
        email:
          type: string
          description: E-posta.
        gsmNumber:
          type: string
          description: Cep telefonu.
        registrationAddress:
          type: string
          description: Kayıtlı adres.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
        ip:
          type: string
          description: IP adresi.
        zipCode:
          type: string
          description: Posta kodu.
        registrationDate:
          type: string
          description: Kayıt tarihi (YYYY-MM-DD hh:mm:ss).
        lastLoginDate:
          type: string
          description: Son giriş tarihi (YYYY-MM-DD hh:mm:ss).
    PwiInitializeRequest:
      type: object
      required:
      - price
      - basketId
      - callbackUrl
      - currency
      - paidPrice
      - buyer
      - billingAddress
      - shippingAddress
      - basketItems
      properties:
        locale:
          type: string
          enum:
          - tr
          - en
          description: Dil kodu. Varsayılan; tr
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si.
        price:
          type: decimal
          description: Sepet toplamı.
        basketId:
          type: string
          description: Sepet ID’si.
        paymentGroup:
          type: string
          enum:
          - PRODUCT
          - LISTING
          - SUBSCRIPTION
          description: Ödeme grubu.
        callbackUrl:
          type: string
          description: İşlem sonrası yönlenecek URL.
        currency:
          type: string
          enum:
          - TRY
          - USD
          - EUR
          - GBP
          - NOK
          - CHF
          description: Para birimi. Varsayılan TRY.
        paidPrice:
          type: decimal
          description: Tahsil edilecek tutar.
        paymentChannel:
          type: string
          enum:
          - WEB
          - MOBILE
          - MOBILE_WEB
          - MOBILE_IOS
          - MOBILE_ANDROID
          - MOBILE_WINDOWS
          - MOBILE_TABLET
          - MOBILE_PHONE
          description: Ödeme kanalı.
        enabledInstallments:
          type: array
          items:
            type: integer
            enum:
            - 1
            - 2
            - 3
            - 6
            - 9
            - 12
          description: Sunulacak taksit seçenekleri.
        buyer:
          $ref: '#/components/schemas/PwiBuyer'
        shippingAddress:
          $ref: '#/components/schemas/PwiAddress'
          description: Teslimat Adresi. Sepetteki ürünlerden en az bir tanesi PHYSICAL ise zorunludur.
            Tüm ürünler VIRTUAL ise gönderilmesi gerekmez.
        billingAddress:
          $ref: '#/components/schemas/PwiAddress'
        basketItems:
          type: array
          description: Sepetteki ürünler.
          minItems: 1
          items:
            $ref: '#/components/schemas/PwiBasketItem'
    PwiInitializeResponse:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucunu bildirir.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili.
          enum:
          - tr
          - en
        systemTime:
          type: integer
          description: Zaman damgası (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
        token:
          type: string
          description: iyzico ile ödeme için oluşturulan tekil değer. Her istek için özel üretilir ve
            işyerine dönülür Ödemenin sonucunu öğrenmek için gereklidir.
        tokenExpireTime:
          type: integer
          description: Token geçerlilik süresi; 1800 saniye
        payWithIyzicoPageUrl:
          type: string
          description: Yönlenecek ödeme sayfası URL’i.
        signature:
          type: string
          description: Yanıt imzası (hash).
    PwiPaymentResponse:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucunu bildirir.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili (tr/en).
          enum:
          - tr
          - en
        systemTime:
          type: integer
          description: Zaman damgası (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
        price:
          type: decimal
          description: Sepet toplam tutarı.
        paidPrice:
          type: decimal
          description: Tahsil edilen toplam tutar.
        installment:
          type: integer
          description: Taksit sayısı.
        paymentId:
          type: string
          description: Ödeme ID’si.
        fraudStatus:
          type: integer
          description: 'Ödeme işleminin fraud filtrelerine göre durumu.

            - 1: Onaylandı

            - 0: İncelemede

            - -1: Reddedildi

            '
          enum:
          - 1
          - 0
          - -1
        merchantCommissionRate:
          type: decimal
          description: Üye işyerinin uyguladığı vade/komisyon oranı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon oranı %10’dur. Bilgi amaçlıdır.
        merchantCommissionRateAmount:
          type: decimal
          description: Üye işyerinin uyguladığı vade/komisyon tutarı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon tutarı 10’dur. Bilgi amaçlıdır.
        iyziCommissionRateAmount:
          type: decimal
          description: Ödemeye ait iyzico işlem komisyon tutarı.
        iyziCommissionFee:
          type: decimal
          description: Ödemeye ait iyzico işlem ücreti.
        cardType:
          type: string
          description: Kart tipi.
          enum:
          - CREDIT_CARD
          - DEBIT_CARD
          - PREPAID_CARD
        cardAssociation:
          type: string
          description: Kart kuruluşu.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
          - TROY
        cardFamily:
          type: string
          description: Kart ailesi..
          num:
          - Bonus
          - Axess
          - World
          - Maximum
          - Paraf
          - CardFinans
        binNumber:
          type: string
          description: BIN (ilk 8 hane).
        lastFourDigits:
          type: string
          description: Kartın son 4 hanesi.
        basketId:
          type: string
          description: Sepet ID.
        currency:
          type: string
          description: Para birimi.
          enum:
          - TRY
          - USD
          - EUR
          - NOK
          - CHF
          - GBP
        itemTransactions:
          type: array
          description: Sepet öğelerine ait işlem kalemleri.
          items:
            type: object
            properties:
              paymentTransactionId:
                type: string
                description: Ödeme kırılımına ait id, üye işyeri tarafından mutlaka saklanmalıdır. Ödeme
                  kırılımının iadesi, onayı, onay geri çekmesi ve iyzico ile iletişimde kullanılır. Tercihen
                  itemId ile ilişkili bir şekilde tutulmalıdır.
              itemId:
                type: string
                description: Üye işyeri tarafından iletilen, sepetteki ürüne ait id.
              price:
                type: decimal
                description: Üye işyeri tarafındaki sepetteki ürüne ait tutar.
              paidPrice:
                type: decimal
                description: Tahsilat tutarının kırılım bazındaki dağılımı. Üye işyeri tarafından mutlaka
                  saklanmalıdır.
              transactionStatus:
                type: integer
                description: 'Ödeme kırılımının durumu.

                  - 0: Fraud kontrolünde

                  - -1: Fraud kontrolünden sonra reddedildi

                  - 1: Onaylandı. (Pazaryerinde 1 değeri Üye İşyeri Onayı Bekliyor Anlamına Gelir)

                  - 2: Onaylandı (Pazaryeri Onay Verilmiş)

                  '
                enum:
                - 0
                - -1
                - 1
                - 2
              blockageRate:
                type: decimal
                description: Kırılım bazında üye işyeri blokaj oranı. iyzico – üye işyeri anlaşmasına
                  göre, üye işyerine işlem bazında blokaj uygulayabilir. Bu blokaj üye işyeri fraud riskini
                  önlemek içindir, blokaj süresi boyunca para iyzico’da tutulur, bu süre sonrasında üye
                  işyerine gönderilir.
              blockageRateAmountMerchant:
                type: decimal
                description: Kırılım bazında üye işyeri blokaj tutarının, üye işyerine yansıyan rakamı.
                  Blokaj tutarı mümkün olduğunca üye işyerine yansıtılır. Eğer blokaj tutarı, üye işyeri
                  tutarından daha büyükse bu durumda alt üye işyerine de yansıtılır.
              blockageResolvedDate:
                type: string
                description: İşlem bazında blokaj çözülme tarihi. yyyy-MM-dd HH:mm:ss formatındadır, örn.
                  2015-10-19 14:36:52.
              iyziCommissionFee:
                type: decimal
                description: iyzico işlem ücretinin kırılım bazında dağılmış tutarı.
              iyziCommissionRateAmount:
                type: decimal
                description: iyzico işlem komisyon tutarının kırılım bazında dağılmış tutarı.
              merchantCommissionRate:
                type: decimal
                description: Üye işyerinin uyguladığı vade/komisyon oranının kırılım bazında dağılmış
                  oranı.
              merchantCommissionRateAmount:
                type: decimal
                description: Üye işyerinin uyguladığı vade/komisyon tutarıın, kırılım bazında dağılmış
                  tutarı.
              merchantPayoutAmount:
                type: decimal
                description: Bu kırılım için, iyzico işlem ücreti, komisyon tutarı ve blokajlar düşüldükten
                  sonra üye işyerine gönderilecek tutar.
              convertedPayout:
                type: object
                description: Kırılım bazında, kur çevrimi sonrası hesaplamalar.
                properties:
                  paidPrice:
                    type: decimal
                    description: Tahsilat tutarının kırılım bazındaki dağılımı. Üye işyeri tarafından
                      mutlaka saklanmalıdır.
                  iyziCommissionFee:
                    type: decimal
                    description: iyzico işlem ücretinin kırılım bazında dağılmış tutarı.
                  iyziCommissionRateAmount:
                    type: decimal
                    description: iyzico işlem komisyon tutarının kırılım bazında dağılmış tutarı.
                  blockageRateAmountMerchant:
                    type: decimal
                    description: Kırılım bazında üye işyeri blokaj tutarının, üye işyerine yansıyan rakamı.
                      Blokaj tutarı mümkün olduğunca üye işyerine yansıtılır. Eğer blokaj tutarı, üye
                      işyeri tutarından daha büyükse bu durumda alt üye işyerine de yansıtılır.
                  merchantPayoutAmount:
                    type: decimal
                    description: Bu kırılım için, iyzico işlem ücreti, komisyon tutarı ve blokajlar düşüldükten
                      sonra üye işyerine gönderilecek tutar.
                  iyziConversationRate:
                    type: decimal
                    description: Kur oranı.
                  iyziConversationRateAmount:
                    type: decimal
                    description: Kur oranı sonucu tutar.
          currency:
            type: string
            description: Ödemenin alındığı para birimi.
        authCode:
          type: string
          description: Bankadan dönen authCode değeri.
        phase:
          type: string
          description: Ödeme Fazı.
        hostReference:
          type: string
          description: Ödemeye ilişkin banka tarafından verilen hostReference değeri.
        signature:
          type: string
          description: İmza doğrulaması için kullanılabilecek signature değeri.
        token:
          type: string
          description: İşleme ait token (sorgulama cevabı).
        callbackUrl:
          type: string
          description: Başlangıçta gönderilen callback URL.
        paymentStatus:
          type: string
          description: Ödeme durumu.
          enum:
          - SUCCESS
          - FAILURE
        memberEmail:
          type: string
          description: PWI ödemesi yapan üye e-posta adresi.
        memberGsmNumber:
          type: string
          description: PWI ödemesi yapan üye GSM numarası.
    PwiRetrieveRequest:
      type: object
      required:
      - token
      properties:
        locale:
          type: string
          enum:
          - tr
          - en
          description: Dil kodu. Varsayılan; tr
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si.
        token:
          type: string
          description: Sorgulama yapılacak PWI oturumuna ait token değeri.
