openapi: 3.0.3
info:
  title: iyzico — mass
  version: unversioned
  description: Reassembled from the per-endpoint fragments embedded in https://docs.iyzico.com/. iyzico
    publishes no OpenAPI file; this is a record of what was documented, not a contract they offer.
servers:
- url: https://api.iyzipay.com
  description: Production
- url: https://sandbox-api.iyzipay.com
  description: Sandbox
tags:
- name: Mass Payout
  description: Mass payout operations
paths:
  /v1/mass/payout/auth:
    post:
      tags:
      - Mass Payout
      summary: Auth Mass Payout
      description: 'Second step of the two-phase process. Transitions valid mass payout items from `INIT`
        to `PROCESSING`.

        Messages to be processed are queued (for fund reservation/transfer). Invalid orders remain unchanged.
        An audit trail is recorded.

        '
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - $ref: '#/components/parameters/LocaleQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassPayoutAuthRequest'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassPayoutAuthResponse'
      x-iyzico-source: https://docs.iyzico.com/en/products/mass-payout/mass-payout-integration/mass-payout-auth.md
  /v1/mass/payout/balance:
    get:
      tags:
      - Mass Payout
      summary: Retrieve Mass Payout Balance
      description: Displays the mass payout balance of the merchant.
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - $ref: '#/components/parameters/LocaleQuery'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassPayoutBalanceResponse'
      x-iyzico-source: https://docs.iyzico.com/en/products/mass-payout/mass-payout-integration/retrieve-mass-payout-balance.md
  /v1/mass/payout/cancel/{requestId}:
    post:
      tags:
      - Mass Payout
      summary: Cancel Mass Payout
      description: Cancels the mass payout request and its items that are in `INIT` status.
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - $ref: '#/components/parameters/LocaleQuery'
      - name: requestId
        in: path
        required: true
        description: Correlation / tracking identifier of the mass payout.
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassPayoutAuthResponse'
      x-iyzico-source: https://docs.iyzico.com/en/products/mass-payout/mass-payout-integration/mass-payout-cancel.md
  /v1/mass/payout/init:
    post:
      tags:
      - Mass Payout
      summary: Initialize Mass Payout
      description: 'Creates a new **Mass Payout**. Each valid payout item is stored with status `INIT`.


        **Resulting States**

        - Mass Payout → `INIT`

        - Mass Payout Items → `INIT` (if valid) or `INVALID` (if invalid)

        '
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - $ref: '#/components/parameters/LocaleQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassPayoutInitializeRequest'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassPayoutInitializeResponse'
      x-iyzico-source: https://docs.iyzico.com/en/products/mass-payout/mass-payout-integration/mass-payout-initalize.md
  /v1/mass/payout/retrieve:
    post:
      tags:
      - Mass Payout
      summary: Retrieve Mass Payout and Items Detail
      description: 'Retrieves the details of a **Mass Payout** and its contained payout items.

        You must provide **either** `requestId` **or** `externalMassPayoutId` (or both), along with pagination
        parameters.

        '
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - $ref: '#/components/parameters/LocaleQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassPayoutRetrieveRequest'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassPayoutRetrieveResponse'
      x-iyzico-source: https://docs.iyzico.com/en/products/mass-payout/mass-payout-integration/retrieve-mass-payout.md
  /v1/mass/payout/retrieve/items/{referenceCode}:
    get:
      tags:
      - Mass Payout
      summary: Retrieve Mass Payout Item Detail
      description: Retrieves the details of an item contained within a mass payout.
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - $ref: '#/components/parameters/LocaleQuery'
      - name: referenceCode
        in: path
        required: true
        description: Unique reference code of the mass payout item.
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassPayoutItemRetrieveResponse'
      x-iyzico-source: https://docs.iyzico.com/en/products/mass-payout/mass-payout-integration/mass-payout-reporting.md
components:
  schemas:
    Amount:
      type: object
      description: Amount information.
      required:
      - value
      - currency
      properties:
        value:
          type: decimal
          description: Amount to send.
        currency:
          type: string
          description: Currency code.
    InvalidItem:
      type: object
      description: Invalid payout item detail.
      properties:
        externalId:
          type: string
          description: External ID of the specific item that failed.
        errorCode:
          type: string
        errorMessage:
          type: string
    MassPayoutAuthRequest:
      type: object
      description: Mass payout authorization request.
      required:
      - requestId
      properties:
        requestId:
          type: string
          description: Correlation / tracking identifier returned from the initialization step.
    MassPayoutAuthResponse:
      type: object
      description: Mass payout authorization response.
      properties:
        status:
          type: string
          enum:
          - success
          - failure
        systemTime:
          type: integer
          description: System time (epoch ms).
        locale:
          type: string
          description: Language/region setting such as `tr` or `en`.
    MassPayoutBalanceResponse:
      type: object
      description: Merchant mass payout balance response.
      properties:
        status:
          type: string
          enum:
          - success
          - failure
        systemTime:
          type: integer
        balance:
          type: decimal
          description: Available balance amount for mass payout transactions.
    MassPayoutInitializeRequest:
      type: object
      description: Mass payout initialization request.
      required:
      - externalId
      - conversationId
      - items
      properties:
        externalId:
          type: string
          description: Unique identifier for the mass payout request (idempotency).
        conversationId:
          type: string
          description: Correlation ID for the mass payout.
        purpose:
          type: string
          description: Business purpose of the payout.
          enum:
          - SALARY
          - BONUS
          - SETTLEMENT
          - GOODS
          - SERVICES
          - CASHBACK
          - REBATES
          - DONATIONS
        items:
          type: array
          description: Payout items.
          minItems: 1
          items:
            $ref: '#/components/schemas/MassPayoutItem'
    MassPayoutInitializeResponse:
      type: object
      description: Mass payout initialization response.
      properties:
        requestId:
          type: string
          description: Correlation / tracking identifier for the mass payout.
        conversationId:
          type: string
          description: Correlation ID inherited from the base request if present.
        status:
          type: string
          enum:
          - success
          - failure
        locale:
          type: string
          description: Language/region setting such as `tr` or `en`.
        systemTime:
          type: integer
          description: System time (epoch ms).
        invalidItems:
          type: array
          description: Collection of order-level error details.
          items:
            $ref: '#/components/schemas/InvalidItem'
    MassPayoutItem:
      type: object
      description: Mass payout item.
      required:
      - itemExternalId
      - recipientType
      - recipientInfo
      - amount
      - description
      properties:
        itemExternalId:
          type: string
          description: ID per payout item.
        recipientType:
          type: string
          description: Type of recipient identifier.
          enum:
          - PHONE
          - IBAN
          - IDENTITY_NUMBER
          - MEMBER_ID
        recipientInfo:
          type: string
          description: Identifier matching the recipientType (phone, IBAN, etc.).
        amount:
          $ref: '#/components/schemas/Amount'
        description:
          type: string
          description: Item description.
        recipientName:
          type: string
          description: Recipient name. **Required if** `recipientType` is `IBAN`.
        nonWithdrawable:
          type: boolean
          description: iyzico ensures that the fee sent to your wallet cannot be withdrawn.
    MassPayoutItemDetail:
      type: object
      description: Mass payout item detail.
      properties:
        itemExternalId:
          type: string
        referenceCode:
          type: string
        recipientType:
          type: string
          enum:
          - PHONE
          - IBAN
          - IDENTITY_NUMBER
          - MEMBER_ID
        recipientInfo:
          type: string
        recipientName:
          type: string
        description:
          type: string
        itemStatus:
          type: string
          description: Mass payout item lifecycle status (enum).
          enum:
          - FAILED
          - SUCCESS
          - INIT
          - INVALID
          - PROCESSING
          - MASS_PAYOUT_CANCELED
          - QUEUED
          - DEPOSIT_SUCCESS
          - DEPOSIT_FAIL
        errorMessages:
          type: array
          items:
            type: string
        totalAmount:
          type: decimal
        commissionAmount:
          type: decimal
        currencyCode:
          type: string
    MassPayoutItemRetrieveResponse:
      type: object
      description: Mass payout single item detail response.
      properties:
        status:
          type: string
          enum:
          - success
          - failure
        systemTime:
          type: integer
        locale:
          type: string
        item:
          $ref: '#/components/schemas/MassPayoutItemDetail'
    MassPayoutItemsPage:
      type: object
      description: Paged list of mass payout items.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MassPayoutItemDetail'
    MassPayoutRetrieveRequest:
      type: object
      description: Retrieve mass payout and item details.
      required:
      - page
      - size
      anyOf:
      - required:
        - requestId
      - required:
        - externalMassPayoutId
      properties:
        requestId:
          type: string
          description: Correlation / tracking identifier for the mass payout.
        externalMassPayoutId:
          type: string
          description: Unique id for the mass payout request (idempotency).
        page:
          type: integer
          description: Page number to retrieve.
        size:
          type: integer
          description: Number of results per page.
    MassPayoutRetrieveResponse:
      type: object
      description: Mass payout and items detail response.
      properties:
        status:
          type: string
          enum:
          - success
          - failure
        systemTime:
          type: integer
          description: System time (epoch ms).
        locale:
          type: string
        massPayout:
          $ref: '#/components/schemas/MassPayoutSummary'
        massPayoutItems:
          $ref: '#/components/schemas/MassPayoutItemsPage'
        page:
          type: integer
        size:
          type: integer
        total:
          type: integer
    MassPayoutSummary:
      type: object
      description: Summary information for a mass payout.
      properties:
        externalId:
          type: string
        merchantId:
          type: integer
        totalAmount:
          type: decimal
        totalSuccessfulAmount:
          type: decimal
        massPayoutStatus:
          type: string
          description: Mass payout lifecycle status (enum).
          enum:
          - INIT
          - IN_PROGRESS
          - PUBLISHED_TO_QUEUE
          - COMPLETED
          - FAIL
          - INSUFFICIENT_BALANCE
          - CANCELED
        totalCommissionAmount:
          type: decimal
        currency:
          type: string
