openapi: 3.0.3
info:
  title: iyzico — on-hazirliklar/api-reference-beta
  version: unversioned
  description: Reassembled from the per-endpoint fragments embedded in https://docs.iyzico.com/. iyzico
    publishes no OpenAPI file; this is a record of what was documented, not a contract they offer.
servers:
- url: https://api.iyzipay.com
  description: Production
- url: https://sandbox-api.iyzipay.com
  description: Sandbox
security:
- ApiKeyAuth: []
  SecretKeyAuth: []
  MerchantIdAuth: []
tags:
- name: Reporting
  description: Raporlama uçları
- name: Subscription Product
  description: Abonelik ürün yönetimi servisleri.
- name: iyzilink
  description: Link ile ödeme (iyzilink)
paths:
  /cardstorage/card:
    post:
      summary: Kullanıcı ve Kart Oluşturma
      description: Ödeme oluşturmadan, iyzico'da bir **kullanıcı** ve bu kullanıcıya bağlı bir **kart**
        kaydı oluşturabilirsiniz. Veya aynı endpoint üzerinden mevcut kullanıcıya **yeni bir kart** ekleyebilirsiniz.
        Bu noktada, istek parametreleri değişir. Her iki isteğin, request body ve json verilerine ulaşabilirsiniz;
      tags:
      - Kart Saklama
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CardCreateRequest'
              - $ref: '#/components/schemas/CardCreateWithUserKeyRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardCreateSuccessResponse'
        '400':
          description: Geçersiz istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/kart-saklama.md
    delete:
      summary: Saklı Kart Silme
      description: iyzico'da oluşturulan bir kullanıcıya ait bir kartı siler.
      tags:
      - Kart Saklama
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDeleteRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Geçersiz istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/kart-saklama.md
  /cardstorage/cards:
    post:
      summary: Saklı Kartları Sorgulama
      description: iyzico'da bir kullanıcıya ait kartları sorgulayabilirsiniz.
      tags:
      - Kart Saklama
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardListRequest'
      responses:
        '200':
          description: Başarılı yanıt — Kart listesi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardListSuccessResponse'
        '400':
          description: Geçersiz istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/kart-saklama.md
  /onboarding/submerchant:
    post:
      summary: Alt Üye Oluşturma
      description: 'Pazaryeri (marketplace) modelinde alt üye işyerini oluşturur. **Bireysel**, **Şahıs
        Şirketi** ve **Limited/Anonim** tipleri desteklenir. Oluşturulacak alt üye işyeri tipi, **subMerchantType**
        parametresine göre belirlenir.

        '
      tags:
      - Pazaryeri
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmerchantCreateRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmerchantCreateResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse13'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/pazaryeri/alt-uye-isyeri.md
    put:
      summary: Alt Üye Güncelleme
      description: 'Mevcut alt üye işyerinin bilgilerinin güncellenmesi. Gövde şeması alt üye tipine göre
        değişir; **üç varyanttan biri** gönderilmelidir. Güncelleme gövdesinde **subMerchantType alanı
        bulunmaz**.

        '
      tags:
      - Pazaryeri
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmerchantUpdateRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmerchantUpdateResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse13'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/pazaryeri/alt-uye-isyeri.md
  /onboarding/submerchant/detail:
    post:
      summary: Alt Üye Sorgulama
      description: Dış ID (subMerchantExternalId) ile alt üye işyeri detaylarını döner.
      tags:
      - Pazaryeri
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmerchantDetailRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmerchantDetailResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse13'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/pazaryeri/alt-uye-isyeri.md
  /payment/3dsecure/auth:
    post:
      summary: Create 3DS Payment
      description: 3DS doğrulaması sonrasında, ödeme işleminin sonlandırılması için bu endpoint’e istek
        yapılmalıdır. Bu servis, doğrulama adımından sonra alınan bilgilerle çalıştırılır ve işlemi başarılı
        ya da başarısız olarak sonuçlandırır.
      tags:
      - 3DS Payment
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDSAuthRequest'
      responses:
        '200':
          description: Başarılı yanıt (ödeme tamamlandı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse8'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/odeme-metotlari/api-3ds.md
  /payment/3dsecure/initialize:
    post:
      summary: Initialize 3DS Payment
      description: 3D Secure oturumu başlatır ve 3DS doğrulama için htmlContent değeri döner.
      tags:
      - 3DS Payment
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDSInitializeRequest'
      responses:
        '200':
          description: Başarılı yanıt (3DS başlatıldı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDSInitializeResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse8'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/odeme-metotlari/api-3ds.md
  /payment/auth:
    post:
      summary: Saklı Kart ile Ödeme Alma (NON3D)
      description: Kart saklama işlemi sonrasında tarafınıza dönen cardUserKey ve cardToken bilgisini
        kullanarak “NON3D veya 3DS” ödeme isteği gönderebilirsiniz. Standart ödeme isteğinden farklı olarak
        kart bilgileri yine cardUserKey ve cardToken değeri gönderilmektedir. Tek tık ile ödeme kolaylığı
        sağlamak isteyen veya abonelik döngüsü oluşturmak isteyen üye işyerleri tarafında kullanılabilir.
        Aşağıda NON3D örneği paylaşılmaktadır.
      tags:
      - Kart Saklama
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentAuthSavedCardRequest'
      responses:
        '200':
          description: Başarılı yanıt — ödeme alındı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAuthSuccessResponse'
        '400':
          description: Geçersiz istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/kart-saklama.md
  /payment/bin/check:
    post:
      summary: BIN Sorgulama
      description: BIN sorgulamada kartın bankası, kart ailesi, kart şeması gibi kart özelliklerini sağlar.
        İstenen bilgileri elde etmek için, talebinize gerekli parametreleri eklemeniz yeterlidir. API,
        kapsamlı ayrıntılarla yanıt verecektir.
      tags:
      - BIN
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BINCheckRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINCheckResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse12'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/taksit-ve-bin-sorgulama.md
  /payment/cancel:
    post:
      summary: İptal
      description: Ödeme işlemini iptal etmek için kullanılır.
      tags:
      - Ödeme
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelPaymentRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse6'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/iptal-ve-iade.md
  /payment/detail:
    post:
      summary: Retrieve Payment Result
      description: Ödeme sonucunu sorgular.
      tags:
      - Non3D Payment
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - paymentId
              properties:
                locale:
                  type: string
                  description: Dil kodu. Alabileceği değerler; tr, en. Default; tr
                  enum:
                  - tr
                  - en
                paymentId:
                  type: string
                  description: Ödeme işlem ID’si.
                paymentConversationId:
                  type: string
                  description: Ödeme işlemine ait conversationId. paymentId gönderilmezse zorunludur.
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponseTwo'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse10'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/odeme-metotlari/api-non3d.md
  /payment/item:
    put:
      summary: Alt Üye / Hak Ediş Güncelleme
      description: 'Bu servis, tekil bir paymentTransaction üzerinden alt üye işyerine ait hak ediş tutarını
        değiştirmek veya alt üye işyerine ait bilgileri güncellemek için kullanılır.

        '
      tags:
      - Pazaryeri
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemPayoutUpdateRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemPayoutUpdateResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse13'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/pazaryeri/alt-uye-isyeri.md
  /payment/iyzipos/checkoutform/auth/ecom/detail:
    post:
      summary: iyzico ile öde (PWI) Sorgulama
      description: PWI işlem sonucunu token ile sorgulanır.
      tags:
      - Pay with iyzico
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PwiRetrieveRequest'
      responses:
        '200':
          description: Başarılı yanıt (ödeme tamamlandı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PwiPaymentResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse11'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/odeme-metotlari/iyzico-ile-ode.md
  /payment/iyzipos/checkoutform/initialize/auth/ecom:
    post:
      summary: Ödeme Formu (CF) Başlatma
      description: Ödeme formu (Checkout Form) oturumu başlatır ve ödeme sayfasını göstermek için `checkoutFormContent`
        / `paymentPageUrl` ve işleme ait `token` döner.
      tags:
      - CheckoutForm
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CFInitializeRequest'
      responses:
        '200':
          description: Başarılı yanıt (CF başlatıldı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFInitializeResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse12'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/odeme-metotlari/iyzico-odeme-formu-cf.md
  /payment/iyzipos/installment:
    post:
      summary: Taksit Sorgulama
      description: API, taksit sayısı, oranları ve tutarlarının yanı sıra; kartın bankası, kart ailesi
        ve kart şeması gibi özelliklerini sağlar. Belirtilen BIN ve tutar bilgisine göre uygun taksit
        seçeneklerini listeler. Ayrıca yalnızca BIN veya yalnızca tutar bilgisiyle de taksit oranları
        sorgulanabilir.
      tags:
      - Installment
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallmentRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallmentResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse12'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/taksit-ve-bin-sorgulama.md
  /payment/iyzipos/item/approve:
    post:
      summary: Onay Verme
      description: Ürüne onay vermek için ödeme kırılımına ait id (paymentTransactionId) iletilmesi gerekmektedir.
        Onay verilen ödeme kırılımı id’si (paymentTransactionId), ödeme servisinden dönmektedir.
      tags:
      - Pazaryeri
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemApproveRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemActionResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse13'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/pazaryeri/onay.md
  /payment/iyzipos/item/disapprove:
    post:
      summary: Onay Kaldırma
      description: Ürüne verilen onayı geri çekmek için ödeme kırılımına ait id (paymentTransactionId)
        iletilmesi gerekmektedir. Onayı geri çekilen ödeme kırılımı id’si (paymentTransactionId) servisten
        döner.
      tags:
      - Pazaryeri
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemDisapproveRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemActionResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse13'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/pazaryeri/onay.md
  /payment/pay-with-iyzico/initialize:
    post:
      summary: iyzico ile Öde (PWI) Başlatma
      description: PWI oturumunu başlatır; yönlendirme için token ve sayfa URL’i döner.
      tags:
      - Pay with iyzico
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PwiInitializeRequest'
      responses:
        '200':
          description: Başarılı yanıt (PWI başlatıldı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PwiInitializeResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse11'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/odeme-metotlari/iyzico-ile-ode.md
  /payment/refund:
    post:
      summary: İade
      description: 'Ödeme işleminin iadesi için kullanılır. İade işlemi **paymentTransactionId** üzerinden,
        ödeme kırılımı baz alınarak yapılır. Ödeme tutarı için **tamamen** ya da **kısmi** iade yapılabilir.

        '
      tags:
      - Ödeme
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundPaymentRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundPaymentResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse6'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/iptal-ve-iade.md
  /payment/v2/3dsecure/auth:
    post:
      summary: Create 3DS v2 Payment
      description: Doğrulama sonrası ödeme sonucunun alınması için hem v1 hem de yeni nesil v2 endpoint’i
        kullanılabilir. Daha güncel teknolojilere uyum sağlamak adına v2 endpoint’inin kullanılmasını
        öneririz.
      tags:
      - 3DS Payment
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDSV2AuthRequest'
      responses:
        '200':
          description: Başarılı yanıt (ödeme tamamlandı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDSV2PaymentResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse9'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/odeme-metotlari/api-3ds.md
  /v2/iyzilink/fast-link/products:
    post:
      tags:
      - iyzilink
      summary: Fastlink Oluşturma
      description: Fastlink Oluşturur. Fast Link, 750 TL ve altı ödemeler için hızlı ve kolay bir şekilde
        ödeme alınmasını sağlayan çözümdür. Bir linkten yalnızca bir kere ödeme alınabilmektedir. Fastlink
        oluşturmak için önce onaylı bi iyzico link olması gerekmektedir.
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IyziLinkFastLinkRequest'
      responses:
        '200':
          description: Başarılı oluşturma yanıtı.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IyziLinkCreateOrUpdateResponse'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/iyzico-link.md
  /v2/iyzilink/products:
    post:
      tags:
      - iyzilink
      summary: iyzico Link Oluşturma
      description: Yeni bir iyzico Link oluşturmak için kullanılır. Başarılı yanıtta link url'sini döner.
        Dönen url parametresini müşterilerinize ileterek kullanabilirsiniz.
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IyziLinkCreateRequest'
      responses:
        '200':
          description: Başarılı oluşturma yanıtı.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IyziLinkCreateOrUpdateResponse'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/iyzico-link.md
    get:
      tags:
      - iyzilink
      summary: iyzico Linkleri Listeleme
      description: Oluşturulan tüm iyzico Linkleri sayfalı olarak listeler.
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: locale
        in: query
        required: false
        schema:
          type: string
        description: Yanıt dili.
        enum:
        - tr
        - en
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
        description: Sayfa numarası.
      - name: count
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
        description: Sayfa başına ürün sayısı.
      - name: conversationId
        in: query
        required: false
        schema:
          type: string
        description: İstek/yanıt eşleştirme için serbest metin alanı.
      responses:
        '200':
          description: Listeleme yanıtı.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IyziLinkListResponse'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/iyzico-link.md
  /v2/iyzilink/products/{token}:
    get:
      tags:
      - iyzilink
      summary: iyzico Link Sorgulama
      description: Token ile tek bir link sorgulayabilirsiniz. Sorgulanan token'a ait iyzico Link detayını
        döner.
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Sorgulanmak istenen iyzico Link'e ait token değeri.
      - name: locale
        in: query
        required: false
        schema:
          type: string
        description: Yanıt dili (varsayılan **tr**).
        enum:
        - tr
        - en
      - name: conversationId
        in: query
        required: false
        schema:
          type: string
        description: İstek/yanıt eşleştirme değeri.
      responses:
        '200':
          description: Ürün detay yanıtı.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IyziLinkDetailResponse'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/iyzico-link.md
    put:
      tags:
      - iyzilink
      summary: iyzico Link Güncelleme
      description: iyzico Link oluşturduğunuzda dönen token değeri ile varolan iyzico Linkinizi güncelleyebilirsiniz.
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Güncellenecek iyzilink’in token değeri.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IyziLinkUpdateRequest'
      responses:
        '200':
          description: Başarılı güncelleme yanıtı.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IyziLinkCreateOrUpdateResponse'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/iyzico-link.md
    delete:
      tags:
      - iyzilink
      summary: iyzico Link Silme
      description: Bir iyzico Link'i silmek için kullanılır.
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Silinecek iyzico link token’ı.
      - name: locale
        in: query
        required: false
        schema:
          type: string
        description: Yanıt dili (varsayılan **tr**).
        enum:
        - tr
        - en
      - name: conversationId
        in: query
        required: false
        schema:
          type: string
        description: İstek/yanıt eşleştirme değeri.
      responses:
        '200':
          description: Silme sonucu.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IyziLinkDeleteResponse'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/iyzico-link.md
  /v2/iyzilink/products/{token}/status/{status}:
    patch:
      tags:
      - iyzilink
      summary: iyzico Link Statü Güncelleme
      description: Bir iyzico link’in durumunu **ACTIVE** veya **PASSIVE** yapar. iyzico Link'e ait token
        değeri ve güncellenecek statü değerinin kullanılması gerekmektedir.
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: iyzico link'e ait token değeri.
      - name: status
        in: path
        required: true
        schema:
          type: string
          enum:
          - ACTIVE
          - PASSIVE
        description: Güncellenecek yeni durum.
      - name: locale
        in: query
        required: false
        schema:
          type: string
        description: Yanıt dili (varsayılan **tr**).
      - name: conversationId
        in: query
        required: false
        schema:
          type: string
        description: İstek/yanıt eşleştirme değeri.
      responses:
        '200':
          description: Durum güncelleme sonucu.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicStatusResponse'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/iyzico-link.md
  /v2/payment/refund:
    post:
      summary: İade V2
      description: '**paymentId** üzerinden iade yapılmasını sağlar. Ödeme kırılımı belirtilmez; iade
        edilecek kırılım sistem tarafından otomatik belirlenir. Ödeme tutarı için **tamamen** ya da **kısmi**
        iade yapılabilir.

        '
      tags:
      - Ödeme
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundPaymentV2Request'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundPaymentV2Response'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse6'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/iptal-ve-iade.md
  /v2/reporting/payment/details:
    get:
      summary: İşlem Detayı Raporlama
      description: Raporlama servisi, ödemelerin son durumuna, iade sonuçlarına ve fraud durumlarına ulaşmasını
        sağlar. Raporlama servisi hem paymentConversationId hem de paymentId ile çalışır. İki bilgiden
        birinin gönderilmesi zorunludur.
      tags:
      - Reporting
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - $ref: '#/components/parameters/LocaleQuery'
      - $ref: '#/components/parameters/ConversationIdQuery'
      - name: paymentId
        in: query
        required: true
        schema:
          type: string
        description: 'Ödeme numarası. paymentConversationId gönderilmezse zorunlu bilgidir.

          '
      - name: paymentConversationId
        in: query
        required: true
        schema:
          type: string
        description: 'Ödeme işlemine ait conversationId. ConversationId ile sorgulama yapmak isteğinde
          kullanılabilir. paymentId gönderilmezse zorunludur.

          '
      responses:
        '200':
          description: Başarılı yanıt — işlem detayı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportingPaymentDetailsResponse'
        '400':
          description: Geçersiz istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse15'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/raporlama.md
  /v2/reporting/payment/transactions:
    get:
      summary: Gün Bazında Raporlama
      description: Belirli bir tarihte gerçekleşen ödeme/iptal/iade işlemlerinin listesini döner.
      tags:
      - Reporting
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - $ref: '#/components/parameters/LocaleQuery'
      - $ref: '#/components/parameters/ConversationIdQuery'
      - name: page
        in: query
        required: true
        schema:
          type: integer
          minimum: 1
        description: Sayfa numarası (1’den başlar).
      - name: transactionDate
        in: query
        required: true
        schema:
          type: string
        description: 'Sorgulanacak gün (YYYY-MM-DD). Örn: `2025-07-24`.

          '
      responses:
        '200':
          description: Başarılı yanıt — gün bazında işlemler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportingDailyTransactionsResponse'
        '400':
          description: Geçersiz istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse16'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/raporlama.md
  /v2/subscription/card-update/checkoutform/initialize:
    post:
      summary: Abonelik Kart Güncelleme (Checkout Form)
      description: 'Bu istek ile bir abonelikte kullanılan kredi kartı güncellenebilir. Ödeme hatası,
        kart son kullanma tarihinin geçmesi gibi durumlarda üye iş yerleri kart bilgisini kolayca güncelleyebilir.
        **Güncelleme işlemi yalnızca iyzico ödeme formu üzerinden gerçekleştirilir.**

        Güncellenen kredi kartının validasyonu için **1 TL**’lik ödeme alınır ve hemen iadesi gerçekleşir.

        '
      tags:
      - Abonelik
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitializeCardUpdateCheckoutFormRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitializeCardUpdateCheckoutFormResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse3'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/abonelik/abonelik-islemleri.md
  /v2/subscription/checkoutform/initialize:
    post:
      summary: Abonelik Başlatma (iyzico Ödeme Formu)
      description: iyzico Ödeme formu (Checkout Form) ile abonelik başlatmak için kullanılır. Ödeme formuna
        ait content ve token değeri döner.
      tags:
      - Abonelik
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartSubscriptionCheckoutFormInitializeRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartSubscriptionCheckoutFormInitializeResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse2'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/abonelik/abonelik-baslatma.md
  /v2/subscription/checkoutform/{token}:
    get:
      summary: Ödeme Formu Sonucunu Alma
      description: Checkout form akışı tamamlandıktan sonra ödeme formuna token ile abonelik başlatma
        sonucunu sorgulanır.
      tags:
      - Abonelik
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Checkout form initialize ile dönen, ilgili işleme ait token.
      - name: conversationId
        in: query
        required: false
        schema:
          type: string
        description: İstek esnasında gönderip, sonuçta alabileceğiniz bir değer, request/response eşleşmesi
          yapmak için kullanılabilir.
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartSubscriptionCheckoutFormResultResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse2'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/abonelik/abonelik-baslatma.md
  /v2/subscription/customers:
    get:
      summary: Abone Listeleme
      description: Tüm aboneleri ve temel detaylarını listeler.
      tags:
      - Abonelik
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Belirtilen sayfa için aboneleri getirir.
      - name: count
        in: query
        required: false
        schema:
          type: integer
        description: Sayfa başına kaç abone listeleneceğini belirtir.
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerListResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/abone-islemleri.md
  /v2/subscription/customers/{customerReferenceCode}:
    post:
      summary: Abone Güncelleme
      description: 'Bir abonenin tüm detayları API isteği ile güncellenebilir. Bunun için aboneye ait
        **customerReferenceCode** path parametresi ve güncellenecek alanlar request body içinde gönderilmelidir.
        Gönderilen parametreler üzerinden güncelleme yapılır; **en az bir alan** gönderilmesi zorunludur.

        '
      tags:
      - Abonelik
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: customerReferenceCode
        in: path
        required: true
        schema:
          type: string
        description: Müşteri referans kodu.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerUpdateResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/abone-islemleri.md
    get:
      summary: Abone Detayı
      description: Bir abonenin tüm detayları, aboneye ait referans kodu ile çağrılabilir.
      tags:
      - Abonelik
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: customerReferenceCode
        in: path
        required: true
        schema:
          type: string
        description: Müşteri referans kodu.
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDetailResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/abone-islemleri.md
  /v2/subscription/initialize:
    post:
      summary: Abonelik Başlatma (NON3D)
      description: Hazır ödeme formu olmadan, Tarafınıza ait ödeme formu ile NON3D servisi üzerinden abonelik
        başlatabilirsiniz.
      tags:
      - Abonelik
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartSubscriptionNon3DRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartSubscriptionNon3DResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse2'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/abonelik/abonelik-baslatma.md
  /v2/subscription/initialize/with-customer:
    post:
      summary: Abonelik Başlatma (Existing Customer)
      description: 'Abonelik başlatılmak istenen kullanıcının hali hazırda aktif bir aboneliği bulunuyorsa,
        customerReferenceCode ile yeni bir abonelik başlatılabilir. Eğer kullanıcının aktif bir aboneliği
        bulunmuyorsa custormerReferenceCode ile yeni bir abonelik başlatılmamaktadır.

        '
      tags:
      - Abonelik
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartSubscriptionWithCustomerRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartSubscriptionWithCustomerResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse2'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/abonelik/abonelik-baslatma.md
  /v2/subscription/operation/retry:
    post:
      summary: Abonelik Ödeme Tekrarlama
      description: 'Eğer bir abonelikte, tekrarlayan ödemeler sırasında bir ödeme başarısız olduysa, işlemi
        tekrar denemek ve ödemeyi almak için retry servisi kullanılır.

        '
      tags:
      - Abonelik
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrySubscriptionPaymentRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrySubscriptionPaymentResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse3'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/abonelik/abonelik-islemleri.md
  /v2/subscription/pricing-plans/{pricingPlanReferenceCode}:
    post:
      summary: Ödeme Planı Güncelleme
      description: 'Bu metod sadece **name** ve **trialPeriodDays** parametrelerinin güncellenmesine izin
        verir. Güncelleme için planın referans kodu path parametresi olarak gönderilmelidir. Güncellemenin
        hem API hem de iyzico merchant paneli üzerinden yapılması mümkündür. Aktif abonelikler ektilenmez.

        '
      tags:
      - Ödeme Planı
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: pricingPlanReferenceCode
        in: path
        required: true
        schema:
          type: string
        description: Güncellenecek ödeme planının referans kodu.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePricingPlanRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePricingPlanResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/odeme-plani.md
    get:
      summary: Ödeme Planı Detayı Alma
      description: Bir ödeme planının detaylarını getirir. Üye işyerleri bir planın tüm detaylarını hem
        merchant panelinden hem de API istekleri üzerinden görebilir.
      tags:
      - Ödeme Planı
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: pricingPlanReferenceCode
        in: path
        required: true
        schema:
          type: string
        description: Ödeme planının referans kodu.
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingPlanDetailResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/odeme-plani.md
    delete:
      summary: Ödeme Planı Silme
      description: Ödeme planı referans kodu kullanılarak, belirtilen ödeme planını siler. Üzerinde aktif
        abonelik bulunan veya güncelleme (update) kaydı olan ödeme planları silinemez.
      tags:
      - Ödeme Planı
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: pricingPlanReferenceCode
        in: path
        required: true
        schema:
          type: string
        description: Silinecek ödeme planının referans kodu.
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePricingPlanResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/odeme-plani.md
  /v2/subscription/products:
    post:
      summary: Ürün Oluşturma
      operationId: createSubscriptionProduct
      description: Yeni bir abonelik ürünü oluşturur. Subscription API ödeme planlarına göre tekrarlı
        ödeme alır ve her ödeme planı en az bir ürüne bağlıdır. Ürün sayısında herhangi bir sınırlama
        yoktur ve sadece isim bilgisi gönderilerek bir ürün oluşturulabilir.
      tags:
      - Subscription Product
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionProductCreateRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionProductCreateSuccess'
        '400':
          description: Hatalı istek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse5'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/urun.md
    get:
      summary: Ürün Listeleme
      operationId: listSubscriptionProducts
      description: Abonelik ürünlerini listeler. Ürün listeleme tüm ürünlere ve ürünlere bağlı planlara
        ulaşmak için kullanılır. Cevap süresini kısaltmak ve cevap boyutunu kısaltmak için sayfalama metodu
        kullanulmıştır. Bu sayede ürün listesini sayfa sayfa hızlıca alabilirsiniz.
      tags:
      - Subscription Product
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionProductListRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionProductListSuccess'
        '400':
          description: Hatalı istek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse5'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/urun.md
  /v2/subscription/products/{productReferenceCode}:
    post:
      summary: Ürün Güncelleme
      operationId: updateSubscriptionProduct
      description: Abonelik ürününü günceller. Bir ürünün isim ve açıklama bilgileri hem API hem de iyzico
        merchant paneli üzerinden düzenlenebilir. API üzerinden bu işlemi yapabilmek için, ürüne ait eşsiz
        referans kodu kullanılmalıdır.
      tags:
      - Subscription Product
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: productReferenceCode
        in: path
        required: true
        schema:
          type: string
        description: Ürüne ait eşsiz referans kodu.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionProductUpdateRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionProductGetSuccess'
        '400':
          description: Hatalı istek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse5'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/urun.md
    get:
      summary: Ürün Detayı
      operationId: getSubscriptionProduct
      description: Bir ürünün detaylarına API isteği ile ulaşılabilir. Bunun için gönderilen istekte ürün
        refereans kodunu belirtmek yeterlidir.
      tags:
      - Subscription Product
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: productReferenceCode
        in: path
        required: true
        schema:
          type: string
        description: Ürüne ait eşsiz referans kodu.
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionProductGetSuccess'
        '400':
          description: Hatalı istek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse5'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/urun.md
    delete:
      summary: Ürün Silme
      operationId: deleteSubscriptionProduct
      description: Abonelik ürününü siler. Ürünler kendilerine bağlı herhangi bir plan olmadıkça hem API
        hem de iyzico merchant panel üzerinden silinebilir.
      tags:
      - Subscription Product
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: productReferenceCode
        in: path
        required: true
        schema:
          type: string
        description: Ürüne ait eşsiz referans kodu.
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionProductDeleteSuccess'
        '400':
          description: Hatalı istek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse5'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/urun.md
  /v2/subscription/products/{productReferenceCode}/pricing-plans:
    post:
      summary: Ödeme Planı Oluşturma
      description: Belirli bir ürün için yeni bir ödeme planı oluşturur.
      tags:
      - Ödeme Planı
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: productReferenceCode
        in: path
        required: true
        schema:
          type: string
        description: Planın ilişkilendirileceği ürünün referans kodu.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePricingPlanRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePricingPlanResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/odeme-plani.md
    get:
      summary: Ödeme Planı Listeleme
      description: Belirli bir ürüne ait tüm ödeme planlarını listeler. Cevap sayfalar halinde iletilir
      tags:
      - Ödeme Planı
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: productReferenceCode
        in: path
        required: true
        schema:
          type: string
        description: Ürün referans kodu.
      - name: page
        in: query
        schema:
          type: integer
        description: Listelenecek sayfa numarası.
      - name: count
        in: query
        schema:
          type: integer
        description: Sayfa başına kayıt sayısı.
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPricingPlanResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/odeme-plani.md
  /v2/subscription/subscriptions/{subscriptionReferenceCode}:
    get:
      summary: Abonelik Detayı
      description: Aboneliğe ait referans kod ile sorgulama yapılarak bir aboneliğin tüm detayları bu
        istek ile görülebilir.
      tags:
      - Abonelik
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: subscriptionReferenceCode
        in: path
        required: true
        schema:
          type: string
        description: İlgili aboneliğe ait referans kodu.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSubscriptionDetailOptionalRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionDetailResponse'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/abonelik/abonelik-islemleri.md
  /v2/subscription/subscriptions/{subscriptionReferenceCode}/activate:
    post:
      summary: Abonelik Aktifleştirme
      description: Pending durumunda başlatılan bir abonelik, bu servis üzerinden aktif hale getirilir.
      tags:
      - Abonelik
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: subscriptionReferenceCode
        in: path
        required: true
        schema:
          type: string
        description: Pending olarak başlatılan aboneliğe ait referans kodu.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateSubscriptionRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateSubscriptionResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse3'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/abonelik/abonelik-islemleri.md
  /v2/subscription/subscriptions/{subscriptionReferenceCode}/cancel:
    post:
      summary: Abonelik İptali
      description: Aktif bir aboneliği iptal etmek için kullanılır.
      tags:
      - Abonelik
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: subscriptionReferenceCode
        in: path
        required: true
        schema:
          type: string
        description: İptal edilmek istenen aboneliğe ait referans kodu.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSubscriptionRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelSubscriptionResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse3'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/abonelik/abonelik-islemleri.md
  /v2/subscription/subscriptions/{subscriptionReferenceCode}/upgrade:
    post:
      summary: Abonelik Yükseltme
      description: 'Abonelik süresince plan değiştirmek veya yükseltmek mümkündür. Bunun için **yeni planın
        aynı ürüne ait olması** ve ödeme aralığının (**paymentInterval** ve **paymentIntervalCount**)
        aynı olması gerekir. Fiyat güncellemeleri için abonelik yükseltme servisi kullanılır.

        '
      tags:
      - Abonelik
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: subscriptionReferenceCode
        in: path
        required: true
        schema:
          type: string
        description: Yükseltilmek istenen aboneliğe ait referans kodu.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradeSubscriptionRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeSubscriptionResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse3'
      x-iyzico-source: https://docs.iyzico.com/on-hazirliklar/api-reference-beta/abonelik/abonelik/abonelik-islemleri.md
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    SecretKeyAuth:
      type: apiKey
      in: header
      name: x-secret-key
    MerchantIdAuth:
      type: apiKey
      in: header
      name: x-merchant-id
  schemas:
    ActivateSubscriptionRequest:
      type: object
      properties:
        subscriptionReferenceCode:
          type: string
          description: Pending oalrak başlatılan aboneliğe ait referans kodu.
    ActivateSubscriptionResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - failure
          description: Yapılan isteğin sonucunu belirtir. İşlem başarılı ise success değeri döner.
        systemTime:
          type: integer
          description: Dönen sonucun o anki unix timestamp değeridir.
    Address:
      type: object
      required:
      - address
      - contactName
      - city
      - country
      properties:
        address:
          type: string
          description: Tam adres.
        zipCode:
          type: string
          description: Posta kodu.
        contactName:
          type: string
          description: İlgili kişi.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
    Address2:
      type: object
      required:
      - address
      - contactName
      - city
      - country
      properties:
        address:
          type: string
          description: Tam adres.
        zipCode:
          type: string
          description: Posta kodu.
        contactName:
          type: string
          description: İletişim adı.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
    Address3:
      type: object
      description: 'Kargo Adresi. Sepetteki ürünlerden en az bir tanesinin, itemType "PHYSICAL" olması
        durumunda gönderilmesi zorunludur. Tüm ürünler "VIRTUAL" olduğu takdirde gönderilmesi gerekmez.

        '
      required:
      - address
      - contactName
      - city
      - country
      properties:
        address:
          type: string
          description: Tam adres.
        zipCode:
          type: string
          description: Posta/ZIP kodu.
        contactName:
          type: string
          description: İrtibat adı.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
    BINCheckRequest:
      type: object
      required:
      - binNumber
      properties:
        locale:
          type: string
          description: İstek ve dönüş mesajlarında kullanılacak dil bilgisi.
          enum:
          - tr
          - en
        binNumber:
          type: string
          description: Sorgulanacak BIN (8 hane).
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si. İstekte gönderilen değer, response'da aynen geri
            döner.
    BINCheckResponse:
      type: object
      properties:
        binNumber:
          type: string
          description: Sorgulanan BIN.
        cardType:
          type: string
          description: Kart tipi.
          enum:
          - CREDIT_CARD
          - DEBIT_CARD
          - PREPAID_CARD
        cardAssociation:
          type: string
          description: Kart kuruluşu.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
          - TROY
        cardFamily:
          type: string
          description: Kart ailesi.
          enum:
          - Bonus
          - Axess
          - World
          - Maximum
          - Paraf
          - CardFinans
          - Advantage
        bankName:
          type: string
          description: Banka adı.
        bankCode:
          type: integer
          description: Banka kodu.
        commercial:
          type: integer
          description: Ticari kart bilgisi (0; Bireysel, 1; Ticari).
          enum:
          - 0
          - 1
        status:
          type: string
          description: Gönderilen isteğin sonucu.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili.
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
    BaseResponse:
      type: object
      description: Standart yanıt alanları.
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucunu bildirir.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili (tr/en).
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek esnasında gönderilmişse, yanıtta aynen geri iletilir.
        price:
          type: decimal
          description: Sepet toplam tutarı.
        paidPrice:
          type: decimal
          description: Tahsil edilen toplam tutar.
        installment:
          type: integer
          description: Taksit sayısı.
        paymentId:
          type: string
          description: Ödeme ID’si.
        fraudStatus:
          type: integer
          description: "Fraud filtrelerine göre ödeme durumu. Eğer ödemenin fraud risk skoru düşük ise\
            \ ödemeye anında onay verilir, eğer fraud risk skoru yüksek ise ödeme işlemi reddedilir. Üye\
            \ işyeri sadece 1 olan işlemlerde ürünü kargoya vermelidir, 0 olan işlemler için bilgilendirme\
            \ beklemelidir.\n - 1: Onaylandı\n - 0: İncelemede\n - -1: Reddedildi\n"
          enum:
          - 0
          - -1
          - 1
        merchantCommissionRate:
          type: decimal
          description: Üye işyerinin uyguladığı vade/komisyon oranı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon oranı %10’dur. Bilgi amaçlıdır.
        merchantCommissionRateAmount:
          type: decimal
          description: Üye işyerinin uyguladığı vade/komisyon tutarı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon tutarı 10’dur. Bilgi amaçlıdır.
        iyziCommissionRateAmount:
          type: decimal
          description: iyzico komisyon oran tutarı.
        iyziCommissionFee:
          type: decimal
          description: Ödemeye ait iyzico işlem ücreti.
        cardType:
          type: string
          description: Kart tipi.
          enum:
          - CREDIT_CARD
          - DEBIT_CARD
          - PREPAID_CARD
        cardAssociation:
          type: string
          description: Kart kuruluşu.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
        cardFamily:
          type: string
          description: Kart ailesi.
          enum:
          - Bonus
          - Axess
          - World
          - Maximum
          - Paraf
          - CardFinans
        binNumber:
          type: string
          description: BIN (ilk 8 hane).
        lastFourDigits:
          type: string
          description: Kartın son 4 hanesi.
        basketId:
          type: string
          description: Sepet ID.
        currency:
          type: string
          enum:
          - TRY
          - USD
          - EUR
          - NOK
          - CHF
          - GBP
        itemTransactions:
          type: array
          items:
            $ref: '#/components/schemas/ItemTransaction'
        authCode:
          type: string
          description: Ödeme Fazı.
        phase:
          type: string
        hostReference:
          type: string
          description: Ödemeye ilişkin banka tarafından verilen hostReference değeri.
        signature:
          type: string
          description: İmza doğrulaması için kullanılabilecek signature değeri.
    BaseResponse2:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucunu bildirir.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili (tr/en).
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID (varsa).
    BasicStatusResponse:
      type: object
      properties:
        status:
          type: string
          description: İstek sonucu (success/failure).
        locale:
          type: string
          description: Yanıt dili.
        systemTime:
          type: integer
          description: Unix zaman damgası (ms).
        conversationId:
          type: string
          description: İstekle gönderildiyse aynen geri döner.
    BasketItem:
      type: object
      required:
      - id
      - price
      - name
      - category1
      - itemType
      properties:
        id:
          type: string
          description: Ürün ID.
        price:
          type: decimal
          description: Ürün fiyatı.
        name:
          type: string
          description: Ürün adı.
        category1:
          type: string
          description: Ana kategori.
        category2:
          type: string
          description: Alt kategori (opsiyonel).
        itemType:
          type: string
          description: Ürün tipi.
          enum:
          - PHYSICAL
          - VIRTUAL
        subMerchantKey:
          type: string
          description: Hizmeti veren alt üye işyerine ait, alt üye işyeri anahtarı bilgisi. Standart iş
            modelinde gönderilmez. Sadece pazaryeri iş modelinde gönderilmesi gerekmektedir.
        subMerchantPrice:
          type: decimal
          description: Alt üye işyerine aktarılacak tutar. Standart iş modelinde gönderilmez. Sadece pazaryeri
            iş modelinde gönderilmesi gerekmektedir.
    BasketItem2:
      type: object
      required:
      - id
      - price
      - name
      - category1
      - itemType
      properties:
        id:
          type: string
          description: Ürün ID.
        price:
          type: decimal
          description: Ürün fiyatı.
        name:
          type: string
          description: Ürün adı.
        category1:
          type: string
          description: Ana kategori.
        category2:
          type: string
          description: Alt kategori (opsiyonel).
        itemType:
          type: string
          description: Ürün tipi.
          enum:
          - PHYSICAL
          - VIRTUAL
        subMerchantKey:
          type: string
          description: Hizmeti veren alt üye işyerine ait, alt üye işyeri anahtarı bilgisi. Standart iş
            modelinde gönderilmez. Sadece pazaryeri iş modelinde gönderilmesi gerekmektedir.
        subMerchantPrice:
          type: string
          description: Alt üye işyerine aktarılacak tutar. Standart iş modelinde gönderilmez. Sadece pazaryeri
            iş modelinde gönderilmesi gerekmektedir.
    BasketItemMarketplace:
      type: object
      description: Sepetteki ürünlerin listesi.
      required:
      - id
      - price
      - name
      - category1
      - itemType
      - subMerchantKey
      - subMerchantPrice
      properties:
        id:
          type: string
          description: Üye işyeri tarafındaki kırılım bazında ürün ID.
        name:
          type: string
          description: Kırılım adı.
        price:
          type: decimal
          description: Kırılım fiyatı; 0 olamaz ve tüm kırılımların toplamı `price` (sepet) ile eşit olmalıdır.
        category1:
          type: string
          description: Birincil kategori.
        category2:
          type: string
          description: İkincil kategori.
        itemType:
          type: string
          enum:
          - PHYSICAL
          - VIRTUAL
          description: Ürün türü.
        subMerchantKey:
          type: string
          description: Alt üye işyeri **anahtarı** (pazaryeri için zorunlu).
        subMerchantPrice:
          type: decimal
          description: Alt üyenin hakedişi/aktarılacak tutar (pazaryeri için **zorunlu**).
        withholdingTax:
          type: decimal
          description: "Stopaj tutarı. Pazaryeri, stopajı kendisi hesaplayıp alt satıcı hakedişinden düşebilir;\
            \ bu tutarın ödeme sonucu ve **Para Gönderim Raporu**’nda görünmesi isteniyorsa `withholdingTax`\
            \ **dolu** gönderilmelidir. (Bilgi amaçlı kaydedilir; iyzico hesaplama yapmaz.) \n"
    BillingAddress:
      type: object
      description: Fatura Adresi.
      required:
      - address
      - contactName
      - city
      - country
      properties:
        address:
          type: string
          description: Tam adres.
        zipCode:
          type: string
          description: Posta/ZIP Kodu.
        contactName:
          type: string
          description: İrtibat adı.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
    Buyer:
      type: object
      required:
      - id
      - name
      - surname
      - identityNumber
      - email
      - gsmNumber
      - registrationAddress
      - city
      - country
      properties:
        id:
          type: string
          description: Müşteri ID’si.
        name:
          type: string
          description: Adı.
        surname:
          type: string
          description: Soyadı.
        identityNumber:
          type: string
          description: TC Kimlik Numarası.
        email:
          type: string
          description: E-posta.
        gsmNumber:
          type: string
          description: Telefon numarası.
        registrationDate:
          type: string
          description: Kayıt tarihi (yyyy-MM-dd HH:mm:ss).
        lastLoginDate:
          type: string
          description: Son giriş tarihi (yyyy-MM-dd HH:mm:ss).
        registrationAddress:
          type: string
          description: Adres.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
        zipCode:
          type: string
          description: Posta kodu.
        ip:
          type: string
          description: IP adresi.
    Buyer3DS:
      type: object
      required:
      - id
      - name
      - surname
      - identityNumber
      - email
      - gsmNumber
      - registrationAddress
      - city
      - country
      properties:
        id:
          type: string
          description: Müşteri ID’si.
        name:
          type: string
          description: Ad.
        surname:
          type: string
          description: Soyad.
        identityNumber:
          type: string
          description: Kimlik numarası.
        email:
          type: string
          description: E-posta.
        gsmNumber:
          type: string
          description: Cep telefonu.
        registrationDate:
          type: string
          description: Kayıt tarihi (YYYY-MM-DD hh:mm:ss).
        lastLoginDate:
          type: string
          description: Son giriş tarihi (YYYY-MM-DD hh:mm:ss).
        registrationAddress:
          type: string
          description: Kayıtlı adres.
        city:
          type: string
          description: Şehir kodu/adı.
        country:
          type: string
          description: Ülke.
        zipCode:
          type: string
          description: Posta kodu.
        ip:
          type: string
          description: IP adresi.
    BuyerCF:
      type: object
      required:
      - id
      - name
      - surname
      - identityNumber
      - email
      - gsmNumber
      - registrationAddress
      - city
      - country
      properties:
        id:
          type: string
          description: Müşteri ID’si.
        name:
          type: string
          description: Ad.
        surname:
          type: string
          description: Soyad.
        identityNumber:
          type: string
          description: Kimlik numarası.
        email:
          type: string
          description: E-posta.
        gsmNumber:
          type: string
          description: Cep telefonu.
        registrationDate:
          type: string
          description: Kayıt tarihi (YYYY-MM-DD hh:mm:ss).
        lastLoginDate:
          type: string
          description: Son giriş tarihi (YYYY-MM-DD hh:mm:ss).
        registrationAddress:
          type: string
          description: Kayıtlı adres.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
        zipCode:
          type: string
          description: Posta kodu.
        ip:
          type: string
          description: IP adresi.
    CFInitializeRequest:
      type: object
      required:
      - price
      - paidPrice
      - currency
      - callbackUrl
      - buyer
      - shippingAddress
      - billingAddress
      - basketItems
      properties:
        locale:
          type: string
          description: Dil kodu. Varsayılan; tr. Ödeme formunun İngilizce oluşturulması için "en" gönderilmelidir.
          enum:
          - tr
          - en
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si. İstekte gönderilen değer, response'da aynen geri
            döner.
        price:
          type: decimal
          description: Sepet toplamı.
        paidPrice:
          type: decimal
          description: Tahsil edilecek toplam tutar.
        currency:
          type: string
          description: Para birimi. Varsayılan; TRY.
          enum:
          - TRY
          - USD
          - EUR
          - GBP
          - NOK
          - CHF
        basketId:
          type: string
          description: Sepet ID’si.
        paymentGroup:
          type: string
          description: Ödeme grubu. Varsayılan; PRODUCT.
          enum:
          - PRODUCT
          - LISTING
          - SUBSCRIPTION
        callbackUrl:
          type: string
          description: Ödeme akışında üye işyerine başarılı ve hatalı sonucu bildirmek üzere alınan URL
            adresi. Geçerli bir ssl sertifikasına sahip olmalıdır.
        enabledInstallments:
          type: array
          description: Kullanılabilir taksit seçenekleri.
          items:
            type: integer
        buyer:
          description: Alıcı Bilgileri
          $ref: '#/components/schemas/BuyerCF'
        shippingAddress:
          description: Teslimat Adresi. Sepetteki ürünlerden en az bir tanesi PHYSICAL ise zorunludur.
            Tüm ürünler VIRTUAL ise gönderilmesi gerekmez.
          $ref: '#/components/schemas/Address2'
        billingAddress:
          description: Fatura Adresi
          $ref: '#/components/schemas/Address2'
        basketItems:
          type: array
          description: Sepetteki ürünler.
          items:
            $ref: '#/components/schemas/BasketItem2'
        paymentSource:
          type: string
          description: Bu alan, partner firmalar tarafından iletilen ödeme kaynağı bilgisidir. Eğer bir
            altyapı sağlayıcısıysanız ve iyzico ile entegrasyon/iş birliğiniz bulunuyorsa bu parametreyi
            gönderebilirsiniz.
    CFInitializeResponse:
      type: object
      properties:
        status:
          type: string
          description: Gönderilen isteğin sonucu.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili.
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
        token:
          type: string
          description: Checkout form için oluşturulan tekil değer. Her istek için özel üretilir ve işyerine
            dönülür. Ödemenin sonucunu öğrenmek için zorunlu bir alandır.
        checkoutFormContent:
          type: string
          description: Ödeme formunun HTML içeriği (Base64 kodlu).
        paymentPageUrl:
          type: string
          description: iyzico Ortak Ödeme Sayfası için dönen URL adresi.
        signature:
          type: string
          description: İmza doğrulaması için kullanılabilecek signature değeri.
    CFRetrieveRequest:
      type: object
      required:
      - token
      properties:
        locale:
          type: string
          description: Dil kodu. Varsayılan; tr
          enum:
          - tr
          - en
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si. İstekte gönderilen değer, response'da aynen geri
            döner.
        token:
          type: string
          description: CF initialize yanıtından dönen token.
    CFRetrieveResponse:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucu.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili.
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
        price:
          type: decimal
          description: Sepet toplam tutarı.
        paidPrice:
          type: decimal
          description: Tahsil edilen toplam tutar.
        installment:
          type: integer
          description: Taksit sayısı.
        paymentId:
          type: string
          description: Ödeme ID’si.
        fraudStatus:
          type: integer
          description: "Fraud filtrelerine göre ödeme durumu. Eğer ödemenin fraud risk skoru düşük ise\
            \ ödemeye anında onay verilir, eğer fraud risk skoru yüksek ise ödeme işlemi reddedilir. Üye\
            \ işyeri sadece 1 olan işlemlerde ürünü kargoya vermelidir, 0 olan işlemler için bilgilendirme\
            \ beklemelidir.\n - 1: Onaylandı\n - 0: İncelemede\n - -1: Reddedildi\n"
          enum:
          - 0
          - -1
          - 1
        merchantCommissionRate:
          type: decimal
          description: Üye işyerinin uyguladığı vade/komisyon oranı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon oranı %10’dur. Bilgi amaçlıdır.
        merchantCommissionRateAmount:
          type: decimal
          description: Üye işyerinin uyguladığı vade/komisyon tutarı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon tutarı 10’dur. Bilgi amaçlıdır.
        iyziCommissionRateAmount:
          type: decimal
          description: Ödemeye ait iyzico işlem komisyon tutarı.
        iyziCommissionFee:
          type: decimal
          description: Ödemeye ait iyzico işlem ücreti.
        cardType:
          type: string
          description: Kart tipi.
          enum:
          - CREDIT_CARD
          - DEBIT_CARD
          - PREPAID_CARD
        cardAssociation:
          type: string
          description: Kart markası.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
          - TROY
        cardFamily:
          type: string
          description: Kart ailesi.
          enum:
          - Bonus
          - Axess
          - World
          - Maximum
          - Paraf
          - CardFinans
        binNumber:
          type: string
          description: BIN (ilk 8 hane).
        lastFourDigits:
          type: string
          description: Kartın son 4 hanesi.
        basketId:
          type: string
          description: Sepet ID.
        currency:
          type: string
          description: Para birimi.
          enum:
          - TRY
          - USD
          - EUR
          - NOK
          - CHF
          - GBP
        itemTransactions:
          type: array
          description: Sepet öğelerine ait işlem kalemleri.
          items:
            type: object
            properties:
              paymentTransactionId:
                type: string
                description: Ödeme kırılımına ait id, üye işyeri tarafından mutlaka saklanmalıdır. Ödeme
                  kırılımının iadesi, onayı, onay geri çekmesi ve iyzico ile iletişimde kullanılır. Tercihen
                  itemId ile ilişkili bir şekilde tutulmalıdır.
              itemId:
                type: string
                description: Üye işyeri tarafından iletilen, sepetteki ürüne ait id.
              price:
                type: decimal
                description: Üye işyeri tarafındaki sepetteki ürüne ait tutar.
              paidPrice:
                type: decimal
                description: Tahsilat tutarının kırılım bazındaki dağılımı. Üye işyeri tarafından mutlaka
                  saklanmalıdır.
              transactionStatus:
                type: integer
                description: 'Ödeme kırılımının durumu.

                  - 0: Fraud kontrolünde

                  - -1: Fraud kontrolünden sonra reddedildi

                  - 1: Onaylandı. (Pazaryerinde 1 değeri Üye İşyeri Onayı Bekliyor Anlamına Gelir)

                  - 2: Onaylandı (Pazaryeri Onay Verilmiş)

                  '
                enum:
                - 0
                - -1
                - 1
                - 2
              blockageRate:
                type: decimal
                description: Kırılım bazında üye işyeri blokaj oranı. iyzico – üye işyeri anlaşmasına
                  göre, üye işyerine işlem bazında blokaj uygulayabilir. Bu blokaj üye işyeri fraud riskini
                  önlemek içindir, blokaj süresi boyunca para iyzico’da tutulur, bu süre sonrasında üye
                  işyerine gönderilir.
              blockageRateAmountMerchant:
                type: decimal
                description: Kırılım bazında üye işyeri blokaj tutarının, üye işyerine yansıyan rakamı.
                  Blokaj tutarı mümkün olduğunca üye işyerine yansıtılır. Eğer blokaj tutarı, üye işyeri
                  tutarından daha büyükse bu durumda alt üye işyerine de yansıtılır.
              blockageResolvedDate:
                type: string
                description: İşlem bazında blokaj çözülme tarihi. yyyy-MM-dd HH:mm:ss formatındadır, örn.
                  2015-10-19 14:36:52.
              iyziCommissionFee:
                type: decimal
                description: iyzico işlem ücretinin kırılım bazında dağılmış tutarı.
              iyziCommissionRateAmount:
                type: decimal
                description: iyzico işlem komisyon tutarının kırılım bazında dağılmış tutarı.
              merchantCommissionRate:
                type: decimal
                description: Üye işyerinin uyguladığı vade/komisyon oranının kırılım bazında dağılmış
                  oranı.
              merchantCommissionRateAmount:
                type: decimal
                description: Üye işyerinin uyguladığı vade/komisyon tutarıın, kırılım bazında dağılmış
                  tutarı.
              merchantPayoutAmount:
                type: decimal
                description: Bu kırılım için, iyzico işlem ücreti, komisyon tutarı ve blokajlar düşüldükten
                  sonra üye işyerine gönderilecek tutar.
              convertedPayout:
                type: object
                description: Kırılım bazında, kur çevrimi sonrası hesaplamalar.
                properties:
                  paidPrice:
                    type: decimal
                    description: Tahsilat tutarının kırılım bazındaki dağılımı. Üye işyeri tarafından
                      mutlaka saklanmalıdır.
                  iyziCommissionFee:
                    type: decimal
                    description: iyzico işlem ücretinin kırılım bazında dağılmış tutarı.
                  iyziCommissionRateAmount:
                    type: decimal
                    description: iyzico işlem komisyon tutarının kırılım bazında dağılmış tutarı.
                  blockageRateAmountMerchant:
                    type: decimal
                    description: Kırılım bazında üye işyeri blokaj tutarının, üye işyerine yansıyan rakamı.
                      Blokaj tutarı mümkün olduğunca üye işyerine yansıtılır. Eğer blokaj tutarı, üye
                      işyeri tutarından daha büyükse bu durumda alt üye işyerine de yansıtılır.
                  merchantPayoutAmount:
                    type: decimal
                    description: Bu kırılım için, iyzico işlem ücreti, komisyon tutarı ve blokajlar düşüldükten
                      sonra üye işyerine gönderilecek tutar.
                  iyziConversationRate:
                    type: decimal
                    description: Kur oranı.
                  iyziConversationRateAmount:
                    type: decimal
                    description: Kur oranı sonucu tutar.
          currency:
            type: string
            description: Ödemenin alındığı para birimi.
        authCode:
          type: string
          description: Bankadan dönen authCode değeri.
        phase:
          type: string
          description: Ödeme Fazı.
        hostReference:
          type: string
          description: Ödemeye ilişkin banka tarafından verilen hostReference değeri.
        signature:
          type: string
          description: İmza doğrulaması için kullanılabilecek signature değeri.
        token:
          type: string
          description: CheckoutForm Token Değeri.
        callbackUrl:
          type: string
          description: Dönüş URL’si.
        paymentStatus:
          type: string
          description: Ödeme sonucu.
    CancelPaymentRequest:
      type: object
      required:
      - paymentId
      properties:
        paymentId:
          type: string
          description: İptal edilmek istenen ödeme işlemine ait iyzico tarafından verilen **uniq ödeme
            numarası**.
        conversationId:
          type: string
          description: İstek/yanıt eşleştirmesi için **uniq ID**. İstekte gönderilen değer yanıtta aynen
            geri döner.
        ip:
          type: string
          description: İşlemin gönderildiği IP adresi.
        locale:
          type: string
          enum:
          - tr
          - en
          description: iyzico istek sonucunda dönen metinlerin dilini ayarlamak için kullanılır.
        reason:
          type: string
          description: İptal Nedeni. İptal açıklaması gönderilirse, gönderilmesi zorunlu bir bilgidir.
          enum:
          - OTHER
          - FRAUD
          - BUYER_REQUEST
          - DOUBLE_PAYMENT
        description:
          type: string
          description: İptal açıklaması.
    CancelPaymentResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - failure
          description: Yapılan isteğin sonucunu belirtir.
        locale:
          type: string
          enum:
          - tr
          - en
          description: Yanıt dili.
        systemTime:
          type: integer
          description: Dönen sonucun o anki **epoch ms** değeridir.
        conversationId:
          type: string
          description: İstekte gönderilen conversationId değeri aynen geri döner.
        paymentId:
          type: string
          description: İptal edilen ödeme numarası.
        price:
          type: decimal
          description: İptal edilen ödeme tutarı.
        currency:
          type: string
          description: Para birimi (ödemenin yapıldığı para birimi).
        authCode:
          type: string
          description: Banka tarafından dönen yetkilendirme (auth) kodu.
        hostReference:
          type: string
          description: İşlem referans değeri.
        cancelHostReference:
          type: string
          description: İptal işlemine ait referans değeri.
    CancelSubscriptionRequest:
      type: object
      properties:
        subscriptionReferenceCode:
          type: string
          description: Abonelik referans kodu. Opsiyonel olarak body de gönderilebilir.
    CancelSubscriptionResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - failure
          description: Yapılan isteğin sonucunu belirtir. İşlem başarılı ise success değeri döner.
        systemTime:
          type: integer
          description: Dönen sonucun o anki unix timestamp değeridir.
    Card:
      type: object
      description: Kart bilgileri.
      properties:
        cardAlias:
          type: string
          description: Saklı karta verilen isim.
        expireYear:
          type: string
          description: Kartın üzerindeki yıl.
        expireMonth:
          type: string
          description: Kartın üzerindeki ay.
        cardNumber:
          type: string
          description: Kartın numarası.
        cardHolderName:
          type: string
          description: Kartın üzerindeki isim.
      required:
      - cardNumber
      - expireYear
      - expireMonth
      - cardHolderName
    CardCreateRequest:
      type: object
      description: Kullanıcı ve kart oluşturma isteği (yeni kullanıcı + ilk kart).
      properties:
        locale:
          type: string
          description: iyzico istek sonucunda dönen metinlerin dilini ayarlamak için kullanılır. Varsayılan
            değeri `tr`’dir.
        conversationId:
          type: string
          description: İstek esnasında gönderip, sonuçta alabileceğiniz bir değer; request/response eşleşmesi
            yapmak için kullanılabilir.
        externalId:
          type: string
          description: Saklanmak istenen karta üye iş yeri tarafından verilen id.
        email:
          type: string
          description: Saklı kart sahibinin email adresi.
        card:
          $ref: '#/components/schemas/Card'
      required:
      - email
      - card
    CardCreateSuccessResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          externalId:
            type: string
            description: İstekle iletilen `externalId` değeri.
          email:
            type: string
            description: Saklanan kart üzerindeki email (yalnızca ilk varyantta dönebilir).
          cardUserKey:
            type: string
            description: Saklanan karta ait kullanıcı anahtarı. Tekrar ödeme tahsil etmek için kullanılır.
          cardToken:
            type: string
            description: Saklı karta ait token. Tekrar ödeme tahsil etmek için kullanılır.
          binNumber:
            type: string
            description: Kartın ilk 8 hanesidir.
          lastFourDigits:
            type: string
            description: Kartın son 4 hanesi.
          cardType:
            type: string
            description: Kart tipi.
            enum:
            - CREDIT_CARD
            - DEBIT_CARD
            - PREPAID_CARD
          cardAssociation:
            type: string
            description: Kart kuruluşu.
            enum:
            - VISA
            - MASTER_CARD
            - AMERICAN_EXPRESS
          cardFamily:
            type: string
[...]
