openapi: 3.0.3
info:
  title: iyzico — cardstorage
  version: unversioned
  description: Reassembled from the per-endpoint fragments embedded in https://docs.iyzico.com/. iyzico
    publishes no OpenAPI file; this is a record of what was documented, not a contract they offer.
servers:
- url: https://api.iyzipay.com
  description: Production
- url: https://sandbox-api.iyzipay.com
  description: Sandbox
security:
- ApiKeyAuth: []
  SecretKeyAuth: []
  MerchantIdAuth: []
tags: []
paths:
  /cardstorage/card:
    post:
      summary: Create User and Card
      description: You can create a **user** and a **card** linked to that user in iyzico without creating
        a payment. Or, using the same endpoint, you can **add a new card** to an **existing user**. Request
        parameters differ between the two variants. Both request bodies and JSON examples are provided
        below.
      tags:
      - Card Storage
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CardCreateRequest'
              - $ref: '#/components/schemas/CardCreateWithUserKeyRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardCreateSuccessResponse'
        '400':
          description: Invalid request / validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-iyzico-source: https://docs.iyzico.com/en/advanced/card-storage.md
    delete:
      summary: Delete a Stored Card
      description: Deletes a card that belongs to a user created in iyzico.
      tags:
      - Card Storage
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDeleteRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request / validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-iyzico-source: https://docs.iyzico.com/en/advanced/card-storage.md
  /cardstorage/cards:
    post:
      summary: List Stored Cards
      description: You can list the cards that belong to a user in iyzico.
      tags:
      - Card Storage
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardListRequest'
      responses:
        '200':
          description: Successful response — Card list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardListSuccessResponse'
        '400':
          description: Invalid request / validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-iyzico-source: https://docs.iyzico.com/en/advanced/card-storage.md
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    SecretKeyAuth:
      type: apiKey
      in: header
      name: x-secret-key
    MerchantIdAuth:
      type: apiKey
      in: header
      name: x-merchant-id
  schemas:
    BaseResponse:
      type: object
      description: Standard response fields.
      properties:
        status:
          type: string
          description: It shows the result of the request.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Response language.
          enum:
          - tr
          - en
        systemTime:
          type: integer
          description: Operation time (epoch ms).
        conversationId:
          type: string
          description: If sent in the request, echoed back in the response for correlation.
        price:
          type: decimal
          description: Basket total amount.
        paidPrice:
          type: decimal
          description: Total amount charged.
        installment:
          type: integer
          description: Installment count.
        paymentId:
          type: string
          description: Payment ID.
        fraudStatus:
          type: integer
          description: 'Payment status based on fraud filters. If the fraud risk score is low, the payment
            is approved immediately; if high, it is rejected.

            - **1**: Approved.

            - **0**: Under review — wait for notification.

            - **-1**: Rejected.

            '
          enum:
          - 0
          - -1
          - 1
        merchantCommissionRate:
          type: decimal
          description: Merchant’s own installment/commission rate. If `price=100` and `paidPrice=110`,
            the merchant rate is 10%. Informational.
        merchantCommissionRateAmount:
          type: decimal
          description: Merchant’s own commission amount (e.g., 10 in the example above). Informational.
        iyziCommissionRateAmount:
          type: decimal
          description: iyzico commission rate amount.
        iyziCommissionFee:
          type: decimal
          description: iyzico transaction fee for the payment.
        cardType:
          type: string
          description: Card type.
          enum:
          - CREDIT_CARD
          - DEBIT_CARD
          - PREPAID_CARD
        cardAssociation:
          type: string
          description: Card association.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
        cardFamily:
          type: string
          description: Card family.
          enum:
          - Bonus
          - Axess
          - World
          - Maximum
          - Paraf
          - Enpara Bank DC
          - QNB CC
          - QNB DC
          - Ziraat Bankası DC
          - BankkartCombo
          - Albaraka Türk DC
          - Vakıfbank DC
          - Neo
          - Paracard
          - TEB DC
          - Kuveyt Türk CC
          - Kuveyt Türk DC
          - Shop&Fly
          - Halkbank DC
          - Papara Card
          - Tlcard
          - Tosla
          - Bankamatik
          - ING Bank DC
          - Sipay DC
          - T.O.M.Kt.Bnk.A.Ş. CC
          - Turk Telekom
          - PTT DC
          - Miles&Smiles
          - Denizbank DC
        binNumber:
          type: string
          description: BIN (first 8 digits).
        lastFourDigits:
          type: string
          description: Last 4 digits of the card.
        basketId:
          type: string
          description: Basket ID.
        currency:
          type: string
          enum:
          - TRY
          - USD
          - EUR
          - NOK
          - CHF
          - GBP
        itemTransactions:
          type: array
          items:
            $ref: '#/components/schemas/ItemTransaction'
        authCode:
          type: string
          description: Authorization code.
        phase:
          type: string
        hostReference:
          type: string
          description: Bank-provided hostReference value for the payment.
        signature:
          type: string
          description: Signature value that can be used for verification.
    Card:
      type: object
      description: Card information.
      properties:
        cardAlias:
          type: string
          description: The name assigned to the stored card. It is defined by the merchant and can be
            used to match it with your system.
        expireYear:
          type: string
          description: Expiration year on the card.
        expireMonth:
          type: string
          description: Expiration month on the card.
        cardNumber:
          type: string
          description: Card number.
        cardHolderName:
          type: string
          description: Name printed on the card.
      required:
      - cardNumber
      - expireYear
      - expireMonth
      - cardHolderName
    CardCreateRequest:
      type: object
      description: Create a user and a card (new user + first card).
      properties:
        locale:
          type: string
          description: Sets the language of messages returned by iyzico. Default is `tr`.
          enum:
          - tr
          - en
        conversationId:
          type: string
          description: Value you send to correlate request/response.
        externalId:
          type: string
          description: ID assigned by the merchant to the card to be stored.
        email:
          type: string
          description: Email of the stored card owner.
        card:
          $ref: '#/components/schemas/Card'
      required:
      - email
      - card
    CardCreateSuccessResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          externalId:
            type: string
            description: The `externalId` value sent in the request.
          email:
            type: string
            description: Email on the stored card (may be returned only in the first variant).
          cardUserKey:
            type: string
            description: User key for the stored card. Used to charge again.
          cardToken:
            type: string
            description: Token of the stored card. Used to charge again.
          binNumber:
            type: string
            description: First 8 digits of the card.
          lastFourDigits:
            type: string
            description: Last 4 digits of the card.
          cardType:
            type: string
            description: Card type.
            enum:
            - CREDIT_CARD
            - DEBIT_CARD
            - PREPAID_CARD
          cardAssociation:
            type: string
            description: Card association.
            enum:
            - VISA
            - MASTER_CARD
            - AMERICAN_EXPRESS
          cardFamily:
            type: string
            description: Card family (returned for local cards).
            enum:
            - Bonus
            - Axess
            - World
            - Maximum
            - Paraf
            - Enpara Bank DC
            - QNB CC
            - QNB DC
            - Ziraat Bankası DC
            - BankkartCombo
            - Albaraka Türk DC
            - Vakıfbank DC
            - Neo
            - Paracard
            - TEB DC
            - Kuveyt Türk CC
            - Kuveyt Türk DC
            - Shop&Fly
            - Halkbank DC
            - Papara Card
            - Tlcard
            - Tosla
            - Bankamatik
            - ING Bank DC
            - Sipay DC
            - T.O.M.Kt.Bnk.A.Ş. CC
            - Turk Telekom
            - PTT DC
            - Miles&Smiles
            - Denizbank DC
          cardAlias:
            type: string
            description: Alias of the card.
          cardBankCode:
            type: integer
            description: If the card is a local card, its bank code.
          cardBankName:
            type: string
            description: If the card is a local card, its bank name.
    CardCreateWithUserKeyRequest:
      type: object
      description: Add a second/additional card to an existing user.
      properties:
        locale:
          type: string
          description: Sets the language of messages returned by iyzico. Default is `tr`.
          enum:
          - tr
          - en
        conversationId:
          type: string
          description: Unique ID for request/response correlation (optional).
        cardUserKey:
          type: string
          description: Existing user key to which the card will be added.
        card:
          $ref: '#/components/schemas/Card'
      required:
      - cardUserKey
      - card
    CardDeleteRequest:
      type: object
      description: Request to delete a stored card.
      properties:
        locale:
          type: string
          description: Response language. Default `tr`.
          enum:
          - tr
          - en
        conversationId:
          type: string
          description: Correlation ID sent for request/response matching.
        cardUserKey:
          type: string
          description: User key of the stored card.
        cardToken:
          type: string
          description: Token of the card to be deleted.
      required:
      - cardUserKey
      - cardToken
    CardListItem:
      type: object
      description: Stored card information.
      properties:
        cardToken:
          type: string
          description: Stored card token.
        cardAlias:
          type: string
          description: Alias for the card.
        binNumber:
          type: string
          description: First 6 or 8 digits of the card.
        lastFourDigits:
          type: string
          description: Last 4 digits of the card.
        cardType:
          type: string
          description: Card type.
          enum:
          - CREDIT_CARD
          - DEBIT_CARD
          - PREPAID_CARD
        cardAssociation:
          type: string
          description: Card association.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
        cardFamily:
          type: string
          description: Card family (for local cards).
          enum:
          - Bonus
          - Axess
          - World
          - Maximum
          - Paraf
          - Enpara Bank DC
          - QNB CC
          - QNB DC
          - Ziraat Bankası DC
          - BankkartCombo
          - Albaraka Türk DC
          - Vakıfbank DC
          - Neo
          - Paracard
          - TEB DC
          - Kuveyt Türk CC
          - Kuveyt Türk DC
          - Shop&Fly
          - Halkbank DC
          - Papara Card
          - Tlcard
          - Tosla
          - Bankamatik
          - ING Bank DC
          - Sipay DC
          - T.O.M.Kt.Bnk.A.Ş. CC
          - Turk Telekom
          - PTT DC
          - Miles&Smiles
          - Denizbank DC
        cardBankCode:
          type: integer
          description: Bank code (for local cards).
        cardBankName:
          type: string
          description: Bank name (for local cards).
        expireMonth:
          type: string
          description: Expire month.
        expireYear:
          type: string
          description: Expire year.
    CardListRequest:
      type: object
      description: Request to list stored cards.
      properties:
        locale:
          type: string
          description: Response language. Default `tr`.
          enum:
          - tr
          - en
        conversationId:
          type: string
          description: Correlation ID sent for request/response matching.
        cardUserKey:
          type: string
          description: User key whose cards will be listed.
      required:
      - cardUserKey
    CardListSuccessResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          cardUserKey:
            type: string
            description: User key whose cards are listed.
          cardDetails:
            type: array
            description: List of stored cards for the user.
            items:
              $ref: '#/components/schemas/CardListItem'
    ConvertedPayout:
      type: object
      description: Post-conversion calculations per line item.
      properties:
        paidPrice:
          type: decimal
          description: Distribution of the collected amount for this line. Must be stored by the merchant.
        iyziCommissionFee:
          type: decimal
          description: Distributed iyzico transaction fee for this line.
        iyziCommissionRateAmount:
          type: decimal
          description: Distributed iyzico commission amount for this line.
        blockageRateAmountMerchant:
          type: decimal
          description: Portion of the blockage amount reflected to the merchant for this line.
        blockageRateAmountSubMerchant:
          type: string
        subMerchantPayoutAmount:
          type: string
        merchantPayoutAmount:
          type: decimal
          description: Amount to be sent to the merchant after fees/commissions/blockages.
        iyziConversationRate:
          type: decimal
          description: Conversion rate.
        iyziConversationRateAmount:
          type: decimal
          description: Amount after applying the conversion rate.
        currency:
          type: string
          enum:
          - TRY
          - USD
          - EUR
          - GBP
          - NOK
          - CHF
    ErrorResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          errorCode:
            type: string
            description: Code describing the error, if any.
          errorMessage:
            type: string
            description: Localized error message (depends on the `locale`).
          errorGroup:
            type: string
            description: Error category/group.
    ItemTransaction:
      type: object
      description: Line items for basket transactions.
      properties:
        itemId:
          type: string
          description: Merchant-provided ID for the basket item.
        paymentTransactionId:
          type: string
          description: ID of the payment breakdown; must be stored by the merchant (used for refund/capture/approval
            and communication with iyzico).
        transactionStatus:
          type: integer
          description: 'Status of the payment breakdown.

            - **0**: Under fraud review

            - **-1**: Rejected after fraud review

            - **1**: Approved (In marketplace, 1 means "Awaiting Merchant Approval")

            - **2**: Approved (Marketplace approval given)

            '
          enum:
          - 0
          - -1
          - 1
          - 2
        price:
          type: decimal
          description: Item amount on the merchant side.
        paidPrice:
          type: decimal
          description: Distribution of the collected amount for this line. Must be stored by the merchant.
        installment:
          type: integer
          description: Installment count.
        blockageRate:
          type: decimal
          description: Merchant blockage rate for the line. Per agreement, iyzico may apply blockage to
            mitigate fraud risk.
        blockageRateAmountMerchant:
          type: decimal
          description: Portion of the blockage amount reflected to the merchant for this line.
        blockageRateAmountsubMerchant:
          type: decimal
          description: Blockage amount for the sub-merchant on this line.
        blockageResolvedDate:
          type: string
          description: Blockage release date for the transaction. Format; yyyy-MM-dd HH:mm:ss (e.g., 2015-10-19
            14:36:52).
          enum:
          - '2015-10-19 14:36:52'
        iyziCommissionFee:
          type: decimal
          description: Distributed iyzico transaction fee for this line.
        iyziCommissionRateAmount:
          type: decimal
          description: Distributed iyzico commission amount for this line.
        merchantCommissionRate:
          type: decimal
          description: Distributed merchant commission rate for this line.
        merchantCommissionRateAmount:
          type: decimal
          description: Distributed merchant commission amount for this line.
        merchantPayoutAmount:
          type: decimal
          description: Amount to be sent to the merchant after fees/commissions/blockages.
        subMerchantPrice:
          type: decimal
          description: Sub-merchant entitlement.
        subMerchantPayoutRate:
          type: string
          description: Sub-merchant payout rate.
        subMerchantPayoutAmount:
          type: decimal
          description: Amount to be transferred to the sub-merchant.
        convertedPayout:
          $ref: '#/components/schemas/ConvertedPayout'
