openapi: 3.0.3
info:
  title: iyzico — urunler/mass-payout
  version: unversioned
  description: Reassembled from the per-endpoint fragments embedded in https://docs.iyzico.com/. iyzico
    publishes no OpenAPI file; this is a record of what was documented, not a contract they offer.
servers:
- url: https://api.iyzipay.com
  description: Production
- url: https://sandbox-api.iyzipay.com
  description: Sandbox
security:
- ApiKeyAuth: []
  SecretKeyAuth: []
  MerchantIdAuth: []
tags:
- name: Mass Payout
  description: Toplu ödeme işlemleri
paths:
  /v1/mass/payout/auth:
    post:
      tags:
      - Mass Payout
      summary: Toplu Ödemeyi Yetkilendir
      description: 'INIT durumundaki geçerli kırılımları PROCESSING durumuna geçirir.

        '
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - $ref: '#/components/parameters/LocaleQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassPayoutAuthRequest'
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassPayoutAuthResponse'
      x-iyzico-source: https://docs.iyzico.com/urunler/mass-payout/mass-payout-toplu-odeme-entegrasyonu/toplu-odeme-tamamlama.md
  /v1/mass/payout/balance:
    get:
      tags:
      - Mass Payout
      summary: Toplu Ödeme Bakiyesi
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - $ref: '#/components/parameters/LocaleQuery'
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassPayoutBalanceResponse'
      x-iyzico-source: https://docs.iyzico.com/urunler/mass-payout/mass-payout-toplu-odeme-entegrasyonu/bakiye-sorgulama.md
  /v1/mass/payout/cancel/{requestId}:
    post:
      tags:
      - Mass Payout
      summary: Toplu Ödemeyi İptal Et
      description: INIT durumundaki toplu ödeme ve kırılımlarını iptal eder.
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - $ref: '#/components/parameters/LocaleQuery'
      - name: requestId
        in: path
        required: true
        description: İptal edilecek toplu ödeme takip kimliği.
        schema:
          type: string
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassPayoutCancelResponse'
      x-iyzico-source: https://docs.iyzico.com/urunler/mass-payout/mass-payout-toplu-odeme-entegrasyonu/toplu-odeme-iptal-etme.md
  /v1/mass/payout/init:
    post:
      tags:
      - Mass Payout
      summary: Toplu Ödeme Başlat
      description: 'Yeni bir toplu ödeme oluşturur. Geçerli kırılımlar INIT durumunda saklanır.

        '
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - $ref: '#/components/parameters/LocaleQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassPayoutInitializeRequest'
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassPayoutInitializeResponse'
        '400':
          description: Başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassPayoutInitializeResponse'
      x-iyzico-source: https://docs.iyzico.com/urunler/mass-payout/mass-payout-toplu-odeme-entegrasyonu/toplu-odeme-baslatma.md
  /v1/mass/payout/retrieve:
    post:
      tags:
      - Mass Payout
      summary: Toplu Ödeme Detayı Getir
      description: 'Toplu ödeme ve kırılım detaylarını döndürür.

        requestId veya externalMassPayoutId alanlarından en az biri gönderilmelidir.

        '
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - $ref: '#/components/parameters/LocaleQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassPayoutRetrieveRequest'
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassPayoutRetrieveResponse'
      x-iyzico-source: https://docs.iyzico.com/urunler/mass-payout/mass-payout-toplu-odeme-entegrasyonu/toplu-odeme-raporlama.md
  /v1/mass/payout/retrieve/items/{referenceCode}:
    get:
      tags:
      - Mass Payout
      summary: Toplu Ödeme Kırılım Detayı Getir
      description: Belirtilen toplu ödeme kırılımına ait detay bilgilerini döndürür.
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - $ref: '#/components/parameters/LocaleQuery'
      - name: referenceCode
        in: path
        required: true
        description: Toplu ödeme kırılımına ait benzersiz referans kodu.
        schema:
          type: string
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassPayoutItemRetrieveResponse'
      x-iyzico-source: https://docs.iyzico.com/urunler/mass-payout/mass-payout-toplu-odeme-entegrasyonu/toplu-odeme-sorgulama.md
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    SecretKeyAuth:
      type: apiKey
      in: header
      name: x-secret-key
    MerchantIdAuth:
      type: apiKey
      in: header
      name: x-merchant-id
  schemas:
    Amount:
      type: object
      description: Tutar bilgisi.
      required:
      - value
      - currency
      properties:
        value:
          type: decimal
          description: Gönderilecek tutar.
        currency:
          type: string
          description: Para birimi kodu.
          enum:
          - TRY
          - USD
          - EUR
    InvalidItem:
      type: object
      description: Geçersiz ödeme kırılım detayı.
      properties:
        externalId:
          type: string
          description: Hata veren kırılım external ID'si.
        errorCode:
          type: string
        errorMessage:
          type: string
    MassPayoutAuthRequest:
      type: object
      description: Toplu ödeme yetkilendirme isteği.
      required:
      - requestId
      properties:
        requestId:
          type: string
          description: Başlatma adımında dönen korelasyon / takip kimliği.
    MassPayoutAuthResponse:
      type: object
      description: Toplu ödeme yetkilendirme yanıtı.
      properties:
        status:
          type: string
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili (`tr` veya `en`).
        systemTime:
          type: integer
          description: Sistem zamanı (epoch ms).
    MassPayoutBalanceResponse:
      type: object
      description: İşletmenin toplu ödeme bakiyesi yanıtı.
      properties:
        status:
          type: string
          enum:
          - success
          - failure
        systemTime:
          type: integer
        balance:
          type: decimal
          description: Toplu ödeme işlemleri için kullanılabilir bakiye.
    MassPayoutCancelResponse:
      type: object
      description: Toplu ödeme iptal yanıtı.
      properties:
        status:
          type: string
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili (`tr` veya `en`).
        systemTime:
          type: integer
          description: Sistem zamanı (epoch ms).
    MassPayoutInitializeRequest:
      type: object
      description: Toplu ödeme başlatma isteği.
      required:
      - externalId
      - items
      properties:
        externalId:
          type: string
          description: Toplu ödeme isteği için benzersiz kimlik (idempotency).
        conversationId:
          type: string
          description: Toplu ödeme için korelasyon ID'si.
        purpose:
          type: string
          description: Ödemenin iş amacı.
          enum:
          - SALARY
          - BONUS
          - SETTLEMENT
          - GOODS
          - SERVICES
        items:
          type: array
          description: Ödeme kırılımları.
          items:
            $ref: '#/components/schemas/MassPayoutItem'
    MassPayoutInitializeResponse:
      type: object
      description: Toplu ödeme başlatma yanıtı.
      properties:
        requestId:
          type: string
          description: Toplu ödeme için korelasyon / takip kimliği.
        conversationId:
          type: string
          description: Varsa temel istekteki korelasyon kimliği.
        status:
          type: string
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili (`tr` veya `en`).
        systemTime:
          type: integer
          description: Sistem zamanı (epoch ms).
        invalidItems:
          type: array
          description: Kırılım seviyesinde hata detayları.
          items:
            $ref: '#/components/schemas/InvalidItem'
    MassPayoutItem:
      type: object
      description: Toplu ödeme kırılımı.
      required:
      - itemExternalId
      - recipientType
      - recipientInfo
      - amount
      - description
      properties:
        itemExternalId:
          type: string
          description: Kırılım bazında ID.
        recipientType:
          type: string
          description: Alıcı tanımlayıcı tipi.
          enum:
          - PHONE
          - IBAN
          - IDENTITY_NUMBER
          - MEMBER_ID
        recipientInfo:
          type: string
          description: recipientType ile uyumlu tanımlayıcı (telefon, IBAN vb.).
        amount:
          $ref: '#/components/schemas/Amount'
        description:
          type: string
          description: Kırılım açıklaması.
        recipientName:
          type: string
          description: Alıcı adı. `recipientType = IBAN` ise **zorunludur**.
        nonWithdrawable:
          type: boolean
          description: iyzico cüzdana gönderilecek ücretin çekilemez olmasını sağlar.
    MassPayoutItemDetail:
      type: object
      description: Toplu ödeme kırılım detayı.
      properties:
        itemExternalId:
          type: string
        referenceCode:
          type: string
        recipientType:
          type: string
          enum:
          - PHONE
          - IBAN
          - IDENTITY_NUMBER
          - MEMBER_ID
        recipientInfo:
          type: string
        recipientName:
          type: string
        description:
          type: string
        itemStatus:
          type: string
          description: Toplu ödeme kırılımı statü durumu.
          enum:
          - FAILED
          - SUCCESS
          - INIT
          - INVALID
          - PROCESSING
          - MASS_PAYOUT_CANCELED
          - QUEUED
          - DEPOSIT_SUCCESS
          - DEPOSIT_FAIL
        errorMessages:
          type: array
          items:
            type: string
        totalAmount:
          type: decimal
        commissionAmount:
          type: decimal
        currencyCode:
          type: string
    MassPayoutItemRetrieveResponse:
      type: object
      description: Tekil toplu ödeme kırılımı detayı yanıtı.
      properties:
        status:
          type: string
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili (`tr` veya `en`).
        systemTime:
          type: integer
          description: Sistem zamanı (epoch ms).
        item:
          $ref: '#/components/schemas/MassPayoutItemDetail'
    MassPayoutItemsPage:
      type: object
      description: Toplu ödeme kırılımlarının sayfalı listesi.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MassPayoutItemDetail'
    MassPayoutRetrieveRequest:
      type: object
      description: requestId veya externalMassPayoutId alanlarından en az biri gönderilmelidir.
      required:
      - itemType
      - page
      - size
      properties:
        requestId:
          type: string
          description: Toplu ödeme için korelasyon/takip kimliği. Init işleminin response'u üzerinde dönmektedir.
        externalMassPayoutId:
          type: string
          description: Toplu ödeme isteği için benzersiz kimlik (idempotency).
        itemType:
          type: string
          description: Kırılım filtre tipi.
          enum:
          - VALID
          - INVALID
        page:
          type: integer
          description: Getirilecek sayfa numarası.
        size:
          type: integer
          description: Sayfa başına sonuç adedi.
    MassPayoutRetrieveResponse:
      type: object
      description: Toplu ödeme ve kırılım detayları yanıtı.
      properties:
        status:
          type: string
          enum:
          - success
          - failure
        locale:
          type: string
        systemTime:
          type: integer
          description: Sistem zamanı (epoch ms).
        massPayout:
          $ref: '#/components/schemas/MassPayoutSummary'
        massPayoutItems:
          $ref: '#/components/schemas/MassPayoutItemsPage'
        page:
          type: integer
        size:
          type: integer
        total:
          type: integer
    MassPayoutSummary:
      type: object
      description: Toplu ödeme özet bilgileri.
      properties:
        externalId:
          type: string
        merchantId:
          type: integer
        totalAmount:
          type: decimal
        totalSuccessfulAmount:
          type: decimal
        massPayoutStatus:
          type: string
          description: Toplu ödemenin yaşam döngüsü durumu (enum).
          enum:
          - INIT
          - IN_PROGRESS
          - PUBLISHED_TO_QUEUE
          - COMPLETED
          - FAIL
          - INSUFFICIENT_BALANCE
          - CANCELED
        totalCommissionAmount:
          type: decimal
        currency:
          type: string
