openapi: 3.0.3
info:
  title: iyzico — payment
  version: unversioned
  description: Reassembled from the per-endpoint fragments embedded in https://docs.iyzico.com/. iyzico
    publishes no OpenAPI file; this is a record of what was documented, not a contract they offer.
servers:
- url: https://api.iyzipay.com
  description: Production
- url: https://sandbox-api.iyzipay.com
  description: Sandbox
tags:
- name: Ön Provizyon
  description: Ön provizyon işlemleri (başlatma/kapama/iptal)
paths:
  /payment/3dsecure/auth:
    post:
      summary: Create 3DS Payment
      description: Finalizes the payment after successful 3D authentication.
      tags:
      - 3DS Payment
      parameters:
      - $ref: '#/components/parameters/AuthHeader5'
      - $ref: '#/components/parameters/ContentTypeHeader3'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDSAuthRequest'
      responses:
        '200':
          description: Successful response (payment completed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Invalid request / validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse7'
      x-iyzico-source: https://docs.iyzico.com/en/getting-started/preliminaries/api-reference-beta/payment-methods/api-3ds.md
  /payment/3dsecure/initialize:
    post:
      summary: Initialize 3DS Payment
      description: 3D Secure oturumu başlatır ve 3DS doğrulama için htmlContent değeri döner.
      tags:
      - 3DS Payment
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader7'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDSInitializeRequest'
      responses:
        '200':
          description: Başarılı yanıt (3DS başlatıldı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDSInitializeResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse11'
      x-iyzico-source: https://docs.iyzico.com/odeme-metotlari/api/3ds/3ds-entegrasyonu/3ds-baslatma.md
  /payment/3dsecure/initialize/preauth:
    post:
      summary: Initialize 3DS Payment
      description: 3D Secure oturumu başlatır ve 3DS doğrulama için htmlContent değeri döner.
      tags:
      - 3DS Payment
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader7'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDSInitializeRequest2'
      responses:
        '200':
          description: Başarılı yanıt (3DS başlatıldı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDSInitializeResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse11'
      x-iyzico-source: https://docs.iyzico.com/odeme-metotlari/on-provizyon/on-provizyon-entegrasyonu/provizyon-baslatma/3ds.md
  /payment/auth:
    post:
      summary: Crate Payment with Stored Card (NON3D)
      description: After card storage, you can send a “NON3D or 3DS” payment request using the returned
        `cardUserKey` and `cardToken`. Unlike a standard payment request, card details are sent via `cardUserKey`
        and `cardToken`. Suitable for one-click payments or subscription cycles. Example below shows NON3D.
      tags:
      - Card Storage
      parameters:
      - $ref: '#/components/parameters/AuthHeader2'
      - $ref: '#/components/parameters/ContentTypeHeader2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentAuthSavedCardRequest'
      responses:
        '200':
          description: Successful response — payment captured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAuthSuccessResponse'
        '400':
          description: Invalid request / validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse2'
      x-iyzico-source: https://docs.iyzico.com/en/advanced/card-storage.md
  /payment/bin/check:
    post:
      summary: BIN Service Request
      description: Retrieves card attributes in BIN inquiries such as issuing bank, card family, and card
        scheme. To obtain the desired information, simply include the required parameters in your request.
        The API will respond with comprehensive details.
      tags:
      - BIN
      parameters:
      - $ref: '#/components/parameters/AuthHeader3'
      - $ref: '#/components/parameters/ContentTypeHeader3'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BINCheckRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINCheckResponse'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse3'
      x-iyzico-source: https://docs.iyzico.com/en/advanced/installment-and-bin-service.md
  /payment/cancel:
    post:
      summary: İptal
      description: Ödeme işlemini iptal etmek için kullanılır.
      tags:
      - Ödeme
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelPaymentRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-iyzico-source: https://docs.iyzico.com/ek-servisler/iptal-ve-iade.md
  /payment/detail:
    post:
      summary: Retrieve Payment Result
      description: Retrieves the result of a payment.
      tags:
      - Non3D Payment
      parameters:
      - $ref: '#/components/parameters/AuthHeader4'
      - $ref: '#/components/parameters/ContentTypeHeader3'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - paymentId
              properties:
                locale:
                  type: string
                  description: Language code. Allowed values; tr, en. Default; tr
                  enum:
                  - tr
                  - en
                paymentId:
                  type: string
                  description: Payment transaction ID.
                paymentConversationId:
                  type: string
                  description: ConversationId of the payment transaction. Required if paymentId is not
                    sent.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponseTwo'
        '400':
          description: Invalid request / validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse5'
      x-iyzico-source: https://docs.iyzico.com/en/advanced/retrieve-payment.md
  /payment/item:
    put:
      summary: Submerchant Item/Price Update
      description: 'This service is used to modify the payout amount of the submerchant or update the
        submerchant information based on a single paymentTransaction

        '
      tags:
      - Marketplace
      parameters:
      - $ref: '#/components/parameters/AuthHeader2'
      - $ref: '#/components/parameters/ContentTypeHeader5'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemPayoutUpdateRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemPayoutUpdateResponse'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse6'
      x-iyzico-source: https://docs.iyzico.com/en/getting-started/preliminaries/api-reference-beta/marketplace/submerchant.md
  /payment/iyzipos/checkoutform/auth/ecom/detail:
    post:
      summary: Pay with iyzico (PWI) — Retrieve
      description: Queries the PWI transaction result by token.
      tags:
      - Pay with iyzico
      parameters:
      - $ref: '#/components/parameters/AuthHeader6'
      - $ref: '#/components/parameters/ContentTypeHeader6'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PwiRetrieveRequest'
      responses:
        '200':
          description: Successful response (payment completed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PwiPaymentResponse'
        '400':
          description: Bad request / validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse9'
      x-iyzico-source: https://docs.iyzico.com/en/getting-started/preliminaries/api-reference-beta/payment-methods/pay-with-iyzico.md
  /payment/iyzipos/checkoutform/initialize/auth/ecom:
    post:
      summary: Ödeme Formu (CF) Başlatma
      description: Ödeme formu (Checkout Form) oturumu başlatır ve ödeme sayfasını göstermek için `checkoutFormContent`
        / `paymentPageUrl` ve işleme ait `token` döner.
      tags:
      - CheckoutForm
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader7'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CFInitializeRequest'
      responses:
        '200':
          description: Başarılı yanıt (CF başlatıldı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFInitializeResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse12'
      x-iyzico-source: https://docs.iyzico.com/odeme-metotlari/odeme-formu/cf-entegrasyonu/cf-baslatma.md
  /payment/iyzipos/checkoutform/initialize/preauth/ecom:
    post:
      summary: Ödeme Formu (CF) Başlatma
      description: Ödeme formu (Checkout Form) oturumu başlatır ve ödeme sayfasını göstermek için `checkoutFormContent`
        / `paymentPageUrl` ve işleme ait `token` döner.
      tags:
      - CheckoutForm
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader7'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CFInitializeRequest2'
      responses:
        '200':
          description: Başarılı yanıt (CF başlatıldı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFInitializeResponse'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse12'
      x-iyzico-source: https://docs.iyzico.com/odeme-metotlari/on-provizyon/on-provizyon-entegrasyonu/provizyon-baslatma/iyzico-odeme-formu-checkoutform.md
  /payment/iyzipos/installment:
    post:
      summary: Installment Service Request
      description: The API provides installment counts, rates and amounts, as well as attributes such
        as issuing bank, card family and card scheme. It lists available installment options based on
        the given BIN and amount. You can also query installment rates with only the BIN or only the amount.
      tags:
      - Installment
      parameters:
      - $ref: '#/components/parameters/AuthHeader3'
      - $ref: '#/components/parameters/ContentTypeHeader3'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallmentRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallmentResponse'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse3'
      x-iyzico-source: https://docs.iyzico.com/en/advanced/installment-and-bin-service.md
  /payment/iyzipos/item/approve:
    post:
      summary: Approve Item
      description: To approve an item, provide the split id (**paymentTransactionId**). The id is returned
        by the payment service.
      tags:
      - Marketplace
      parameters:
      - $ref: '#/components/parameters/AuthHeader2'
      - $ref: '#/components/parameters/ContentTypeHeader5'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemApproveRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemActionResponse'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse6'
      x-iyzico-source: https://docs.iyzico.com/en/getting-started/preliminaries/api-reference-beta/marketplace/approve.md
  /payment/iyzipos/item/disapprove:
    post:
      summary: Dissapprove
      description: To disapprove a product, the related paymentTransactionId must be provided in the request.
        The id (paymentTransactionId) of the disapproved payment transaction will be returned in the response.
      tags:
      - Marketplace
      parameters:
      - $ref: '#/components/parameters/AuthHeader2'
      - $ref: '#/components/parameters/ContentTypeHeader5'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemDisapproveRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemActionResponse'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse6'
      x-iyzico-source: https://docs.iyzico.com/en/getting-started/preliminaries/api-reference-beta/marketplace/approve.md
  /payment/pay-with-iyzico/initialize:
    post:
      summary: Pay with iyzico (PWI) — Initialize
      description: Starts a PWI session; returns the token and page URL for redirection.
      tags:
      - Pay with iyzico
      parameters:
      - $ref: '#/components/parameters/AuthHeader6'
      - $ref: '#/components/parameters/ContentTypeHeader6'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PwiInitializeRequest'
      responses:
        '200':
          description: Successful response (PWI initialized)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PwiInitializeResponse'
        '400':
          description: Bad request / validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse10'
      x-iyzico-source: https://docs.iyzico.com/en/getting-started/preliminaries/api-reference-beta/payment-methods/pay-with-iyzico.md
  /payment/postauth:
    post:
      tags:
      - Ön Provizyon
      summary: Provizyon Kapama (PostAuth)
      description: 'Başarılı şekilde ön provizyonu alınmış bir ödemeyi **satışa çevirir**.

        '
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader8'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAuthRequest'
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAuthResponse'
      x-iyzico-source: https://docs.iyzico.com/odeme-metotlari/on-provizyon/on-provizyon-entegrasyonu/provizyon-kapama.md
  /payment/preauth:
    post:
      summary: Create Non3D Payment
      description: 3D Secure olmadan ödeme başlatır.
      tags:
      - Non3D Payment
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader7'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - paidPrice
              - price
              - currency
              - paymentCard
              - buyer
              - shippingAddress
              - billingAddress
              - basketItems
              properties:
                conversationId:
                  type: string
                  description: İstek/yanıt eşleştirmesi için benzersiz ID.
                locale:
                  type: string
                  description: Dil kodu. Alabileceği değerler; tr, en. Default; tr
                  enum:
                  - tr
                  - en
                paidPrice:
                  type: string
                  description: Kullanıcıdan tahsil edilecek toplam tutar.
                  format: decimal
                price:
                  type: string
                  description: Sepet toplam tutarı.
                  format: decimal
                paymentGroup:
                  type: string
                  description: Ödeme grubu. Default; PRODUCT.
                  enum:
                  - PRODUCT
                  - LISTING
                  - SUBSCRIPTION
                currency:
                  type: string
                  description: Para birimi. Default; TRY.
                  enum:
                  - TRY
                  - USD
                  - EUR
                  - GBP
                  - NOK
                  - CHF
                installment:
                  type: integer
                  description: Taksit sayısı. Gönderilmezse tek çekim (1) olarak işlem sağlanılabilir.
                  enum:
                  - 1
                  - 2
                  - 3
                  - 6
                  - 9
                  - 12
                basketId:
                  type: string
                  description: Sepet ID’si.
                paymentChannel:
                  type: string
                  description: Ödeme kanalı.
                  enum:
                  - WEB
                  - MOBILE
                  - MOBILE_WEB
                  - MOBILE_IOS
                  - MOBILE_ANDROID
                  - MOBILE_WINDOWS
                  - MOBILE_TABLET
                  - MOBILE_PHONE
                paymentCard:
                  description: Kart Bilgileri.
                  $ref: '#/components/schemas/PaymentCard'
                buyer:
                  description: Alıcı Bilgileri.
                  $ref: '#/components/schemas/Buyer2'
                shippingAddress:
                  description: Kargo Adresi. Sepetteki ürünlerden en az bir tanesinin, itemType "PHYSICAL"
                    olması durumunda gönderilmesi zorunludur. Tüm ürünler "VIRTUAL" olduğu taktirde gönderilmesi
                    gerekmez.
                  $ref: '#/components/schemas/Address3'
                billingAddress:
                  description: Fatura Adresi.
                  $ref: '#/components/schemas/Address3'
                basketItems:
                  type: array
                  description: Sepetteki ürünler.
                  items:
                    $ref: '#/components/schemas/BasketItem2'
                paymentSource:
                  type: string
                  description: Bu alan, partner firmalar tarafından iletilen ödeme kaynağı bilgisidir.
                    Eğer bir altyapı sağlayıcısıysanız ve iyzico ile entegrasyon/iş birliğiniz bulunuyorsa
                    bu parametreyi gönderebilirsiniz.
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse2'
        '400':
          description: Hatalı istek / doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse13'
      x-iyzico-source: https://docs.iyzico.com/odeme-metotlari/on-provizyon/on-provizyon-entegrasyonu/provizyon-baslatma/non3d.md
  /payment/refund:
    post:
      summary: İade
      description: 'Ödeme işleminin iadesi için kullanılır. İade işlemi **paymentTransactionId** üzerinden,
        ödeme kırılımı baz alınarak yapılır. Ödeme tutarı için **tamamen** ya da **kısmi** iade yapılabilir.

        '
      tags:
      - Ödeme
      parameters:
      - $ref: '#/components/parameters/AuthHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundPaymentRequest'
      responses:
        '200':
          description: Başarılı yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundPaymentResponse'
        '400':
          description: Başarısız yanıt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-iyzico-source: https://docs.iyzico.com/ek-servisler/iptal-ve-iade.md
  /payment/v2/3dsecure/auth:
    post:
      summary: Create 3DS v2 Payment
      description: After the verification step, both the v1 and the new-generation v2 endpoints can be
        used to finalize the payment. However, to align with more advanced and secure technologies, the
        use of the v2 endpoint is recommended.
      tags:
      - 3DS Payment
      parameters:
      - $ref: '#/components/parameters/AuthHeader5'
      - $ref: '#/components/parameters/ContentTypeHeader3'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDSV2AuthRequest'
      responses:
        '200':
          description: Successful response (payment completed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDSV2PaymentResponse'
        '400':
          description: Invalid request / validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse8'
      x-iyzico-source: https://docs.iyzico.com/en/getting-started/preliminaries/api-reference-beta/payment-methods/api-3ds.md
  /v2/payment/refund:
    post:
      summary: Refund V2
      description: 'Enables refunds over **paymentId**. No item breakdown is required; the system determines
        the basket item to refund. You can perform a **full** or **partial** refund for the payment amount.

        '
      tags:
      - Payment
      parameters:
      - $ref: '#/components/parameters/AuthHeader2'
      - $ref: '#/components/parameters/ContentTypeHeader4'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundPaymentV2Request'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundPaymentV2Response'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
      x-iyzico-source: https://docs.iyzico.com/en/advanced/refund-and-cancel.md
components:
  parameters:
    AuthHeader:
      name: Authorization
      in: header
      required: true
      description: Authorization header, IYZWSv2 ile başlayan ve base64 formatında üretilmiş imzalı hash
        değeridir.
      schema:
        type: string
    ContentTypeHeader:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
      description: İstek içeriğinin formatı.
    AuthHeader2:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
      description: Authorization header; a signed hash value that starts with **IYZWSv2** and is generated
        in Base64 format.
    ContentTypeHeader2:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
      description: Media type of the request body.
    AuthHeader3:
      name: Authorization
      in: header
      required: true
      description: Authorization header that starts with IYZWSv2 and contains a Base64-encoded signed
        hash.
      schema:
        type: string
    ContentTypeHeader3:
      name: Content-Type
      in: header
      required: true
      description: Content-Type value.
      schema:
        type: string
    ContentTypeHeader4:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
      description: Content type of the request body.
    AuthHeader4:
      name: Authorization
      in: header
      required: true
      description: Authorization header starting with IYZWSv2 and a signed hash value encoded in base64.
      schema:
        type: string
    ContentTypeHeader5:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
      description: Request body content type.
    AuthHeader5:
      name: Authorization
      in: header
      required: true
      description: Authorization header; a signed Base64-encoded hash that starts with IYZWSv2.
      schema:
        type: string
    AuthHeader6:
      name: Authorization
      in: header
      required: true
      description: Authorization header; starts with IYZWSv2 and is a signed hash in Base64.
      schema:
        type: string
    ContentTypeHeader6:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
    ContentTypeHeader7:
      name: Content-Type
      in: header
      required: true
      description: Content-Type değeri.
      schema:
        type: string
    ContentTypeHeader8:
      name: Content-Type
      in: header
      required: true
      description: İçerik tipi.
      schema:
        type: string
  schemas:
    Address:
      type: object
      required:
      - address
      - contactName
      - city
      - country
      properties:
        address:
          type: string
          description: Full address.
        zipCode:
          type: string
          description: Zip / postal code.
        contactName:
          type: string
          description: Contact person.
        city:
          type: string
          description: City.
        country:
          type: string
          description: Country.
    Address2:
      type: object
      required:
      - address
      - contactName
      - city
      - country
      properties:
        address:
          type: string
          description: Tam adres.
        zipCode:
          type: string
          description: Posta kodu.
        contactName:
          type: string
          description: İletişim adı.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
    Address3:
      type: object
      required:
      - address
      - contactName
      - city
      - country
      properties:
        address:
          type: string
          description: Tam adres.
        zipCode:
          type: string
          description: Posta kodu.
        contactName:
          type: string
          description: İlgili kişi.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
    BINCheckRequest:
      type: object
      required:
      - binNumber
      properties:
        locale:
          type: string
          description: Language preference used in requests and responses.
          enum:
          - tr
          - en
        binNumber:
          type: string
          description: BIN to query (8 digits).
        conversationId:
          type: string
          description: Request/response correlation ID. The value sent in the request is returned as-is
            in the response.
    BINCheckResponse:
      type: object
      properties:
        binNumber:
          type: string
          description: Queried BIN.
        cardType:
          type: string
          description: Card type.
          enum:
          - CREDIT_CARD
          - DEBIT_CARD
          - PREPAID_CARD
        cardAssociation:
          type: string
          description: Card scheme.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
          - TROY
        cardFamily:
          type: string
          description: Card family.
          enum:
          - Bonus
          - Axess
          - World
          - Maximum
          - Paraf
          - Enpara Bank DC
          - QNB CC
          - QNB DC
          - Ziraat Bankası DC
          - BankkartCombo
          - Albaraka Türk DC
          - Vakıfbank DC
          - Neo
          - Paracard
          - TEB DC
          - Kuveyt Türk CC
          - Kuveyt Türk DC
          - Shop&Fly
          - Halkbank DC
          - Papara Card
          - Tlcard
          - Tosla
          - Bankamatik
          - ING Bank DC
          - Sipay DC
          - T.O.M.Kt.Bnk.A.Ş. CC
          - Turk Telekom
          - PTT DC
          - Miles&Smiles
          - Denizbank DC
        bankName:
          type: string
          description: Bank name.
        bankCode:
          type: integer
          description: Bank code.
        commercial:
          type: integer
          description: Commercial card flag (0; Personal, 1; Commercial).
          enum:
          - 0
          - 1
        status:
          type: string
          description: Result of the request.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Response language.
        systemTime:
          type: integer
          description: Operation time (epoch ms).
        conversationId:
          type: string
          description: Correlation ID matching the request.
    BaseResponse:
      type: object
      description: Standard response fields.
      properties:
        status:
          type: string
          description: It shows the result of the request.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Response language.
          enum:
          - tr
          - en
        systemTime:
          type: integer
          description: Operation time (epoch ms).
        conversationId:
          type: string
          description: If sent in the request, echoed back in the response for correlation.
        price:
          type: string
          description: Basket total amount.
          format: decimal
        paidPrice:
          type: string
          description: Total amount charged.
          format: decimal
        installment:
          type: integer
          description: Installment count.
        paymentId:
          type: string
          description: Payment ID.
        fraudStatus:
          type: integer
          description: 'Payment status based on fraud filters. If the fraud risk score is low, the payment
            is approved immediately; if high, it is rejected.

            - **1**: Approved.

            - **0**: Under review — wait for notification.

            - **-1**: Rejected.

            '
          enum:
          - 0
          - -1
          - 1
        merchantCommissionRate:
          type: string
          description: Merchant’s own installment/commission rate. If `price=100` and `paidPrice=110`,
            the merchant rate is 10%. Informational.
          format: decimal
        merchantCommissionRateAmount:
          type: string
          description: Merchant’s own commission amount (e.g., 10 in the example above). Informational.
          format: decimal
        iyziCommissionRateAmount:
          type: string
          description: iyzico commission rate amount.
          format: decimal
        iyziCommissionFee:
          type: string
          description: iyzico transaction fee for the payment.
          format: decimal
        cardType:
          type: string
          description: Card type.
          enum:
          - CREDIT_CARD
          - DEBIT_CARD
          - PREPAID_CARD
        cardAssociation:
          type: string
          description: Card association.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
        cardFamily:
          type: string
          description: Card family.
          enum:
          - Bonus
          - Axess
          - World
          - Maximum
          - Paraf
          - Enpara Bank DC
          - QNB CC
          - QNB DC
          - Ziraat Bankası DC
          - BankkartCombo
          - Albaraka Türk DC
          - Vakıfbank DC
          - Neo
          - Paracard
          - TEB DC
          - Kuveyt Türk CC
          - Kuveyt Türk DC
          - Shop&Fly
          - Halkbank DC
          - Papara Card
          - Tlcard
          - Tosla
          - Bankamatik
          - ING Bank DC
          - Sipay DC
          - T.O.M.Kt.Bnk.A.Ş. CC
          - Turk Telekom
          - PTT DC
          - Miles&Smiles
          - Denizbank DC
        binNumber:
          type: string
          description: BIN (first 8 digits).
        lastFourDigits:
          type: string
          description: Last 4 digits of the card.
        basketId:
          type: string
          description: Basket ID.
        currency:
          type: string
          enum:
          - TRY
          - USD
          - EUR
          - NOK
          - CHF
          - GBP
        itemTransactions:
          type: array
          items:
            $ref: '#/components/schemas/ItemTransaction'
        authCode:
          type: string
          description: Authorization code.
        phase:
          type: string
        hostReference:
          type: string
          description: Bank-provided hostReference value for the payment.
        signature:
          type: string
          description: Signature value that can be used for verification.
    BasketItem:
      type: object
      required:
      - id
      - price
      - name
      - category1
      - itemType
      properties:
        id:
          type: string
          description: Product ID.
        price:
          type: string
          description: Product price.
          format: decimal
        name:
          type: string
          description: Product name.
        category1:
          type: string
          description: Primary category.
        category2:
          type: string
          description: Secondary category (optional).
        itemType:
          type: string
          description: Item type.
          enum:
          - PHYSICAL
          - VIRTUAL
        subMerchantKey:
          type: string
          description: Sub-merchant key for the service provider. Not used in the standard business model;
            required only for marketplace model.
        subMerchantPrice:
          type: string
          description: Amount to be transferred to the sub-merchant. Not used in the standard business
            model; required only for marketplace model.
          format: decimal
        withholdingTax:
          type: string
          description: 'Withholding tax amount. If the marketplace withholds tax from the sub-merchant
            payout and wants it to appear in the payment result and **Payout Report**, `withholdingTax`
            must be sent. (Recorded for information only; iyzico does not calculate it.)

            '
          format: decimal
    BasketItem2:
      type: object
      required:
      - id
      - price
      - name
      - category1
      - itemType
      properties:
        id:
          type: string
          description: Ürün ID.
        price:
          type: string
          description: Ürün fiyatı.
          format: decimal
        name:
          type: string
          description: Ürün adı.
        category1:
          type: string
          description: Ana kategori.
        category2:
          type: string
          description: Alt kategori (opsiyonel).
        itemType:
          type: string
          description: Ürün tipi.
          enum:
          - PHYSICAL
          - VIRTUAL
        subMerchantKey:
          type: string
          description: Hizmeti veren alt üye işyerine ait, alt üye işyeri anahtarı bilgisi. Standart iş
            modelinde gönderilmez. Sadece pazaryeri iş modelinde gönderilmesi gerekmektedir.
        subMerchantPrice:
          type: string
          description: Alt üye işyerine aktarılacak tutar. Standart iş modelinde gönderilmez. Sadece pazaryeri
            iş modelinde gönderilmesi gerekmektedir.
    Buyer:
      type: object
      required:
      - id
      - name
      - surname
      - identityNumber
      - email
      - gsmNumber
      - registrationAddress
      - city
      - country
      properties:
        id:
          type: string
          description: Buyer ID.
        name:
          type: string
          description: First name.
        surname:
          type: string
          description: Last name.
        identityNumber:
          type: string
          description: National ID number (Türkiye).
        email:
          type: string
          description: Email.
        gsmNumber:
          type: string
          description: Phone number.
        registrationDate:
          type: string
          description: Registration date (yyyy-MM-dd HH:mm:ss).
        lastLoginDate:
          type: string
          description: Last login date (yyyy-MM-dd HH:mm:ss).
        registrationAddress:
          type: string
          description: Address.
        city:
          type: string
          description: City.
        country:
          type: string
          description: Country.
        zipCode:
          type: string
          description: Zip / postal code.
        ip:
          type: string
          description: IP address.
    Buyer2:
      type: object
      required:
      - id
      - name
      - surname
      - identityNumber
      - email
      - gsmNumber
      - registrationAddress
      - city
      - country
      properties:
        id:
          type: string
          description: Müşteri ID’si.
        name:
          type: string
          description: Adı.
        surname:
          type: string
          description: Soyadı.
        identityNumber:
          type: string
          description: TC Kimlik Numarası.
        email:
          type: string
          description: E-posta.
        gsmNumber:
          type: string
          description: Telefon numarası.
        registrationDate:
          type: string
          description: Kayıt tarihi (yyyy-MM-dd HH:mm:ss).
        lastLoginDate:
          type: string
          description: Son giriş tarihi (yyyy-MM-dd HH:mm:ss).
        registrationAddress:
          type: string
          description: Adres.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
        zipCode:
          type: string
          description: Posta kodu.
        ip:
          type: string
          description: IP adresi.
    Buyer3DS:
      type: object
      required:
      - id
      - name
      - surname
      - identityNumber
      - email
      - gsmNumber
      - registrationAddress
      - city
      - country
      properties:
        id:
          type: string
          description: Müşteri ID’si.
        name:
          type: string
          description: Ad.
        surname:
          type: string
          description: Soyad.
        identityNumber:
          type: string
          description: Kimlik numarası.
        email:
          type: string
          description: E-posta.
        gsmNumber:
          type: string
          description: Cep telefonu.
        registrationDate:
          type: string
          description: Kayıt tarihi (YYYY-MM-DD hh:mm:ss).
        lastLoginDate:
          type: string
          description: Son giriş tarihi (YYYY-MM-DD hh:mm:ss).
        registrationAddress:
          type: string
          description: Kayıtlı adres.
        city:
          type: string
          description: Şehir kodu/adı.
        country:
          type: string
          description: Ülke.
        zipCode:
          type: string
          description: Posta kodu.
        ip:
          type: string
          description: IP adresi.
    BuyerCF:
      type: object
      required:
      - id
      - name
      - surname
      - identityNumber
      - email
      - gsmNumber
      - registrationAddress
      - city
      - country
      properties:
        id:
          type: string
          description: Müşteri ID’si.
        name:
          type: string
          description: Ad.
        surname:
          type: string
          description: Soyad.
        identityNumber:
          type: string
          description: Kimlik numarası.
        email:
          type: string
          description: E-posta.
        gsmNumber:
          type: string
          description: Cep telefonu.
        registrationDate:
          type: string
          description: Kayıt tarihi (YYYY-MM-DD hh:mm:ss).
        lastLoginDate:
          type: string
          description: Son giriş tarihi (YYYY-MM-DD hh:mm:ss).
        registrationAddress:
          type: string
          description: Kayıtlı adres.
        city:
          type: string
          description: Şehir.
        country:
          type: string
          description: Ülke.
        zipCode:
          type: string
          description: Posta kodu.
        ip:
          type: string
          description: IP adresi.
    CFInitializeRequest:
      type: object
      required:
      - price
      - paidPrice
      - currency
      - callbackUrl
      - buyer
      - shippingAddress
      - billingAddress
      - basketItems
      properties:
        locale:
          type: string
          description: Dil kodu. Varsayılan; tr. Ödeme formunun İngilizce oluşturulması için "en" gönderilmelidir.
          enum:
          - tr
          - en
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si. İstekte gönderilen değer, response'da aynen geri
            döner.
        price:
          type: string
          description: Sepet toplamı.
          format: decimal
        paidPrice:
          type: string
          description: Tahsil edilecek toplam tutar.
          format: decimal
        currency:
          type: string
          description: Para birimi. Varsayılan; TRY.
          enum:
          - TRY
          - USD
          - EUR
          - GBP
          - NOK
          - CHF
        basketId:
          type: string
          description: Sepet ID’si.
        paymentGroup:
          type: string
          description: Ödeme grubu. Varsayılan; PRODUCT.
          enum:
          - PRODUCT
          - LISTING
          - SUBSCRIPTION
        callbackUrl:
          type: string
          description: Ödeme akışında üye işyerine başarılı ve hatalı sonucu bildirmek üzere alınan URL
            adresi. Geçerli bir ssl sertifikasına sahip olmalıdır.
        enabledInstallments:
          type: array
          description: Kullanılabilir taksit seçenekleri.
          items:
            type: integer
        buyer:
          description: Alıcı Bilgileri
          $ref: '#/components/schemas/BuyerCF'
        shippingAddress:
          description: Teslimat Adresi. Sepetteki ürünlerden en az bir tanesi PHYSICAL ise zorunludur.
            Tüm ürünler VIRTUAL ise gönderilmesi gerekmez.
          $ref: '#/components/schemas/Address2'
        billingAddress:
          description: Fatura Adresi
          $ref: '#/components/schemas/Address2'
        basketItems:
          type: array
          description: Sepetteki ürünler.
          items:
            $ref: '#/components/schemas/BasketItem2'
        paymentSource:
          type: string
          description: Bu alan, partner firmalar tarafından iletilen ödeme kaynağı bilgisidir. Eğer bir
            altyapı sağlayıcısıysanız ve iyzico ile entegrasyon/iş birliğiniz bulunuyorsa bu parametreyi
            gönderebilirsiniz.
    CFInitializeRequest2:
      type: object
      required:
      - price
      - paidPrice
      - currency
      - callbackUrl
      - buyer
      - shippingAddress
      - billingAddress
      - basketItems
      properties:
        locale:
          type: string
          description: Dil kodu. Varsayılan; tr. Ödeme formunun İngilizce oluşturulması için "en" gönderilmelidir.
          enum:
          - tr
          - en
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si. İstekte gönderilen değer, response'da aynen geri
            döner.
        price:
          type: string
          description: Sepet toplamı.
          format: decimal
        paidPrice:
          type: string
          description: Tahsil edilecek toplam tutar.
          format: decimal
        currency:
          type: string
          description: Para birimi. Varsayılan; TRY.
          enum:
          - TRY
          - USD
          - EUR
          - GBP
          - NOK
          - CHF
        basketId:
          type: string
          description: Sepet ID’si.
        paymentGroup:
          type: string
          description: Ödeme grubu. Varsayılan; PRODUCT.
          enum:
          - PRODUCT
          - LISTING
          - SUBSCRIPTION
        callbackUrl:
          type: string
          description: Ödeme akışında üye işyerine başarılı ve hatalı sonucu bildirmek üzere alınan URL
            adresi. Geçerli bir ssl sertifikasına sahip olmalıdır.
        enabledInstallments:
          type: array
          description: Kullanılabilir taksit seçenekleri.
          items:
            type: integer
        buyer:
          description: Alıcı Bilgileri
          $ref: '#/components/schemas/BuyerCF'
        shippingAddress:
          description: Teslimat Adresi. Sepetteki ürünlerden en az bir tanesi PHYSICAL ise zorunludur.
            Tüm ürünler VIRTUAL ise gönderilmesi gerekmez.
          $ref: '#/components/schemas/Address2'
        billingAddress:
          description: Fatura Adresi
          $ref: '#/components/schemas/Address2'
        basketItems:
          type: array
          description: Sepetteki ürünler.
          items:
            $ref: '#/components/schemas/BasketItem2'
        paymentSource:
          type: string
          description: Bu alan, partner firmalar tarafından iletilen ödeme kaynağı bilgisidir. Eğer bir
            altyapı sağlayıcısıysanız ve iyzico ile entegrasyon/iş birliğiniz bulunuyorsa bu parametreyi
            gönderebilirsiniz.
    CFInitializeResponse:
      type: object
      properties:
        status:
          type: string
          description: Gönderilen isteğin sonucu.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili.
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
        token:
          type: string
          description: Checkout form için oluşturulan tekil değer. Her istek için özel üretilir ve işyerine
            dönülür. Ödemenin sonucunu öğrenmek için zorunlu bir alandır.
        checkoutFormContent:
          type: string
          description: Ödeme formunun HTML içeriği (Base64 kodlu).
        paymentPageUrl:
          type: string
          description: iyzico Ortak Ödeme Sayfası için dönen URL adresi.
        signature:
          type: string
          description: İmza doğrulaması için kullanılabilecek signature değeri.
    CancelPaymentRequest:
      type: object
      required:
      - paymentId
      properties:
        paymentId:
          type: string
          description: İptal edilmek istenen ödeme işlemine ait iyzico tarafından verilen **uniq ödeme
            numarası**.
        conversationId:
          type: string
          description: İstek/yanıt eşleştirmesi için **uniq ID**. İstekte gönderilen değer yanıtta aynen
            geri döner.
        ip:
          type: string
          description: İşlemin gönderildiği IP adresi.
        locale:
          type: string
          enum:
          - tr
          - en
          description: iyzico istek sonucunda dönen metinlerin dilini ayarlamak için kullanılır.
        reason:
          type: string
          description: İptal Nedeni. İptal açıklaması gönderilirse, gönderilmesi zorunlu bir bilgidir.
          enum:
          - OTHER
          - FRAUD
          - BUYER_REQUEST
          - DOUBLE_PAYMENT
        description:
          type: string
          description: İptal açıklaması.
    CancelPaymentResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - failure
          description: Yapılan isteğin sonucunu belirtir.
        locale:
          type: string
          enum:
          - tr
          - en
          description: Yanıt dili.
        systemTime:
          type: integer
          description: Dönen sonucun o anki **epoch ms** değeridir.
        conversationId:
          type: string
          description: İstekte gönderilen conversationId değeri aynen geri döner.
        paymentId:
          type: string
          description: İptal edilen ödeme numarası.
        price:
          type: string
          description: İptal edilen ödeme tutarı.
          format: decimal
        currency:
          type: string
          description: Para birimi (ödemenin yapıldığı para birimi).
        authCode:
          type: string
          description: Banka tarafından dönen yetkilendirme (auth) kodu.
        hostReference:
          type: string
          description: İşlem referans değeri.
        cancelHostReference:
          type: string
          description: İptal işlemine ait referans değeri.
    ConvertedPayout:
      type: object
      description: Post-conversion calculations per line item.
      properties:
        paidPrice:
          type: string
          description: Distribution of the collected amount for this line. Must be stored by the merchant.
          format: decimal
        iyziCommissionFee:
          type: string
          description: Distributed iyzico transaction fee for this line.
          format: decimal
        iyziCommissionRateAmount:
          type: string
          description: Distributed iyzico commission amount for this line.
          format: decimal
        blockageRateAmountMerchant:
          type: string
          description: Portion of the blockage amount reflected to the merchant for this line.
          format: decimal
        blockageRateAmountSubMerchant:
          type: string
        subMerchantPayoutAmount:
          type: string
        merchantPayoutAmount:
          type: string
          description: Amount to be sent to the merchant after fees/commissions/blockages.
          format: decimal
        iyziConversationRate:
          type: string
          description: Conversion rate.
          format: decimal
        iyziConversationRateAmount:
          type: string
          description: Amount after applying the conversion rate.
          format: decimal
        currency:
          type: string
          enum:
          - TRY
          - USD
          - EUR
          - GBP
          - NOK
          - CHF
    ConvertedPayout2:
      type: object
      description: Dönüştürülmüş (varsa kur/komisyon sonrası) payout bilgileri.
      properties:
        paidPrice:
          type: string
          description: Dönüştürülmüş tahsilat tutarı.
          format: decimal
        iyziCommissionRateAmount:
          type: string
          description: Dönüştürülmüş iyzico komisyon tutarı.
          format: decimal
        iyziCommissionFee:
          type: string
          description: Dönüştürülmüş iyzico işlem ücreti.
          format: decimal
        blockageRateAmountMerchant:
          type: string
          description: Dönüştürülmüş üye işyeri bloke tutarı.
          format: decimal
        blockageRateAmountSubMerchant:
          type: string
          description: Dönüştürülmüş alt üye işyeri bloke tutarı.
          format: decimal
        subMerchantPayoutAmount:
          type: string
          description: Dönüştürülmüş alt üye işyeri hakediş tutarı.
          format: decimal
        merchantPayoutAmount:
          type: string
          description: Dönüştürülmüş üye işyeri hakediş tutarı.
          format: decimal
        iyziConversionRate:
          type: string
          description: Kullanılan dönüşüm kuru (varsa).
          format: decimal
        iyziConversionRateAmount:
          type: string
          description: Kur dönüşümüne karşılık gelen tutar (varsa).
          format: decimal
        currency:
          type: string
          description: Payout para birimi.
          enum:
          - TRY
          - USD
          - EUR
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - failure
          description: İstek sonucunu ifade eder (başarısız).
        errorCode:
          type: string
          description: Hata kodu.
        errorMessage:
          type: string
          description: Hata mesajı.
        locale:
          type: string
          enum:
          - tr
          - en
          description: Yanıt dili.
        systemTime:
          type: integer
          description: Dönen sonucun o anki **epoch ms** değeridir.
        conversationId:
          type: string
          description: İstekte gönderilen conversationId.
        paymentId:
          type: string
          description: İlgili ödeme numarası (varsa).
        paymentTransactionId:
          type: string
          description: İlgili ödeme kırılımı numarası (varsa).
        price:
          type: string
          description: İlgili tutar (varsa).
          format: decimal
        retryable:
          type: boolean
          description: İşlemin tekrar denenebilir olup olmadığı.
    ErrorResponse10:
      type: object
      properties:
        status:
          type: string
          description: Success/failure indicator.
        errorCode:
          type: string
          description: Error code.
        errorMessage:
          type: string
          description: Error message.
        locale:
          type: string
          description: Response language.
          enum:
          - tr
          - en
        systemTime:
          type: integer
          description: Timestamp (epoch ms).
        conversationId:
          type: string
          description: Correlation ID of the request.
    ErrorResponse11:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucunu bildirir.
          enum:
          - success
          - failure
        errorCode:
          type: string
          description: Hata kodu.
        errorMessage:
          type: string
          description: Hata mesajı.
        locale:
          type: string
          description: Yanıt dili.
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
    ErrorResponse12:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucu.
          enum:
          - success
          - failure
        errorCode:
          type: string
          description: Hata kodu.
        errorMessage:
          type: string
          description: Hata mesajı.
        locale:
          type: string
          description: Yanıt dili.
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
    ErrorResponse13:
      type: object
      properties:
        status:
          type: string
          description: Hata/başarı bilgisi.
        errorCode:
          type: string
          description: Hata kodu.
        errorMessage:
          type: string
          description: Hata mesajı.
        errorGroup:
          type: string
          description: Hata grubu.
        locale:
          type: string
          description: Dil kodu.
        systemTime:
          type: integer
          description: Sistem zamanı.
        conversationId:
          type: string
          description: İstek/yanıt eşleştirme ID’si.
    ErrorResponse2:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          errorCode:
            type: string
            description: Code describing the error, if any.
          errorMessage:
            type: string
            description: Localized error message (depends on the `locale`).
          errorGroup:
            type: string
            description: Error category/group.
    ErrorResponse3:
      type: object
      properties:
        status:
          type: string
          description: Result of the request.
          enum:
          - success
          - failure
        errorCode:
          type: string
          description: Error code.
        errorMessage:
          type: string
          description: Error message.
        locale:
          type: string
          description: Response language.
        systemTime:
          type: integer
          description: Operation time (epoch ms).
        conversationId:
          type: string
          description: Correlation ID matching the request.
    ErrorResponse4:
      type: object
      properties:
        status:
          type: string
          enum:
          - failure
          description: Indicates the request result (failure).
        errorCode:
          type: string
          description: Error code.
        errorMessage:
          type: string
          description: Error message.
        locale:
          type: string
          enum:
          - tr
          - en
          description: Response language.
        systemTime:
          type: integer
          description: Current **epoch ms** at the time of response.
        conversationId:
          type: string
          description: conversationId sent in the request.
        paymentId:
          type: string
          description: Related payment id (if any).
        paymentTransactionId:
          type: string
          description: Related payment transaction id (if any).
        price:
          type: string
          description: Related amount (if any).
          format: decimal
        retryable:
          type: boolean
          description: Whether the operation can be retried.
    ErrorResponse5:
      type: object
      properties:
        status:
          type: string
          description: Success/failure info.
        errorCode:
          type: string
          description: Error code.
        errorMessage:
          type: string
          description: Error message.
        errorGroup:
          type: string
          description: Error group.
        locale:
          type: string
          description: Language code.
        systemTime:
          type: integer
          description: System time.
        conversationId:
          type: string
          description: Request/response matching ID.
    ErrorResponse6:
      type: object
      properties:
        status:
          type: string
          enum:
          - failure
        errorCode:
          type: string
        errorMessage:
          type: string
        locale:
          type: string
          enum:
          - tr
          - en
        systemTime:
          type: integer
        conversationId:
          type: string
    ErrorResponse7:
      type: object
      properties:
        status:
          type: string
          description: Result of the request.
          enum:
          - success
          - failure
        errorCode:
          type: string
          description: Error code.
        errorMessage:
          type: string
          description: Error message.
        locale:
          type: string
          description: Response language.
        systemTime:
          type: integer
          description: Operation time (epoch ms).
        conversationId:
          type: string
          description: ID matching the request.
    ErrorResponse8:
      type: object
      properties:
        status:
          type: string
          description: Result of the request.
          enum:
          - success
          - failure
        errorCode:
          type: string
          description: Error code.
        errorMessage:
          type: string
          description: Error message.
        locale:
          type: string
          enum:
          - tr
          - en
          description: Response language.
        systemTime:
          type: integer
          description: Timestamp (epoch ms).
        conversationId:
          type: string
          description: ID matching the request.
    ErrorResponse9:
      type: object
      properties:
        status:
          type: string
          description: Success/failure indicator.
          enum:
          - success
          - failure
        errorCode:
          type: string
          description: Error code.
        errorMessage:
          type: string
          description: Error message.
        locale:
          type: string
          description: Response language.
          enum:
          - tr
          - en
        systemTime:
          type: integer
          description: Timestamp (epoch ms).
        conversationId:
          type: string
          description: Correlation ID of the request.
    InstallmentDetail:
      type: object
      properties:
        binNumber:
          type: string
          description: BIN used in the calculation.
        price:
          type: number
          format: decimal
          description: Amount used in the calculation.
        cardType:
          type: string
          description: Card type.
          enum:
          - CREDIT_CARD
          - DEBIT_CARD
          - PREPAID_CARD
        cardAssociation:
          type: string
          description: Card scheme.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
          - TROY
        cardFamilyName:
          type: string
          enum:
          - Bonus
          - Axess
          - World
          - Maximum
          - Paraf
          - Enpara Bank DC
          - QNB CC
          - QNB DC
          - Ziraat Bankası DC
          - BankkartCombo
          - Albaraka Türk DC
          - Vakıfbank DC
          - Neo
          - Paracard
          - TEB DC
          - Kuveyt Türk CC
          - Kuveyt Türk DC
          - Shop&Fly
          - Halkbank DC
          - Papara Card
          - Tlcard
          - Tosla
          - Bankamatik
          - ING Bank DC
          - Sipay DC
          - T.O.M.Kt.Bnk.A.Ş. CC
          - Turk Telekom
          - PTT DC
          - Miles&Smiles
          - Denizbank DC
          description: Card family.
        force3ds:
          type: integer
          description: 3DS requirement (0; No, 1; Yes).
          enum:
          - 0
          - 1
        bankCode:
          type: integer
          description: Bank code.
        bankName:
          type: string
          description: Bank name.
        forceCvc:
          type: integer
          description: CVC requirement (0; No, 1; Yes).
          enum:
          - 0
          - 1
        commercial:
          type: integer
          description: Commercial card flag (0; Personal, 1; Commercial).
          enum:
          - 0
          - 1
        dccEnabled:
          type: integer
          description: DCC (Dynamic Currency Conversion) support (0; No, 1; Yes).
          enum:
          - 0
          - 1
        agricultureEnabled:
          type: integer
          description: Agricultural card flag (0; No, 1; Yes).
          enum:
          - 0
          - 1
        installmentPrices:
          type: array
          description: Installment options and prices.
          items:
            $ref: '#/components/schemas/InstallmentPrice'
    InstallmentPrice:
      type: object
      properties:
        installmentPrice:
          type: number
          format: decimal
          description: Amount per installment.
        totalPrice:
          type: number
          format: decimal
          description: Total amount with installments.
        installmentNumber:
          type: integer
          description: Number of installments.
    InstallmentRequest:
      type: object
      required:
      - price
      properties:
        locale:
          type: string
          description: Language preference used in requests and responses.
          enum:
          - tr
          - en
        price:
          type: number
          format: decimal
          description: Amount for installment calculation.
        binNumber:
          type: string
          description: 8-digit card BIN. If provided, suitability is returned per card/bank. If omitted,
            installment rates can be returned based on the amount only.
        conversationId:
          type: string
          description: Request/response correlation ID. The value sent in the request is returned as-is
            in the response.
    InstallmentResponse:
      type: object
      properties:
        status:
          type: string
          description: Result of the request.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Response language.
        systemTime:
          type: integer
          description: Operation time (epoch ms).
        conversationId:
          type: string
          description: Correlation ID matching the request.
        installmentDetails:
          type: array
          description: Installment options calculated according to BIN and amount.
          items:
            $ref: '#/components/schemas/InstallmentDetail'
    ItemActionResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - failure
        locale:
          type: string
          enum:
          - tr
          - en
        systemTime:
          type: integer
        conversationId:
          type: string
        paymentTransactionId:
          type: string
    ItemApproveRequest:
      type: object
      required:
      - paymentTransactionId
      properties:
        locale:
          type: string
          enum:
          - tr
          - en
        conversationId:
          type: string
        paymentTransactionId:
          type: string
          description: Split id to be approved.
    ItemDisapproveRequest:
      type: object
      required:
      - paymentTransactionId
      properties:
        locale:
          type: string
          enum:
          - tr
          - en
        conversationId:
          type: string
        paymentTransactionId:
          type: string
          description: Split id whose approval will be revoked.
    ItemPayoutUpdateRequest:
      type: object
      required:
      - paymentTransactionId
      - subMerchantPrice
      - subMerchantKey
      properties:
        locale:
          type: string
          enum:
          - tr
          - en
        conversationId:
          type: string
        paymentTransactionId:
          type: string
          description: Payment split id.
        subMerchantKey:
          type: string
          description: Submerchant key.
        subMerchantPrice:
          type: number
          description: Amount to be transferred to the submerchant.
    ItemPayoutUpdateResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - failure
        locale:
          type: string
          enum:
          - tr
          - en
        systemTime:
          type: integer
        conversationId:
          type: string
        itemId:
          type: string
        paymentTransactionId:
          type: string
        transactionStatus:
          type: integer
        price:
          type: number
        paidPrice:
          type: number
        merchantCommissionRate:
          type: number
        merchantCommissionRateAmount:
          type: number
        iyziCommissionRateAmount:
          type: number
        iyziCommissionFee:
          type: number
        blockageRate:
          type: number
        blockageRateAmountMerchant:
          type: number
        blockageRateAmountSubMerchant:
          type: number
        blockageResolvedDate:
          type: string
        subMerchantKey:
          type: string
        subMerchantPrice:
          type: number
        subMerchantPayoutRate:
          type: number
        subMerchantPayoutAmount:
          type: number
        merchantPayoutAmount:
          type: number
        convertedPayout:
          type: object
          properties:
            paidPrice:
              type: number
            iyziCommissionRateAmount:
              type: number
            iyziCommissionFee:
              type: number
            blockageRateAmountMerchant:
              type: number
            blockageRateAmountSubMerchant:
              type: number
            subMerchantPayoutAmount:
              type: number
            merchantPayoutAmount:
              type: number
            iyziConversionRate:
              type: number
            iyziConversionRateAmount:
              type: number
            currency:
              type: string
    ItemTransaction:
      type: object
      description: Line items for basket transactions.
      properties:
        itemId:
          type: string
          description: Merchant-provided ID for the basket item.
        paymentTransactionId:
          type: string
          description: ID of the payment breakdown; must be stored by the merchant (used for refund/capture/approval
            and communication with iyzico).
        transactionStatus:
          type: integer
          description: 'Status of the payment breakdown.

            - **0**: Under fraud review

            - **-1**: Rejected after fraud review

            - **1**: Approved (In marketplace, 1 means "Awaiting Merchant Approval")

            - **2**: Approved (Marketplace approval given)

            '
          enum:
          - 0
          - -1
          - 1
          - 2
        price:
          type: string
          description: Item amount on the merchant side.
          format: decimal
        paidPrice:
          type: string
          description: Distribution of the collected amount for this line. Must be stored by the merchant.
          format: decimal
        installment:
          type: integer
          description: Installment count.
        blockageRate:
          type: string
          description: Merchant blockage rate for the line. Per agreement, iyzico may apply blockage to
            mitigate fraud risk.
          format: decimal
        blockageRateAmountMerchant:
          type: string
          description: Portion of the blockage amount reflected to the merchant for this line.
          format: decimal
        blockageRateAmountsubMerchant:
          type: string
          description: Blockage amount for the sub-merchant on this line.
          format: decimal
        blockageResolvedDate:
          type: string
          description: Blockage release date for the transaction. Format; yyyy-MM-dd HH:mm:ss (e.g., 2015-10-19
            14:36:52).
          enum:
          - '2015-10-19 14:36:52'
        iyziCommissionFee:
          type: string
          description: Distributed iyzico transaction fee for this line.
          format: decimal
        iyziCommissionRateAmount:
          type: string
          description: Distributed iyzico commission amount for this line.
          format: decimal
        merchantCommissionRate:
          type: string
          description: Distributed merchant commission rate for this line.
          format: decimal
        merchantCommissionRateAmount:
          type: string
          description: Distributed merchant commission amount for this line.
          format: decimal
        merchantPayoutAmount:
          type: string
          description: Amount to be sent to the merchant after fees/commissions/blockages.
          format: decimal
        subMerchantPrice:
          type: string
          description: Sub-merchant entitlement.
          format: decimal
        subMerchantPayoutRate:
          type: string
          description: Sub-merchant payout rate.
        subMerchantPayoutAmount:
          type: string
          description: Amount to be transferred to the sub-merchant.
          format: decimal
        convertedPayout:
          $ref: '#/components/schemas/ConvertedPayout'
    ItemTransaction2:
      type: object
      description: Sepet kalemi bazında kapama ve hakediş bilgileri.
      properties:
        itemId:
          type: string
          description: Ön provizyon isteğinde belirtilen, basketItemId değeri.
        paymentTransactionId:
          type: string
          description: iyzico tarafından üretilen, ödeme kırılımına ait ID değeri.
        transactionStatus:
          type: integer
          description: 'Kalem durumu:

            `0`=Fraud incelemesi,

            `-1`=Ret edildi.,

            `1`=Onay (pazaryeri için onay bekliyor statüsü.),

            `2`=Onaylandı.

            '
          enum:
          - 0
          - -1
          - 1
          - 2
        price:
          type: string
          description: Kalemin fiyatı.
          format: decimal
        paidPrice:
          type: string
          description: Bu kalem için tahsil edilen tutar.
          format: decimal
        merchantCommissionRate:
          type: string
          description: Üye işyeri komisyon oranı (kalem bazında).
          format: decimal
        merchantCommissionRateAmount:
          type: string
          description: Üye işyeri komisyon tutarı (kalem bazında).
          format: decimal
        iyziCommissionRateAmount:
          type: string
          description: iyzico komisyon tutarı (kalem bazında).
          format: decimal
        iyziCommissionFee:
          type: string
          description: iyzico işlem ücreti (kalem bazında).
          format: decimal
        blockageRate:
          type: string
          description: Bloke oranı.
          format: decimal
        blockageRateAmountMerchant:
          type: string
          description: Üye işyeri bloke tutarı.
          format: decimal
        blockageRateAmountSubMerchant:
          type: string
          description: Alt üye işyeri bloke tutarı.
          format: decimal
        blockageResolvedDate:
          type: string
          description: Blokenin çözümlendiği tarih (`YYYY-MM-DD hh:mm:ss`).
        subMerchantPrice:
          type: string
          description: Alt üye işyeri fiyatı (varsa).
          format: decimal
        subMerchantPayoutRate:
          type: string
          description: Alt üye işyeri ödeme oranı (varsa).
          format: decimal
        subMerchantPayoutAmount:
          type: string
          description: Alt üye işyeri hakediş tutarı.
          format: decimal
        merchantPayoutAmount:
          type: string
          description: Üye işyeri net hakediş tutarı (kalem bazında).
          format: decimal
        convertedPayout:
          $ref: '#/components/schemas/ConvertedPayout2'
    PaymentAuthSavedCardRequest:
      type: object
      description: Request to NON3D payment using a stored card.
      properties:
        locale:
          type: string
          description: Language code. Default; tr
          enum:
          - tr
          - en
        conversationId:
          type: string
          description: Unique ID for request/response correlation.
        paidPrice:
          type: string
          description: Total amount to be charged from the customer.
          format: decimal
        price:
          type: string
          description: Basket total amount.
          format: decimal
        installment:
          type: integer
          description: Installment count. If omitted, single installment (1) is used.
          enum:
          - 1
          - 2
          - 3
          - 6
          - 9
          - 12
        paymentChannel:
          type: string
          description: Payment channel.
          enum:
          - WEB
          - MOBILE
          - MOBILE_WEB
          - MOBILE_IOS
          - MOBILE_ANDROID
          - MOBILE_WINDOWS
          - MOBILE_TABLET
          - MOBILE_PHONE
        basketId:
          type: string
          description: Basket ID.
        paymentGroup:
          type: string
          description: Payment group. Default; PRODUCT.
          enum:
          - PRODUCT
          - LISTING
          - SUBSCRIPTION
        currency:
          type: string
          description: Currency. Default; TRY.
          enum:
          - TRY
          - USD
          - EUR
          - GBP
          - NOK
          - CHF
        paymentCard:
          $ref: '#/components/schemas/PaymentCardSaved'
        buyer:
          description: Buyer information.
          $ref: '#/components/schemas/Buyer'
        shippingAddress:
          description: Shipping Address. Required if at least one basket item is `PHYSICAL`. Not required
            if all items are `VIRTUAL`.
          $ref: '#/components/schemas/Address'
        billingAddress:
          description: Billing Address.
          $ref: '#/components/schemas/Address'
        basketItems:
          description: Basket items.
          type: array
          items:
            $ref: '#/components/schemas/BasketItem'
        paymentSource:
          type: string
          description: Bu alan, partner firmalar tarafından iletilen ödeme kaynağı bilgisidir. Eğer bir
            altyapı sağlayıcısıysanız ve iyzico ile entegrasyon/iş birliğiniz bulunuyorsa bu parametreyi
            gönderebilirsiniz.
      required:
      - price
      - paidPrice
      - paymentCard
      - buyer
      - shippingAddress
      - billingAddress
      - basketItems
    PaymentAuthSuccessResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
    PaymentCard:
      type: object
      required:
      - cardHolderName
      - cardNumber
      - expireYear
      - expireMonth
      - cvc
      properties:
        cardHolderName:
          type: string
          description: Kart sahibinin adı soyadı.
        cardNumber:
          type: string
          description: Kart numarası.
        expireYear:
          type: string
          description: Son kullanma yılı (YYYY formatında).
        expireMonth:
          type: string
          description: Son kullanma ayı (MM formatında).
        cvc:
          type: string
          description: CVC kodu.
        registerCard:
          type: integer
          description: Kart kaydedilsin mi? (0 = hayır, 1 = evet)
    PaymentCard3DS:
      type: object
      required:
      - cardHolderName
      - cardNumber
      - expireYear
      - expireMonth
      - cvc
      properties:
        cardHolderName:
          type: string
          description: Kart sahibi adı soyadı.
        cardNumber:
          type: string
          description: Kart numarası (PAN).
        expireYear:
          type: string
          description: Son kullanma yılı (YY ya da YYYY).
        expireMonth:
          type: string
          description: Son kullanma ayı (MM).
        cvc:
          type: string
          description: Kart güvenlik kodu.
        registerCard:
          type: integer
          description: Kart kaydedilsin mi? (0 = hayır, 1 = evet)
    PaymentCardSaved:
      type: object
      description: Token data for the card.
      properties:
        cardUserKey:
          type: string
          description: cardUserKey returned by iyzico after card storage.
        cardToken:
          type: string
          description: cardToken returned by iyzico for the stored card.
        cardHolderName:
          type: string
          description: Name on card.
        cardNumber:
          type: string
          description: PAN.
        expireYear:
          type: string
          description: Expiration year (YYYY).
        expireMonth:
          type: string
          description: Expiration month (MM).
        cvc:
          type: string
          description: Security code.
        registerCard:
          type: integer
          enum:
          - 0
          - 1
          description: Send 1 to store the card (card storage feature must be enabled).
      required:
      - cardUserKey
      - cardToken
    PaymentResponse:
      type: object
      properties:
        status:
          type: string
          description: It reports the result of the transaction. If the response returns success, it means
            the payment has been completed successfully.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Response language (tr/en).
        systemTime:
          type: integer
          description: Operation time (epoch ms).
        conversationId:
          type: string
          description: ID matching the request.
        price:
          type: string
          description: Basket total amount.
          format: decimal
        paidPrice:
          type: string
          description: Total charged amount.
          format: decimal
        installment:
          type: integer
          description: Installment count.
        paymentId:
          type: string
          description: Payment ID.
        fraudStatus:
          type: integer
          description: 'Payment status according to fraud filters.

            - 1: Approved

            - 0: Under review

            - -1: Declined

            '
          enum:
          - 0
          - -1
          - 1
        merchantCommissionRate:
          type: string
          description: Merchant’s installment/commission rate (informational).
          format: decimal
        merchantCommissionRateAmount:
          type: string
          description: Merchant’s installment/commission amount (informational).
          format: decimal
        iyziCommissionRateAmount:
          type: string
          description: iyzico commission amount.
          format: decimal
        iyziCommissionFee:
          type: string
          description: iyzico transaction fee.
          format: decimal
        cardType:
          type: string
          description: Card type.
        cardAssociation:
          type: string
          description: Card scheme/brand.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
          - TROY
        cardFamily:
          type: string
          description: Card product/family.
        binNumber:
          type: string
          description: BIN (first 8 digits).
        lastFourDigits:
          type: string
          description: Last 4 digits of the card.
        basketId:
          type: string
          description: Basket ID.
        currency:
          type: string
          description: Currency of the payment.
        itemTransactions:
          type: array
          description: Line items per basket item.
          items:
            type: object
            properties:
              paymentTransactionId:
                type: string
                description: Line-item ID; must be stored by the merchant (used for refund/approve operations).
              itemId:
                type: string
                description: Merchant-defined item ID in the basket.
              price:
                type: string
                description: Item price on merchant side.
                format: decimal
              paidPrice:
                type: string
                description: Collected amount allocated to this line item.
                format: decimal
              transactionStatus:
                type: integer
                description: 'Line item status.

                  - 0: In fraud check

                  - -1: Declined after fraud check

                  - 1: Approved (Marketplace: Waiting for Merchant Approval)

                  - 2: Approved (Marketplace approval given)

                  '
                enum:
                - 0
                - -1
                - 1
                - 2
              blockageRate:
                type: string
                description: Merchant blockage rate at line level.
                format: decimal
              blockageRateAmountMerchant:
                type: string
                description: Blockage amount reflected to the merchant.
                format: decimal
              blockageResolvedDate:
                type: string
                description: Blockage release date (yyyy-MM-dd HH:mm:ss).
              iyziCommissionFee:
                type: string
                description: iyzico fee allocated to the line item.
                format: decimal
              iyziCommissionRateAmount:
                type: string
                description: iyzico commission allocated to the line item.
                format: decimal
              merchantCommissionRate:
                type: string
                description: Merchant’s commission rate allocated to the line item.
                format: decimal
              merchantCommissionRateAmount:
                type: string
                description: Merchant’s commission amount allocated to the line item.
                format: decimal
              merchantPayoutAmount:
                type: string
                description: Amount to be paid to the merchant after fees/blocks.
                format: decimal
              convertedPayout:
                type: object
                description: Post-conversion calculations per line item.
                properties:
                  paidPrice:
                    type: string
                    description: Collected amount allocated to this line item.
                    format: decimal
                  iyziCommissionFee:
                    type: string
                    description: iyzico fee allocated to the line item.
                    format: decimal
                  iyziCommissionRateAmount:
                    type: string
                    description: iyzico commission allocated to the line item.
                    format: decimal
                  blockageRateAmountMerchant:
                    type: string
                    description: Merchant-side blockage amount.
                    format: decimal
                  merchantPayoutAmount:
                    type: string
                    description: Amount to be paid to the merchant after fees/blocks.
                    format: decimal
                  iyziConversationRate:
                    type: string
                    description: Conversion rate.
                    format: decimal
                  iyziConversationRateAmount:
                    type: string
                    description: Converted amount produced by the rate.
                    format: decimal
        authCode:
          type: string
          description: Authorization code returned by the bank.
        phase:
          type: string
          description: Payment phase.
        mdStatus:
          type: integer
          description: 3DS authentication result (1 means successful).
          enum:
          - -1
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
        hostReference:
          type: string
          description: Host reference returned by the bank/acquirer.
        signature:
          type: string
          description: Signature value that can be used for verification.
    PaymentResponse2:
      type: object
      properties:
        status:
          type: string
          description: Yapılan isteğin sonucunu bildirir.
          enum:
          - success
          - failure
        locale:
          type: string
          description: Yanıt dili (tr/en).
        systemTime:
          type: integer
          description: İşlem zamanı (epoch ms).
        conversationId:
          type: string
          description: İstek ile eşleşen ID.
        price:
          type: string
          description: Sepet toplam tutarı.
          format: decimal
        paidPrice:
          type: string
          description: Tahsil edilen toplam tutar.
          format: decimal
        installment:
          type: integer
          description: Taksit sayısı.
        paymentId:
          type: string
          description: Ödeme ID’si.
        fraudStatus:
          type: integer
          description: "Fraud filtrelerine göre ödeme durumu. Eğer ödemenin fraud risk skoru düşük ise\
            \ ödemeye anında onay verilir, eğer fraud risk skoru yüksek ise ödeme işlemi reddedilir. Üye\
            \ işyeri sadece 1 olan işlemlerde ürünü kargoya vermelidir, 0 olan işlemler için bilgilendirme\
            \ beklemelidir.\n - 1: Onaylandı\n - 0: İncelemede\n - -1: Reddedildi\n"
          enum:
          - 0
          - -1
          - 1
        merchantCommissionRate:
          type: string
          description: Üye işyerinin uyguladığı vade/komisyon oranı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon oranı %10’dur. Bilgi amaçlıdır.
          format: decimal
        merchantCommissionRateAmount:
          type: string
          description: Üye işyerinin uyguladığı vade/komisyon tutarı. Örneğin price=100, paidPrice=110
            ise üye işyeri vade/komisyon tutarı 10’dur. Bilgi amaçlıdır.
          format: decimal
        iyziCommissionRateAmount:
          type: string
          description: Ödemeye ait iyzico işlem komisyon tutarı.
          format: decimal
        iyziCommissionFee:
          type: string
          description: Ödemeye ait iyzico işlem ücreti.
          format: decimal
        cardType:
          type: string
          description: Kart tipi.
          enum:
          - CREDIT_CARD
          - DEBIT_CARD
          - PREPAID_CARD
        cardAssociation:
          type: string
          description: Kart kuruluşu.
          enum:
          - VISA
          - MASTER_CARD
          - AMERICAN_EXPRESS
          - TROY
        cardFamily:
          type: string
          description: Kart ailesi.
          enum:
          - Bonus
          - Axess
          - World
          - Maximum
          - Paraf
          - CardFinans
        binNumber:
          type: string
          description: BIN (ilk 8 hane).
        lastFourDigits:
          type: string
          description: Kartın son 4 hanesi.
        basketId:
          type: string
          description: Sepet ID.
        currency:
          type: string
          description: Para birimi.
          enum:
          - TRY
          - USD
          - EUR
          - NOK
          - CHF
          - GBP
        itemTransactions:
          type: array
          description: Sepet öğelerine ait işlem kalemleri.
          items:
            type: object
            properties:
              paymentTransactionId:
                type: string
                description: Ödeme kırılımına ait id, üye işyeri tarafından mutlaka saklanmalıdır. Ödeme
                  kırılımının iadesi, onayı, onay geri çekmesi ve iyzico ile iletişimde kullanılır. Tercihen
                  itemId ile ilişkili bir şekilde tutulmalıdır.
              itemId:
                type: string
                description: Üye işyeri tarafından iletilen, sepetteki ürüne ait id.
              price:
                type: string
                description: Üye işyeri tarafındaki sepetteki ürüne ait tutar.
                format: decimal
              paidPrice:
                type: string
                description: Tahsilat tutarının kırılım bazındaki dağılımı. Üye işyeri tarafından mutlaka
                  saklanmalıdır.
                format: decimal
              transactionStatus:
                type: integer
                description: 'Ödeme kırılımının durumu.

                  - 0: Fraud kontrolünde

                  - -1: Fraud kontrolünden sonra reddedildi

                  - 1: Onaylandı. (Pazaryerinde 1 değeri Üye İşyeri Onayı Bekliyor Anlamına Gelir)

                  - 2: Onaylandı (Pazaryeri Onay Verilmiş)

                  '
                enum:
                - 0
                - -1
                - 1
                - 2
              blockageRate:
                type: string
                description: Kırılım bazında üye işyeri blokaj oranı. iyzico – üye işyeri anlaşmasına
                  göre, üye işyerine işlem bazında blokaj uygulayabilir. Bu blokaj üye işyeri fraud riskini
                  önlemek içindir, blokaj süresi boyunca para iyzico’da tutulur, bu süre sonrasında üye
                  işyerine gönderilir.
                format: decimal
              blockageRateAmountMerchant:
                type: string
                description: Kırılım bazında üye işyeri blokaj tutarının, üye işyerine yansıyan rakamı.
                  Blokaj tutarı mümkün olduğunca üye işyerine yansıtılır. Eğer blokaj tutarı, üye işyeri
                  tutarından daha büyükse bu durumda alt üye işyerine de yansıtılır.
                format: decimal
              blockageRateAmountsubMerchant:
                type: string
                description: Kırılım bazında alt üye işyeri blokaj tutarı.
                format: decimal
              blockageResolvedDate:
                type: string
                description: İşlem bazında blokaj çözülme tarihi. yyyy-MM-dd HH:mm:ss formatındadır, örn.
                  2015-10-19 14:36:52.
              iyziCommissionFee:
                type: string
                description: iyzico işlem ücretinin kırılım bazında dağılmış tutarı.
                format: decimal
              iyziCommissionRateAmount:
                type: string
                description: iyzico işlem komisyon tutarının kırılım bazında dağılmış tutarı.
                format: decimal
              merchantCommissionRate:
                type: string
                description: Üye işyerinin uyguladığı vade/komisyon oranının kırılım bazında dağılmış
                  oranı.
                format: decimal
              merchantCommissionRateAmount:
                type: string
                description: Üye işyerinin uyguladığı vade/komisyon tutarıın, kırılım bazında dağılmış
                  tutarı.
                format: decimal
              merchantPayoutAmount:
                type: string
                description: Bu kırılım için, iyzico işlem ücreti, komisyon tutarı ve blokajlar düşüldükten
                  sonra üye işyerine gönderilecek tutar.
                format: decimal
              subMerchantPrice:
                type: string
                description: Alt üye işyeri hakedişi.
                format: decimal
              subMerchantPayoutRate:
                type: string
                description: Alt üye işyeri gönderilecek tutar oranı.
              subMerchantPayoutAmount:
                type: string
                description: Alt üye işyerine aktarılacak tutar.
                format: decimal
              convertedPayout:
                type: object
                description: Kırılım bazında, kur çevrimi sonrası hesaplamalar.
                properties:
                  paidPrice:
                    type: string
                    description: Tahsilat tutarının kırılım bazındaki dağılımı. Üye işyeri tarafından
                      mutlaka saklanmalıdır.
                    format: decimal
                  iyziCommissionFee:
                    type: string
                    description: iyzico işlem ücretinin kırılım bazında dağılmış tutarı.
                    format: decimal
                  iyziCommissionRateAmount:
                    type: string
                    description: iyzico işlem komisyon tutarının kırılım bazında dağılmış tutarı.
                    format: decimal
                  blockageRateAmountMerchant:
                    type: string
                    description: Kırılım bazında üye işyeri blokaj tutarının, üye işyerine yansıyan rakamı.
                      Blokaj tutarı mümkün olduğunca üye işyerine yansıtılır. Eğer blokaj tutarı, üye
[...]
